@charset "utf-8";
*{ margin:0; padding:0; border:0;}
li{ list-style:none;}
a{ text-decoration:none; color:#333} 
body{max-width:640px;min-width:320px;margin:0 auto; font-family:"微软雅黑"; font-size: 100%;font-size:14px;}
input[type="submit"],input[type="reset"],input[type="date"]{-webkit-appearance: none;}
textarea,select,input{-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}
.fl{ float:left;}
.fr{ float:right;}
.b{ vertical-align:top; width:100%;}
.clear{ clear:both; content:"";}

.tit{ font-size:20px; text-align:center; border-bottom:1px solid #ccc; width:95%; margin:3% auto; }
.xxx{ border-bottom:2px solid #000; width:20%; margin:0 auto; padding-bottom:2%}

.unshow {display: none;}

.banner{margin-top: 104px;}

#q2 p,#q4 p{ padding:4% 2%; text-indent:2em; line-height:25px;}
.tab1{width:90%; margin:0 auto}
.menu li{float:left;width:23%;text-align:center; background-color:#C9C9C9; line-height:75px; margin-right:2%; height:75px; position: relative;}
.menu li.off{ background-color: #019E97; color: #fff;}
.tab-arrow {position: absolute;width: 2rem;height: 2rem;bottom: -1.75rem;left: 0;right: 0;margin: auto;border: 1rem solid;border-color: #019E97 transparent transparent transparent;}
.menudiv .conl{ width:42%; float:left; margin:2% 2% 0 0;}
.menudiv .conr{ width:56%; float:left;}
.menudiv .conr p{ padding:2% 0}
.menudiv .conr .zx{ background-color:#EAB000; display:block; color:#fff; text-align:center; border-radius:15px; padding:3% 8%;}
.menudiv .conr ul{ margin-top:5%; width:100%}
.menudiv .conr ul li{ width:100%; line-height:30px; height:30px;}
.menudiv .conr ul li span{ background-color:#000; width:5px; height:5px; border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px; display:inline-block; margin-right:3%}
.menudiv {margin-top: 1rem;}
#pubBanner{ height:3.96rem; position:relative; overflow:hidden;}
#pubBanner .bd ul li,#pubBanner .bd{ width:6.4rem!important;position:relative}
#pubBanner .hd { bottom: 0.1rem; height: 0.12rem; position: absolute; text-align: center; width: 100%; z-index: 1; }
#pubBanner .hd ul { display: inline-block; font-size: 0; height: 0.12rem; padding: 0.03rem 0.05rem; vertical-align: top; }
#pubBanner .hd ul li {  display:block; height: 0.08rem; margin: 0 0.04rem; width: 0.7rem; background:#231815; float:left;}
#pubBanner .hd ul .on { background: none repeat scroll 0 0 red; }
.clearfix:after, #container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden }
.pub_width{max-width:6.4rem; width: 100%; margin:0 auto}

#q4 .js{ border:1px solid #019E97; width:95%; margin:0 auto 3%;}
#q4 .js .jsl{ width:40%; float:left; border-right:1px solid #019E97; text-align:center}
#q4 .js .jsl img{ width:90%; padding-top:2%}
#q4 .js .jsr{ width:58%; float:right; padding-top:3%}
#q4 .js .jsr strong{ color:#019E97;}
.q44{ width:90%; margin:3% auto;}
.q44l{ float:left; width:48%; margin-right:2%;}
.q44r{ float:left; width:48%;}

#q5 h3{ color:#018882; padding:3%; text-align:center}
#q5 ul{ height:70px;}
#q5 ul li{ float:left;}
#q5 ul li.tp{ width:22%; margin-left:2%}
#q5 ul li.border{ width:75%; border-top:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc; height:60px;}

#q6 ul{ width:98%; padding:0 0 0 2%;}
#q6 ul li{ float:left; width:48%; margin-right:2%;}
#q6 ul li.l{ margin-right:0;}
#q6 ul li p{ padding:5% 0; line-height:25px;}

#q7 .q66{ border-bottom:1px dashed #ccc; width:95%; margin:0 auto; padding:2% 0;}
#q7 h3{ color:#363636;}
#q7 ul li{ float:left; width:32%; margin:2% 0 2% 1%;}
#q7 span{ color:#999999; font-size:12px}

#q8 p{ width:90%; margin:0 auto; padding:3%; line-height:25px;}
#q8 p strong{ color:#019E97;}
#q8 p a{ color:#ff0000;}
#q8 .xx{ border-bottom:1px dashed #666; margin:2% 0 4%;}
#q8 .zx,#q9 .zx{ width:100%; text-align:center}
#q8 .zx img,#q9 .zx img{ width:80%;}
#q8 .q88{ width:95%; margin:0 auto;}
#q8 .q88 .q88l{ float:left; width:35%;}
#q8 .q88 .q88r{ float:right; width:64%;}
#q8 .q88 .q88r strong{ color:#007671; font-size:18px}
#q8 .q88 .q88r h3{ color:#238884; font-size:16px}
#q8 .q88 .q88r p{ font-size:15px; padding:0; width:100%}
#q8 .q88 .q88r span{ color:#238884}

#q9 ul{ width:98%; margin:0 auto 2%;;}
#q9 ul li{ float:left; text-align:center; width:48%; margin-bottom:2%; height:30px; line-height:30px;}
#q9 ul li a{ color:#fff;}
#q9 ul li.r1{ background-color:#6CB6B3; margin-right:2%;}
#q9 ul li.r2{ background-color:#4EC4A4;}
#q9 ul li.r3{ background-color:#15ACAE; margin-right:2%;}
#q9 ul li.r4{ background-color:#3AAE6A;}
#q9 ul li.r5{ background-color:#6CB6B3; margin-right:2%;}
#q9 ul li.r6{ background-color:#4EC4A4;}

#q10,#q9,#q8,#q7,#q6,#q5,#q4{ margin-top:5%}
#q10 dl{ width:80%; padding:0; margin:3% auto; line-height:30px; height:30px;}
#q10 dl p{ float:left; display:block; width:25%; text-align:right; margin-right:3%}
#q10 .bd{ border:1px solid #ccc; float:left; width:60%; margin:0 0 0 1%; font-size:13px; height:30px; line-height:30px;}
#q10 .bd2{ border:1px solid #ccc; float:left; width:60%; margin:0 0 0 1%; font-size:13px; height:50px; line-height:50px;}
#q10 span{ color:#ff0000;}
#q10 .tj{ float:left; width:35%; background-color:#F2B20F; color:#fff; height:30px; line-height:30px; text-align:center; border-radius:5px; margin:0 5% 0 15%}
#q10 .zx{ float:left; width:35%;color:#fff; height:30px; line-height:30px; background-color:#E14B32; text-align:center;border-radius:5px; font-size:14px}


.index_brand .hd{margin-bottom: 1rem;}
.index_brand .hd li{padding: 0;height: 2.5rem;line-height: 2.5rem;background: #e1e1e1; text-align: center;}
.index_brand .hd li a{font-size: 0.7rem;color: #444444;}
.index_brand .hd li.on{background: #d3ad6b;}
.index_brand .hd li.on a{color: #fff;}

.index_brand .bd ul {position: relative;}
.index_brand .bd ul p{font-size: 0.8rem; line-height: 1.4rem;}
.index_brand .bd ul img{padding: 0.1rem;}
.index_brand .bd .brand-msg {position: absolute;top: 0;background: rgba(255,255,255,.8);padding: 10%;bottom: 0;margin: 25px;text-align: left;text-indent: 2em;color: #333;}

.index_brand .address p {text-indent: 0;}
.index_brand .address .checkMap-btn {position: absolute;bottom: 10%;right: 10%;color: #fff;background: #1E1E1E;    padding: 5px 15px;border-radius: 5px;}



@media screen and (min-width:320px) and (max-width:900px) { 
.menu li{ height:45px; line-height:45px;}#q5 ul{ height:50px;}#q5 ul li.border{ height:auto}
} 
@media only screen and (min-width: 320px) and (max-width: 479px) {
.menu li{ height:45px; line-height:45px;}#q5 ul{ height:50px;}q5 ul li.border{ height:auto}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.menu li{ height:45px; line-height:45px;}#q5 ul{ height:50px;}q5 ul li.border{ height:auto}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
.menu li{ height:45px; line-height:45px;}#q5 ul{ height:50px;}q5 ul li.border{ height:auto}
}
