* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Microsoft Yahei", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-size: 100%;
	color:#666
}
img {
	border: 0 none;
	max-width:100%;
	vertical-align:top
}
ul, ol {
	list-style: none outside none;
}
input, select, textarea {
	outline: 0 none;
}
a {
	text-decoration: none;
	color:inherit;
}
.clear {
	clear:both;
}
.ban a{margin-top: -3%;display: block;margin-bottom: 3%}
.odd{margin-right:0 !important}
.mainer{min-width:320px;max-width:720px;overflow:hidden;margin:0 auto}
.t{text-align:center;font-size:30px;margin:50px auto 20px;color:#000}
.t h2{font-size:46px;margin-top:10px}
.zx{display:block;text-align:center;margin-top:20px}
.zx img{width:76%}
.num2 p{width:660px;margin:0 auto 20px;font-size:24px;line-height:36px}
.num3{margin-top:50px}
.num4 table{border-collapse:collapse;text-align:center}
.num4 table td{border:solid 1px #464646;}
.num4 dl{width:660px;margin:0 auto}
.num4 dl img{margin:20px 0}
.num4 dl dt{color:#006E89;font-size:30px;border-bottom:dashed 1px #464646;padding-bottom:10px;margin-bottom:10px}
.num4 dl dd p{font-size:24px;line-height:36px}
.num5{margin-top:50px}
.num6{text-align:center}
.num7{margin-top:50px}
.num9{text-align:center;}
.num9 .ntitle{margin:20px 0}
.num9 .ntitle h3{font-size:54px;color:#000}
.num9 .ntitle span{font-size:30px;color:#A68767}
.num9 a img{width:92%;margin:0 auto;}

#num8{ margin-top:40px;}
.num8 .cd{ position:relative;}
.num8 .cd a{width:360px; height:94px; text-indent:-9999px; position:absolute; top:15%; left:5%; margin-left:180px; margin-top:1px;}

@media (max-width:720px)
{
.t{font-size:20px;margin:30px 0 15px}
.t h2{font-size:30px}
.num2 p{font-size:16px;line-height:28px}
.num2 p{width:92%;margin:0 auto 20px}
.num3,.num5,.num7{margin-top:30px}
.num4 dl{width:92%;margin:0 auto}
.num4 dl dt{font-size:24px}
.num4 dl dd p{font-size:16px;line-height:28px}
.n6main{padding:0 4%}
.num8{margin-top:30px}
.num9 .ntitle h3{font-size:32px}
.num8 .cd a{width:360px; height:93px; text-indent:-9999px; position:absolute; top:15%; left:5%; margin-left:180px; margin-top:1px;}

}
@media (min-width:414px)
{
.num6 .cd a{width:210px; height:54px; text-indent:-9999px; position:absolute; top:15%; left:5%; margin-left:105px; margin-top:1px;}

}
@media (max-width:375px)
{
.t h2{font-size:28px}
.num6 .cd a{width:190px; height:48px; text-indent:-9999px; position:absolute; top:15%; left:5%; margin-left:95px; margin-top:1px;}

}
@media (min-width:320px)
{
.num6 .cd a{width:165px; height:42px; text-indent:-9999px; position:absolute; top:15%; left:5%; margin-left:80px; margin-top:0px;}

}
















