*{
	margin: 0;
	text-decoration: none;
    font-family: '微软雅黑';
    text-align: center;
}
ol, ul {
	list-style: none;
	padding: 0;
}
a {
	display: inline-block;
}
i {
	display: inline-block;
	font-family: normal;
}
img {
	max-width: 100%;
    vertical-align: middle;
}
section {
	position: relative;
}
body {
    background-color: #F76C41;
}
.flex {
    display: flex;
}
.red {
    color: #ff0000;
}

.content {
    background-color: #fff;
    border-radius: .625rem;
    margin: 0 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
}
.list, .img-list {
    flex-wrap: wrap;
}
.list li {
    width: 25%;
    font-size: .9rem;
}
.title {
    text-align: left;
    padding-left: 1rem;
    color: #999;
    margin: .625rem 0 .3125rem 0;
}
.content h1 span {
    display: inline-block;
    background-color: #F00F00;
    color: #fff;
    border-bottom-right-radius: .625rem;
    border-bottom-left-radius: .625rem;
    padding: .5rem 1rem;
    width: 80%;
}
.content .name input, .content .phone input {
    display: block;
    width: 90%;
    margin: auto;
    text-align: left;
    padding: .75rem .5rem;
}
.submit-btn {
    margin-top: 1.5rem;
}
.submit-btn a {
    background-color: #EC4A3F;
    color: #fff;
    padding: .75rem 4.375rem;
    border-radius: 1.25rem;
    font-size: 1.25rem;
}
.img-list {
    justify-content: space-around;
}
.img-list li {
    width: 45%;
    margin-top: 1rem;
}
.img-list2 {
    margin: 1rem;
}
.img-list2 li {
    margin-top: 1rem;
}
.name {
    margin-bottom: 1rem;
}
.bottom {
    text-align: center;
    line-height: 1;
    margin-bottom: 1rem;
    color: #fff;
}
.sign{
    margin-top: 1rem !important;
}
