html{font-size: 62.5%;}
*{ padding:0; margin:0; font-style:normal;}
body{ width:100%;  font:12px "Microsoft YaHei", "宋体", Arial, Helvetica, sans-serif; color: #3a3939; background:#fff;}
img{ border:0; max-width:100%; height:auto;}
li{ list-style:none;}
a{ color:#3a3939; text-decoration:none; cursor:pointer;}
a:hover{ color:#593921; text-decoration:none;}
.margin-auto {margin: auto;}
.remove{ clear:both; visibility:hidden;}
.fl{ float:left;}
.fr{ float:right;}
.wid24{ width:24.9%;}
.borr{border-right:1px solid #e3e3e3;}
.bort{border-top:1px solid #e3e3e3;}
.mart27{ margin-top:3%;}
.mart20{ margin-top:-22%;}
.mart8{ margin-top:4%;}
.mart6{ margin-top:6%;}
.mart5{ margin-top:5%;}
.mart4{ margin-top:4%;}
.mart1_1{ margin-top:1.1%;}
.mart1{ margin-top:1%;}
.mart2{ margin-top:2%;}
.padb10{ padding-bottom:10%;}
.linh2{ line-height:2rem;}

/*头部轮换图片和专家轮换*/
.block_home_slider {position: relative;text-align: center;line-height: 0px;margin-right: auto;margin-left: auto;} 
.block_home_slider .slide {position:relative;}
.block_home_slider .caption {padding:13px 16px 12px; position:absolute; left:0px; right:0px; bottom:0px; text-align:left;}
.block_home_slider .caption p {padding-bottom:0px; font-size:11px; color:#dedede; text-shadow:0px -1px #000000; line-height:17px;}
.block_home_slider .caption p.title {padding-bottom:6px; font-size:15px; color:#ffffff; font-weight:bold; line-height:normal;}
.block_home_slider .flex-direction-nav a {width:16px; height:59px; margin-top:-40px; display:block; position:absolute; top:50%; background-repeat:no-repeat; background-image:url(../images/zt/sprite_arrow_2.png); text-indent:-9000px;}
.block_home_slider .flex-direction-nav a.flex-prev {left:2px; background-position:left top; background-image:url(../images/left.png);}
.block_home_slider .flex-direction-nav a.flex-prev:hover {background-position:left bottom;}
.block_home_slider .flex-direction-nav a.flex-next {right:2px; background-position:right top; background-image:url(../images/right.png);}
.block_home_slider .flex-direction-nav a.flex-next:hover {background-position:right bottom;}
.js_banner .block_home_slider .flex-control-paging { position:absolute; bottom:-7%; left:40%; display:inline-block;}
.block_home_slider .flex-control-paging li {margin-left: 1%;padding: 0px;float: left;overflow: hidden;list-style-type: none;}
.flex-direction-nav{ display:none;}
#home_slider2 .flex-direction-nav,#home_slider3 .flex-direction-nav{ display:block;}
#home_slider2 .flex-control-nav,#home_slider3 .flex-control-nav{ display:none;}
.block_home_slider .flex-control-paging li a {width:12px; height:12px; display:block; background-repeat:no-repeat; background-image:url(../images/zt/sprite_nav_3.png); text-indent:-9000px; cursor:pointer;}
.block_home_slider .flex-control-paging li a.flex-active {background-position:right top;}
.block_home_post_feature {width:300px;}
.block_home_post_feature p {padding-bottom:0px;}
.flex-control-nav{ width:50%;}
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none;-webkit-backface-visibility: hidden;list-style-type: none;} 
.qh_zj .flexslider .slides > li .img{ width:23.5%; margin-left:7.3%; float:left;}
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/*儿童齿科*/
.etck01{ margin-top:4%;}
.etck01 img{ width:31.25%; height:auto; margin-left:1.5625%; float:left;}
.etck_jc{ width:95.3125%; height:auto; overflow:hidden; font-size:1em; line-height:1.5em; text-indent:2em; text-align:left; color:#333;}
.etck_zx{ width:52.8125%; height:auto;}
.etck_dyb{ width:100%; height:auto; overflow:hidden; background-color:#fffad4; margin-top:5%;}
.etck_tit{ width:59.6875%; height:auto;}
.etck_yi{ width:97.65625%; height:auto; overflow:hidden;}
.etck_al_l{ width:50.24%; height:auto; float:left;}
.etck_al_r{ width:45.76%; height:auto; float:right;}
.etck_al_r img{ width:100%; height:auto; margin-top:4%;}
.etck_al_r p{ width:100%; height:auto; overflow:hidden; margin-top:2%; font-size:0.8em; line-height:1.3em; text-indent:2em; text-align:left; color:#825000;}
.etck_an{ width:77.8125%; height:auto; overflow:hidden; margin-bottom:8%;}
.etck_an img{ width:44.1767%; height:auto; }
.etck_yf{ width:96.875%; overflow:hidden;}
.etck_yfimg{ width:43.225%; height:auto; float:left;}
.etck_zbt{ width:97.5%; height:auto; overflow:hidden;}
.etck_tj{width:86.5625%; height:auto; overflow:hidden;}
.etck_qc{width:83.125%; height:auto; overflow:hidden;}
.etck_yw{width:36.25%; height:auto; overflow:hidden; margin-bottom:8%;}
.etck_ybs{width:65%; height:auto; overflow:hidden;}
.etck_cgal{width:58.4375%; height:auto; overflow:hidden;}
.etck_hz{width:25%; height:auto; overflow:hidden; float:left;}
#home_slider11 .flex-control-paging { position:absolute; bottom:6%; left:45%; display:inline-block;}
#home_slider11 .flex-control-paging li a {width:12px; height:12px; display:block; background-repeat:no-repeat; background-image:url(../images/sprite_nav_4.png); text-indent:-9000px; cursor:pointer;}
.qh_zjet .flexslider .slides > li .img{ width:30.645%; margin-left:1.5%; margin-right:1%; float:left;}

.js_part6{ width:100%; height:auto; overflow:hidden;}
.js_part6 .qbpj{ width:100%; height:24%; margin-top:3%; overflow:hidden;}
.js_part6 .qbpj li{ width:24%; height:100%; font-size:1.8rem; color:#333333; text-align:center; line-height:220%; float:left; border-radius: 1rem; margin-left:1%;}
.js_part6 .qbpj .on{ background-color:#a67c03; color:#FFF;}
.js_part6 .qbpj li img{ width:15%; height:auto;}
.js_part6 .flpj{ width:100%; height:57%; margin-top:2%; padding-top:2%; overflow:hidden; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; padding-bottom:3%; background-color:#f5f5f5;}
.js_part6 .flpj li{ width:23%; height:43%; margin-left:1%; border:1px solid #e5e5e5;border-radius: 1rem; font-size:1.7rem; color:#656565; text-align:center; line-height:220%; margin-top:1%; float:left;}
.js_part7s{ width:100%; overflow:hidden;}
.js_part7{ width:100%; height:auto; margin-top:3%; overflow:hidden;}
.js_part7 li{ width:100%; height:auto; float:left; border-bottom:1px dashed #e4e4e4; padding-bottom:3%; margin-bottom:3%;}
.js_part7 li .top{ width:96%; height:49.2%; overflow:hidden;}
.js_part7 li .top img{ width:10.1%; height:auto; float:left;}
.js_part7 li .top p{ width:86.7%; height:auto; float:right; font-size:1.7rem; text-align:left; color:#656565;  line-height:1.7rem;}
.js_part7 li .top p font{ color:#eeb42e;}
.js_part7 li .bot{ width:96%; height:auto; margin-top:2%; font-size:2rem; color:#333333; text-align:left; }
.js_part8{ width:100%; height:auto; overflow:hidden; margin-top:3%; margin-bottom:10%;}
.js_part8 .t{ width:96%; height:10%; overflow:hidden;}
.js_part8 .t span{ width:50%; height:100%;background-color:#a67c03; color:#FFF;border-radius: 1rem; float:left; text-align:center; font-size:2.2rem; line-height:180%;}
.js_part8 .c{ width:63%; height:6%; margin-top:5%; overflow:hidden;}
.js_part8 .c li{ width:33.3%; height:100%; font-size:1.5rem; text-align:left; float:left;}
.js_part8 .c li .on_y{ width:18.6%; height:100%;  float:left; overflow:hidden;}
.js_part8 .c li .on_y img{ width:100%; height:auto;}
.js_part8 .c li p{ width:77%; height:100%; float:right; font-size:2.2rem; color:#656565; text-align:left;}
.js_part8 .c li p img{ width:20%; height:auto;}
.js_part8 .b{ width:85%; height:auto; overflow:hidden; margin-top:3%;}
.js_part8 .b li{ width:100%; height:23.8%; float:left; margin-bottom:3%;}
.js_part8 .b li .xg{ width:auto; height:100%; float:left; font-size:2.2rem; color:#656565; text-align:left; line-height:185%;}
.js_part8 .b li .xx{ width:55%; height:100%; float:right;}
.js_part8 .b li .xx a{ width:13.7%; height:100%; margin:0 3%; float:left;}
.js_part8 .b li .xx a img{ width:100%; height:auto;}
.js_part8 .fb{ width:100%; height:26.5%; display:block; border-bottom:1px solid #e4e4e4; border-top:1px solid #e4e4e4; margin-top:3%; text-align:left; overflow:hidden;}
.js_part8 .fb form{ width:100%; height:100%; overflow:hidden;}
.js_part8 .fb .text{ width:75%; height:68%; margin-top:3%; margin-left:2.5%; float:left; border:none; text-align:left; line-height:60%; color:#999999; font-size:1.8rem;}
.js_part8 .fb .sub{ width:20%; height:100%; float:right; border:none; font-size:3rem;}
.js_part8 .fb .sub img{ width:100%; height:auto; cursor:pointer;}
.js_bots{ width:100%; height:auto; padding-top:3%; padding-bottom:3%; overflow:hidden; background-color:#a67d01; position: fixed;bottom: 0; font:12px "微软雅黑", "宋体", Arial, Helvetica, sans-serif; z-index:9999999;}
.js_bot{ width:100%; height:auto; overflow:hidden;}
.js_bot a{ width:25%; height:100%;color:#ffffff; text-align:center;  float:left; font-size:2.5rem; }
.js_bot .on{ color:#fff; background-color:#a67d01;}

/*不磨牙瓷贴面*/
.bmy_gb{ width:93.75%; height:auto; overflow:hidden; text-align:left;}
.bmy_gb .img{ width:4.166%; float:left;}
.bmy_gb span{ width:auto; float:left; font-size:1.1em; text-align:left; line-height:1em; color:#a40000; font-weight:bold;}
.bmy_gb p{width:auto; float:left; margin-left:1%; font-size:1em; text-align:left; line-height:1.2em; color:#333;}
.bmy_zx1{ width:26.718%; float:left;}
.bmy_zx2{ width:11.5625%; float:left;}
.bmy_zx3{ width:23.7%; float:left;}
.bmy_zx4{ width:11.25%; float:left;}
.bmy_p{ width:93.75%; height:auto; font-size:1em; overflow:hidden; text-align:left; text-indent:2em; color:#333;}
.bmy_p1{width:80%;}
.bmy_p2{width:100%; height:2px; border-bottom:1px dashed #ccc; margin-top:3%;}
.bmy_p3{width:56.25%; margin-top:3%;}
.bmy_p4{ width:83.75%; float:left; margin-left:13%;}
.bmy_p4 .img{ width:16.04%; float:left;}
.bmy_p4 .r_n{ width:81.716%; float:right;}
.bmy_p4 .r_n img{ width:22.831%; float:left; margin-top:3%;}
.bmy_p4 .r_n p{ width:100%; float:left; font-size:1em; text-align:left; line-height:1.5em; color:#333;}
.bmy_p5{ width:100%; height:auto; overflow:hidden; background:#eeeeee; margin-top:3%;}
.bmy_p5 img{ width:53.125%; margin-top:6%;}
.bmy_p5 p{ width:93.75%; height:auto; overflow:hidden; margin-top:3%; font-size:1em; color:#333; text-align:left; line-height:1.4em; text-indent:2em; margin-bottom:5%;}
.bmy_al{ width:39.375%; float:left; margin-left:3%;}
.bmy_gd{ width:100%; height:auto; overflow:hidden;}
.bmy_gd .block_home_slider{ width:91.5625%;}
#home_slider18{width:87.372%; margin:0 auto;}
#home_slider18 .flex-direction-nav a{ text-indent:inherit; background-image:none;}
#home_slider18 .flex-direction-nav a.flex-prev { width:2.7%; height:23.985%;left:0; top:76%;  }
#home_slider18 .flex-direction-nav a.flex-next {width:2.7%; height:23.985%;right:0; top:76%;  }
#home_slider18 .slide img{ width:100%;}
#home_slider18 .slide .img1{width:49.02%;}
.bmy_fkl{ width: 53.333%; height:auto; overflow:hidden; float:left;}
.bmy_fkl img{ width:50%; float:left;}
.bmy_fkr{ width:46.666%; height:auto; overflow:hidden; float:right;}
.bmy_zzgh{ width:21.71%; margin-top:5%; height:auto; overflow:hidden;}
.zzyfls{ width:96.875%; height:auto;margin:5% auto 0; padding-bottom:8%;}
.mfdh{ width:35.483%;  height:23px; font-size:1.2em; text-align:center; line-height:23px; color:#333; float:left;}
.mfhj{ width:64.354%; height:auto; float:left; }
.mfhj input{  width:70%; height:21px; float:left; border:1px solid #ccc; border-right:0;text-indent:1em; border-radius:3px 0 0 3px; color:#b3b2b2;}
.mfhj button{border:0; width:28.571%; height:23px;float:left; background:url(../images/zt/mfhj2.jpg) no-repeat; background-size:100% auto; background-size:auto 100%;
}
#xfyh {width: 21.4%;position: fixed;left:0;z-index: 99999999;top: 45%;}
.wxts{ display:none;}
.name_right select{ height:37px!important;  display:block;}
.zzyfl{ width:96.875%; height:auto; overflow:hidden; margin:5% auto 0; }
.zzyfl .dbzx1{ width:23.225%; margin-bottom:3%;}
.zzyfl .dbzx2{ width:24.838%;}
.zzyfl .dbzx3{ width:24.677%;}
.zzyfl .dbzx4{ width:27.258%;}
.bmy_b2{border-bottom:1px dashed #c2c2c2;}

/*烤瓷牙css*/
.kcy_bt1{ width:85.78125%;}
.kcy_bt2{ width:35.78125%;}
.kcy_cz{ width:100%; height:auto; overflow:hidden;}
.kcy_cz img{ width:30.78125%; float:left; margin-left:1.9%;}
.kcy_ts{ width:96.875%; overflow:hidden;}
.kcy_xf{ width:100%; height:auto; overflow:hidden;}
.kcy_xf img{ width:22.65625%; float:left; margin-left:1.9%;}
.kcy_zx{width:82.65625%; height:auto; overflow:hidden;}
.kcy_zx img{width:43.66729679%;}
.kcy_al{width:96.25%; height:auto; overflow:hidden;}
.kcy_al img{width:49.35%;}
.kcy_cz{ width:100%; height:auto; overflow:hidden; font-size:1.3em; line-height:1.5em; text-indent:2em; text-align:center; color:#333;}
.kcy_pk{ width:88.59375%;}
.kcy_pj{ width:96.875%; height:auto; overflow:hidden; font-size:2em; line-height:2em; text-align:left; color:#b49650;}
.kcy_foot{ width:100%; height:auto; overflow:hidden;position: fixed;bottom: 0;}
.kcy_foot img{ float:left;}
.kcy_foot a{ display:block; height:auto;}
.kcy_foot .img1{width:17.34375%;}
.kcy_foot .img2{width:15.9375%;}
.kcy_foot .img3{width:16.09375%;}
.kcy_foot .img4{width:34.6875%;}
#home_slider12 .flex-control-paging { position:absolute; bottom:6%; left:45%; display:inline-block;}
#home_slider12 .flex-control-paging li a {width:12px; height:12px; display:block; background-repeat:no-repeat; background-image:url(http://wap.ybskq.cn/img/zt/sprite_nav_4.png); text-indent:-9000px; cursor:pointer;}
.kcy_zj .flexslider .slides > li .img{ width:31.09375%; margin-left:1.5%; margin-right:0.5%; float:left;}

/*根管治疗*/
.maing{
	width:100%;
	}
.maing_main{
    width:95%;
	text-align:center;
	margin:0 auto;
	}
.maing_text{
    width:100%;
	float:left;
	text-align:center;
	font-size:1em;
	margin-top:3%;
	}
.maing_text1{
   width:100%;
}
.maing_hhk{
    width:100%;
	float:left;
	text-align:center;
	margin:0 auto;
	
	}
.maing_text1_p1{
	color:#050505;
	text-align:center;
	font-family:"SimSuncss";
	
	font-weight:bold;	
	font-size:1.4em;
	margin-top:10px;
	}
.maing_text1_p2{
    width:100%;
	font-size:1.4em;
	color:#333333;
	text-align:center;
	float:left;
	

	}
.maing_zhenduan{
	width:100%;
    margin-top:15px;
	float:left;
	

	}
.maing_title1_z1{
	height:35px;
	width:50%;
	float:left;
	text-align:center;
	}	
.maing_title1_z2{
	height:35px;
	width:50%;
	float:left;
	text-align:center;
	}
.maing_title1_z3{

	width:50%;
	float:left;
	text-align:center;
	line-height:50px;
	margin-top:-42px;
	color:#333333;
	
	font-size:1.2em;
}
.maing_title1_z4{
	width:50%;
	float:left;
	text-align:center;
	line-height:50px;
	margin-top:-51px;
	margin-left:50%;
	color:#333333;
	
	font-size:1.2em;
}
.maing_zd{
    width:90.1562%;
	margin-top:10px;
	margin:0 auto;
	}
.maing_zd_left{
	width:50%;
	float:left;

	}
	
.maing_zd_left_z1{
	width:100%;
	float:left;
	text-align:center;
		}
.maing_zd_left_z2{
	width:50%;
	float:left;
	margin-top:-15px;
	height:100%;
	}
.maing_zd_left_z2 ul{
	padding:0px;
	list-style-type:none;
	}
.maing_radius{
    margin:0 auto;
	text-align:center;
	}
.maing_zd_right_radius{
	border-radius:5px 5px 5px 5px;
	border:1px #FF0000 solid;
	width:70%;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 5px;
	 margin-top:10px;
	 text-align:center;
	}
.maing_zd_right{
    width:50%;
	float:left;
	overflow:hidden;

	}
.maing_zd_right1{
    width:100%;
	float:left;
	text-align:center;

	}

.maing_zd_right_go{
    width:100%;
	float:left;
	text-align:center;
	margin-left:10%;
	
	}
.maing_zd_right_2{
    width:100%;
    color:#FF0000;
	font-size:1.1em;
    }
.maing_zd_right_2 a{color:#FF0000;}
.maing_zd1{
   width:100%;
   text-align:center;
   }
.maing_zd1_text_1{
    color:#050505;
	text-align:center;
		
	font-weight:bold;	
	font-size:1.4em;
	margin-top:5%;
	float:left;
	width:100%;
	margin-bottom:2%;

  }	
 .maing_zd1_text1_1{
    color:#d69b2b;
	text-align:center;
		
	font-weight:bold;	
	font-size:1.3em;
	float:left;
	width:100%;
  }	
.maing_zd1_text_2{
    width:90%;
    font-size:1em;
	color:#333333;
	text-align:left;
	margin:0 auto;
	margin-top:10px;
   }
.maing_zd_1_1{
    height:35px;
	width:45.9272%;
	float:left;
	text-align:center;
	margin:0 auto;
	margin-top:10px;
	
	}
.maing_zd_1_2{
	height:35px;
	width:45.9272%;
	float:left;
	text-align:center;
	margin:0 auto;
	margin-top:10px;
	margin-left:6%;
	}
.maing_zd_1_3{
    width:50%;
	float:left;
	text-align:center;
	line-height:50px;
	margin-top:-49px;
	margin-left:50%;
	color:#333333;
	
	font-size:1.2em;
	}
.maing_zd_1_4{
    width:50%;
	float:left;
	text-align:center;
	line-height:50px;
	margin-top:-50px;
	margin-left:0 auto;
	color:#333333;
	
	font-size:1.2em;
	}
.maing_zd_2{
    width:100%;
	text-align:center;
}
.maing_zd_gg{
    width:100%;
	margin-left:10px;
	float:left;
	}
.maing_zd_2_1{
	width:45%;
	float:left;
	text-align:center;
	font-size:1em;
	color:#333333;
	
	margin-top:3%;
   }
.maing_zd_2_1 ul{
   padding:0px;
   list-style-type:none;
   }
.maing_zd_2_1 ul li{
   padding:0px;
   margin-top:3%;   }
   
.maing_zd_2_2{
    width:55%;
	float:left;
   }
.maing_zd_2_3{
    height:50px;
    width:60%;
	float:left;
	margin-top:20px;
	margin-left:10px;
	}
main_zd_2_gg{
    width:50%;
	float:left;
	}
.maing_zd_2_al{
    height:50px;
    width:50%;
	float:left;
	margin-top:20px;
	}
.maing_zd_2_al1{
    width:51%;
	float:left;
	text-align:center;
	margin-top:-45px;
	color:#333333;
	

	font-size:1.2em;
	}
.maing_zd_2_ts{
    height:50px;
    width:60%;
	float:left;
	margin-top:20px;
	}
.maing_zd_2_ts1{
    width:60%;
	float:left;
	text-align:center;
	margin-top:-45px;
	color:#333333;
	
	font-size:1.2em;
	}
.maing_zd_2_4{
    width:60%;
	float:left;
	text-align:center;
	margin-top:-45px;
	color:#333333;
	
	font-size:1.2em;
	}
.maing_zd_2_5{
    height:50px;
    width:60%;
	float:left;
	text-align:left;
	margin-top:-45px;
	color:#333333;
	
	font-size:1.2em;
	margin-left:-32%;
	}
.maing_zd_2_6{
    height:80px;
    width:100%;
	float:left;
	text-align:center;
	margin-top:20px;
	}
.maing_zd_2_7{
    width:100%;
	float:left;
	text-align:left;
	margin-top:-80px;
	color:#333333;
	
	font-size:0.9em;
	}
.maing_zd_9{
    width:20%;
	float:left;
	text-align:left;
	margin-top:-45px;
	color:#333333;
	
	font-size:13px;
	}
.maing_zd_2_text{
    width:40%;
	float:left;
	text-align:left;
	color:#333333;
	
	font-size:13px;
	}

.maing_zd_2_5{
    width:100%;
	text-align:center
	}
.maing_zd_3{
    width:100%;
	text-align:center;
	margin:0 auto;
	}
.maing_zd_3_1{
    width:50%;
	text-align:center;
	float:left;
	}
.maing_zd_3_1_1{
    width:47%;
	text-align:center;
	float:left;
    }
.maing_zd_3_1_2{
    width:53%;
	float:left;
	text-align:center;
	}
.maing_zd_3_2{
    width:50%;
	text-align:center;
	float:left;
	}
.maing_zd_3_3{
    width:100%;
	text-align:center;
	margin-top:15px;
	}
.maing_dht{
    width:100%;
	margin-top:10px;
	text-align:center;
	float:left;
	margin-bottom:10px;
	}
.maing_dht1{
    width:100%;
	margin-top:10px;
	}
.maing_zd_4{
    width:100%;
	text-align:center;
	margin-top:5%;
	float:left;
    }
.maing_zxyy{
    width:100%;
	text-align:center;
	margin:0 auto;
	margin-top:10px;
	float:left;
	}
.maing_zxyy_1{
    width:50%;
	text-align:center;
	float:left;
	margin:0 auto;
}
.maing_zxyy_1_1{
    width:50%;
	text-align:center;
	float:left;

}
.maing_zxyy_1_2{
    width:50%;
	text-align:center;
	float:left;

}
.maing_zxyy_2{
    width:50%;
	text-align:center;
	float:left;
}
.maing_zd_5{ 
    width:100%;
	text-align:center;
	}
	
.maing_zd_5_left{ 
    width:10%;
	text-align:center;
	float:left;
	}
.maing_zd_5_mid{
    width:80%;
	float:left;
	text-align:center;
	}
.maing_zd_5_right{ 
    width:10%;
	text-align:right;
	float:left;
	}
.maing_zd_hhk1{
    width:20%;
	float:left;
	
	font-size:1.4em;
	color:#333333;
	}

.maing_zd_hhk2{
	float:center;
	text-align:center;
	width:100%;
	margin:0 auto;
	font-size:1.6em;
	font-family:"微软雅黑"；
	}
.maing_wd{
   margin-left:10px;
   }
.maing_f{
 width:100%;
 float:left;
 margin-top:10px;
 }
.maing_f_z1{
	width:13%;
	float:left;
 	}
.maing_f_z2{
	width:87%;
	float:left;
	color:#d69b2b;
	font-size:1.1em;
	line-height:1.6em;
 	}
.maing_f_z1_t{
	border:1px #d69b2b solid;
	margin-top:0px;
	width:20px;
	height:20px;
	text-align:center;
	font-size:1.3em;
	color:#d69b2b;
	
	}
.maing_f2{
 width:96%;
 float:left;
 margin-top:10px;

 
 }
.maing_f2_z1{
	width:13%;
	float:left;

	
 	}
.maing_f2_z2{
	width:87%;
	float:left;
	color:#333333;;
	font-size:1.1em;

	
 	}
.maing_f2_z1_t{
	border:1px #858585 solid;
	margin-top:0px;
	width:20px;
	height:20px;
	text-align:center;
	font-size:1.3em;
	color:#333333;
	
	}
 
.maing_zhuanjia{
    margin-top:15px;
	}	
.maing_xt{
	 width:100%;
	 margin-top:10px;
	 float:left;
	 }
.maing_zzgh{
    width:100%;
	float:left;
	text-align:center;
		
	font-weight:bold;	
	font-size:1.6em;
	margin-top:10px;
	}
.maing_fuwu{
    margin-left:5px;
	margin-right:5px;}
.ggzl_algd{ width:85.9375%; margin:0 auto; height:auto; overflow:hidden;}
.ggzl_algd .block_home_slider{ width:100%;}
#home_slider21{width:78.909%; margin:0 auto; height:auto; overflow:hidden;}
#home_slider21 .flex-direction-nav a{ text-indent:inherit; background-image:none;}
#home_slider21 .flex-direction-nav a.flex-prev { width:6.363%; left:0; top:72%;  }
#home_slider21 .flex-direction-nav a.flex-next {width:6.363%;right:0; top:72%;  }
.ggzl_zds{ width:95%; height:auto; overflow:hidden;margin:0 auto;}
.ggzl_zd{ width:77.03125%; height:auto; overflow:hidden; margin:5% auto 0;}
.ggzl_zd .zwzd{ width:38.945%; height:auto; overflow:hidden; position:relative;}
.ggzl_zd .zwzd p{ width:100%; height:auto; overflow:hidden; position:absolute; left:0; top:0; font-size:1.2em; color:#333; text-align:center; line-height:1.5em; font-family:"Microsoft YaHei";}
.ggzl_nr{ width:100%;height:auto; overflow:hidden;  margin:5% auto 0; font-family:"Microsoft YaHei";}
.ggzl_nr .zuoc{ width:45%; height:auto; overflow:hidden; float:left;  margin-left:2%;}
.ggzl_nr .zuoc li{ width:100%; height:auto; overflow:hidden; margin-bottom:8%;}
.ggzl_nr .zuoc li img{ width:44.318%; float:left;}
.ggzl_nr .zuoc li p{ width:54%; float:right; margin-top:5%; font-size:1em; color:#666; text-align:left; line-height:1.2em;}
.ggzl_nr .youc{ width:45%; height:auto; overflow:hidden; float:right;}
.ggzl_nr .youc p{width:100%;  margin-top:1%; font-size:1em; color:#666; text-align:center; line-height:1.2em;}
.ggzl_nr .youc li{ margin-bottom:2%;}
.ggzl_nr .youc .li01{ width:44.44%; height:auto; overflow:hidden; float:left;}
.ggzl_nr .youc .li02{ width:53.872%; height:auto; overflow:hidden; float:right;}
.ggzl_nr .youc a{ width:auto; height:auto; overflow:hidden; padding:1% 2%; border:1px solid #F00; font-size:1.2em; color:#F00; line-height:1.2em; float:left; margin-left:10%; text-align:center; border-radius:5px; margin-top:3%;}
.ggzl_bt{height:auto; overflow:hidden; margin:5% auto 0;}
.ggzl_bt1{width:84.6875%; }
.ggzl_bt2{width:71.0937%;}
.ggzl_bt3{width:56.25%;}
.ggzl_bt4{width:66.5625%;}
.ggzl_bt5{width:80.9375%;}
.ggzl_bt6{width:21.0937%;}

@media screen and (min-width:375px){
.pd_zzy ul li{ line-height:240%;}
.zztx_xs p{ line-height:1.42em;}
#home_slider14 .slide p{ line-height:1.7em;}
.lgmb_pj{font-size:1.5em;}
.zhichi_t{ font-size:1.7em;}
.zhichi_wh .wh_z .zhichixc p,.wh_ls p,.bmy_p,.bmy_gb p{ font-size:1.2em; line-height:1.1em;}
.wh_ls p{ line-height:1.4em;}
.wh_ls_p,.wh_qx p,.wh_bw .zleft,.wh_bz .bzb .zb_b .zbr p,.wh_zj .bzb .zb_b .zbr p,.zhichi_rs span,.bmy_p4 .r_n p,.bmy_p5 p,.zhuya_dy p,.zhuya_wz,.yxjz_lb p,.yxjz_qh .yx_qx1,.buya_p,.ctjz_cz p,.ctjz_wz li{ font-size:1.1em;}
.lgmb_js,.zztx_xs p font,.lgmb_dy p,.wh_ls_p font,.wh_bw .zleft font,.wh_qx p b,.yxjz_qh .yx_qx1 span,.ctjz_wt{font-size:1.2em;}
.wh_bw .zleft{ line-height:1.3em;}
.wh_bz .bzt span,.wh_bz .bzc span,.wh_zj .bzc span,.wh_zj .bzt span,.yxjz_p1,.ctjz_zx{ font-size:1.3em;}
.wh_bz .bzb .zb_b .zbr p,.wh_zj .bzb .zb_b .zbr p{ line-height:1.3em;}
.bmy_gb span{ font-size:1.2em; line-height:1.1em;}
.buya_tit{ font-size:2em;}

}

@media screen and (min-width:384px){
.wh_zj .bzc span,.wh_bz .bzc span{ font-size:1em;}
.bmy_gb .img{ margin-top:1%;}
	}






/*头部*/
#qone{ position:fixed; top:0; z-index:1; height:60px; overflow:hidden;}
#qtwo{ margin:35px auto 0; position:relative; overflow:hidden; width:100%; display:block;}
#qthree{ width:100%; overflow:hidden; background-color:#b51c3b;}
#qthree ul{ width:100%;}
#qthree ul li{ float:left; width:20%; display:inline-block; text-align:center; height:35px; line-height:35px}
#qthree ul li a{ color:#fff;}
/*头部*/
/*尾部导航*/
#qnight img{ display:block; margin:0 auto;}
#qten img{ margin:20px auto;}
#qten p{ text-align:center; color:#999999; line-height:25px;}
/*尾部导航 end*/

