i {
	display: inline-block;
}
.content-box-1 {
    margin-top: 120px;
}
.content-title {
	font-weight: 600;
	position: relative;
	display: inline-block;
	margin: auto;
}
.content-title span {
	color: #ce1b23;
	position: relative;
}
.content-title:after, .content-title span:after {
	content: '';
	height: 1px;
	width: 13.5rem;
	position: absolute;
}
.content-title:after {
	background-color: #A9A8A7;
	bottom: -.8rem;
	right: 0;
}
.content-title span:after {
	background-color: #ce1b23;
	bottom: -1rem;
	left: -.5rem;
}
.content-box-2 .content-box-2-list li {
	width: 23%;
  	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.22);
}
.content-box-2 .content-box-2-list li p {
	font-size: .9rem;
	margin-bottom: .5rem;
}
.content-box-2 .content-box-2-list .list-index {
	color: #FAEFEF;
	font-family: '微软雅黑';
}

.margin-top {
	margin-top: 2.5rem;
}
.content-box-3 .content-radio-list li {
	width: 33%;
	text-align: center;
}
.content-box-3 .content-radio-list li input {
	margin-right: .25rem;
}
.content-box-3 .content-inputs {
	background: #B61815;
	border-radius: 10px;
	position: relative;
}
.content-box-3 .content-inputs .line {
	width: 150px;
	background-color: #FBB7B6;
	height: 4px;
	margin: auto;
	position: relative;
}
.content-box-3 .content-inputs .line:after, .content-box-3 .content-inputs .line:before {
	content: '';
    position: absolute;
    height: 4px;
    width: 26px;
    background-color: #FBB7B6;
    top: -8px;
}
.content-box-3 .content-inputs .line:before {
    left: -20px;
	transform: rotate(45deg);
}
.content-box-3 .content-inputs .line:after {
    right: -20px;
    transform: rotate(-45deg);
}
.content-box-3 .content-inputs input {
	width: 100%;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: .75rem 3rem;
	color: #3b3a3a;
}
.content-box-3 .content-inputs p {
	width: 80%;
	margin: auto;
	margin-top: 1rem;
	position: relative;
}
.index-icon {
	background: url(imgs/index-icon.png);
}
.content-box-3 .content-inputs .index-icon {
	width: 2.5rem;
	height: 2.5rem;
	position: absolute;
	margin-left: .25rem;
    top: 5px;
}
.content-box-3 .content-inputs .phone .index-icon {
	background-position: -50px 0;
}
.content-box-3 .content-inputs .problem .index-icon {
	background-position: 38px 0;
}
.content-box-3 .content-inputs .submit-btn a {
	background-color: #FFF45C;
	width: 50%;
	border-radius: 5px;
	line-height: 2rem;
	display: inline-block;
	color: #060606;
}
.content-box-4, .content-box-6 {
	background-color: #F7F2EE;
}
.content-box-6 .content-title {
	color: #c31921;
}
.content-box-6 .content-title span:after {
    bottom: -3rem;
}
.content-box-6 .content-text {
  	border-radius: 10px;
  	box-shadow: 0px 0px 16px 0px rgba(201, 162, 130, 0.22);
  	background-color: #fff;
}
.content-box-6 .content-text h5 {
	background-color: #C31921;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 1.1rem;
	line-height: 2;
}
.content-box-6 .index-icon {
    width: 30px;
    height: 28px;
    background-position: 0px 44px;
    vertical-align: middle;
    position: relative;
    bottom: 3px;
}
.content-box-6 .content-text-num {
	background-color: #C31921;
	margin-right: 2%;
	font-family: 'Adobe 黑体 Std';
	position: relative;
	z-index: 2;
}
.content-box-6 .content-text-num:after {
	content: '';
	position: absolute;
	width: 26px;
	height: 24px;
	border: 1px solid #C31921;
	bottom: -3px;
    right: -4px;
}
.content-box-6 .content-text li {
	text-align: left;
	padding-left: 8%;
	margin-bottom: .75rem;
}
.content-box-7 span {
	color: #c31921;
	font-weight: 600;
}
.swt-btn a {
	background-color: #CE1B23;
	border-radius: 50px;
	padding: .5rem 2rem;
	font-size: 1.1rem;
}
.swt-btn .index-icon {
   	width: 22px;
    height: 22px;
    background-position: 44px 28px;
    vertical-align: middle;
    margin-bottom: 6px;
    background-size: 90px;
}
.content-box-7 .content-title span:after {
	left: -7.5rem;
}
.content-box-8 {
	background: url(imgs/content-box-8.jpg);
}
.content-box-8 .content-title:after {
    bottom: 100%;
}
.content-box-8 .content-title span:after {
    left: -11.5rem;
    bottom: 110%;
}
.content-box-8 .swt-btn {
    right: .5rem;
    bottom: 1rem;
	z-index: 2;
}
.content-box-8 .swt-btn a {
	display: inline-block;
	padding: .25rem 2rem;
}
.content-box-8 .swt-btn .index-icon {
	margin-left: .5rem;
    margin-bottom: 3px;
}