a {
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #fff;
}
ul {
	margin: 0;
}
.banner {
    margin-top: 202px;
}
.red{
	color: #c91d21;
}
.bg-gray{
	background: #f4f1f4;
}

.text-indent{
	text-indent: 2em;
}

.content-title{
	border-bottom: 1px solid #000;
}
.content-title:after{
	content: '';
	width: 50%;
	height: 3px;
	background: #c91d21;
	position: absolute;
	bottom: -1px;
	left: 25%;
}
.content-second-title h2{
	color: #e8292d;
}
.content-second-title i:first-child{
	background: url(imgs/content-second-title-left.png);
	background-size: cover;
	width: 138px;
    height: 25px;
}
.content-second-title i:last-child{
	background: url(imgs/content-second-title-right.png);
	background-size: cover;
	width: 138px;
    height: 25px;
}


.content-box-1{
	background: #f2eff0;
}
.content-box-1 h1{
	font-size: 4rem;
	text-indent: -1rem;
	border: 3px solid #d72c3c;
}
.content-box-1 h1 b{
	background: #f2eff0;
}
.content-box-1 p{
	line-height: 1.8;
}

.content2-list span{
	font-size: 1.8rem;
    font-style: italic;
    color: #737171;
    border-right: 1px solid #737171;
}

.content-box-3{
	background: #fdf8ed;
}
.content-box-3 .text{
	background: #fff;
}
.content-box-3 .text h2{
	font-size: 3.6rem;
	font-family: impact;
	color: #fcd2d3;
}
.content3-list-left{
  box-shadow: 4px 4px 0px #fcdee3;
}
.content3-list-right{
  box-shadow: -4px 4px 0px #fcdee3;
}

.border-yel{
	border: 3px solid #fdf2d9;
}
.content4-img-box{
	margin-top: -3rem;
}
.content4-img-box p{
	bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 94%;
}

.list-cricle{
	width: 7rem;
	height: 7rem;
	background: #c00016;
}
.list-cricle div{
	width: 95%;
	height: 95%;
	border: 1px dashed #fff;
	padding-top: 1.4rem;
	font-size: 1.2rem;
}

.swt-btn{
	width: 30%;
	background: #e8292d;
	border-radius: 30px;
	font-size: 1.2rem;
	margin-top: 1.5rem !important;
}
.swt-btn i{
	width: 10%;
	background: url(imgs/swt-icon.png);
	background-size: cover;
}


.content-box-5{
	background: #f4f3f2;
}
.content5-list{
	background: #fff;
	box-shadow: 0px 0px 18px 0px rgba(182, 179, 180, 0.75);
}
.content5-list .content5-border{
	border: 2px solid #e58080;
}
.content5-list .content5-border img{
	margin-left: -0.6rem;
	margin-top: -1rem;
}

.arrow {
	width: 30px;
	height: 30px;
	display: inline-block;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 20px;
    transition: all .2s linear;
}
.arrow-left, .arrow-right {
	height: 30%;
	width: 10%;
	position: absolute;
	top: 35%;
	z-index: 99;
	background-color: rgba( 117, 119, 123, 0.8 );
}
.arrow-right, .arrow-left {
    cursor: pointer;
}
.arrow-right {
	right: 0;
}
.arrow-left {
	left: 0;
}
.arrow-left .arrow {
    transform: rotate(45deg);
    left: -2px;
}
.arrow-right .arrow {
    transform: rotate(225deg);
    right: -2px;
}
