a:hover {
	text-decoration: none;
	color: #fff;
}
ul,li{
	margin:0;
	padding:0;
	list-style: none;
}
img{
	max-width: 100%;
}
body{
	color: #4f4e4e;
}
.red{
	color: #cc0002;
}
.text-indent{
	text-indent: 2em;
}
.w-35{
	width: 35%;
}
.banner {
    margin-top: 202px;
}
.content-title{
	color: #070707;
	border-color: #9f9d9d !important;
}
.content-title:after{
	content: '';
	width: 30%;
	height: 3px;
	background-color: #cc0002;
	position: absolute;
	bottom: -2px;
	left: 50%;
	margin-left: -15%;
}


.content-box-1 ul li div{
	top: 4%;
	left: 5%;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5.2rem;
	width: 90%;
	height: 92%;
}
.content-box-1 ul li div h1{
	display: inline-block;
	border-bottom: 3px solid #f4a00e;
}
.content-box-1 ul li div i{
	background: url(images/click.png);
	background-size: cover;
	width: 24px;
	height: 28px;
	display: inline-block;
}
.content-box-1 ul li:hover div{
	visibility: visible !important;
}

.content-box-2{
	background: url(images/content-2-bg.jpg);
}
.content2-list p{
	border-bottom:1px solid #cc0002 ;
	margin-bottom: 3rem;
}
.content2-list p span{
	display: inline-block;
	background: #cc0002;
	line-height: 2rem;
}
.content2-list .center-img{
	top: 1%;
	left: 50%;
	margin-left: -17.5%;
	z-index: 5;
}

.content-box-4 .row{
	background-color: #e3e8f0;
	color: #3d3f43;
}
.content-box-4 .row h3{
	border-bottom: 1px dashed #000;
}

.content-box-5{
	background-color: #e7edf2;
}

