@charset "UTF-8";
.regenerate-container{position:relative;background-color:#fff;}

.item{ width:1200px; margin:0 auto;}
.bgimg{background:url(../imgs/bgimg.png) no-repeat;display:inline-block;}
.bgColor3 {background-color:#f2f2f2;}
.public-nav .nav{ padding-left: 0!important;}
/*itemTie*/
.itemTie{font-size: 40px;font-weight: normal;color: #0f193e;height:78px;line-height: 78px;width:710px;margin: 45px auto 0;border-bottom: 1px solid #d2d2d2;position: relative;text-align: center;}
.itemTie i{display: block;width:210px;height:4px;background-color: #101a3f;position: absolute;left: 50%;bottom: -2px;margin-left: -105px;}
.itemTie span{ margin-left: 60px; position: relative;}
.itemTie span b{display: inline-block;width:52px;height: 52px;position: absolute;left: -58px;top:0;color: #79797a;background-position: -380px -68px;}
/*.banner*/
.banner{ position: relative; height:728px;background:url(../imgs/banner.jpg) no-repeat center top;overflow:hidden;margin-top: 200px;}
.banner a{display: block;width:325px;height: 66px;line-height: 66px;text-align: center;background-position: 0 1px;font-size: 30px;color: #fff;position: absolute;left: 50%;bottom:110px;}
.banner a:hover{ opacity: 0.8;filter: alpha(opacity=80);}
/*f1Box*/
.f1Box{ height:545px; overflow: hidden;}
.f1Con{ margin:70px 0 50px; height:173px; overflow: hidden;}
.f1Con .fl{ width:563px; height: 173px;}
.f1Con .fl li{width:173px;height: 173px;float: left;margin-right: 14px;}
.f1Con .fl li img{ width: 173px; height: 173px;}
.f1Con .fr{ width: 600px; height: 173px; margin-right: 20px;}
.f1Con .fr p{ font-size: 18px; color: #101a3f; line-height: 38px; padding-bottom: 10px; border-bottom: 1px solid #c9c9c9;}
.f1Con .fr dl dt{ font-size: 20px; color: #101a3f; font-weight: bold; line-height: 42px;}
.f1Con .fr dl dd span{ font-size: 18px; color: #101a3f; margin-right: 45px;}
.f1Box .btn2{display: block;width:364px;height: 70px;line-height: 70px;text-align: center;font-size: 24px;color: #fff;margin:0 auto;background-position: 2px -71px;}
.f1Box .btn2:hover{ opacity: 0.8;filter: alpha(opacity=80);}
/*f2Box*/
.f2Box{ height: 1128px; overflow: hidden;}
.f2Top{ background-color: #f0f5ff; height: 770px; overflow: hidden;}
.f2Top ul{ background: url(../imgs/f20.jpg) no-repeat center; width: 1200px; height: 653px; position: relative;}
.f2Top ul li{ position: absolute; font-size: 24px; color: #0f1e41; line-height: 38px; left: 50%;}
.f2Top ul li.li1{top: 102px;margin-left: -420px;}
.f2Top ul li.li2{top: 250px;margin-left: -510px;}
.f2Top ul li.li3{top: 442px;margin-left: -550px;}
.f2Top ul li.li4{top: 210px;margin-left: 360px;}
.f2Top ul li.li5{top: 385px;margin-left: 420px;}
.f2Bot{ background-color: #fff; height: 360px;}
.f2cn{ height:177px; margin:40px 0 34px;}
.f2cn dl{ width:124px; height: 177px; float: left; margin-left: 42px;}
.f2cn dl dt{ width: 124px; height: 136px; margin-bottom: 6px;}
.f2cn dl dt img{ width: 124px; height: 136px;}
.f2cn dl dd{width: 124px;height:36px;text-align: center;font-size: 18px;color: #fff;background-position: -372px 1px;line-height: 36px;}
.f2cn dl.dl1{width:150px;height: 177px;background-color: #111e45;margin-left: 0;text-align: center;}
.f2cn dl.dl1 dt{width:92px;height: 115px;margin: 12px 29px 0;background-position: 2px -152px;}
.f2cn dl.dl1 dd{font-size: 24px;color: #fff;line-height: 34px;width: 150px;}
.f2Bot .btn2{display: block;width:360px;height: 70px;line-height: 70px;text-align: center;font-size: 24px;color: #fff;background-position: 0 -71px;margin:0 auto;}
.f2Bot .btn2:hover{ opacity: 0.8;filter: alpha(opacity=80);}
/*f3Box*/
.f3Box .itemTie{ color: #fff;}
.f3Box .itemTie i{ background-color: #fff;}
.f3Box{ height: 900px; background-color: #111e45; overflow: hidden;}
.f3Box h3{width: 254px;height: 60px;line-height: 60px;text-align: center;border:1px solid #fff;font-size: 28px;color: #fff;margin: 45px auto 25px;}
.f3Box h3.h3{ margin:35px auto 25px;}
.f3Top{ height: 220px; padding-bottom: 30px; border-bottom: 1px dashed #3f4661; overflow: hidden;}
.f3Top .fl{ width:694px; height: 220px;}
.f3Top .fr{ width:506px;}
.f3Top .fl dl{ width:138px; height: 220px; float: left; margin-right: 35px;}
.f3Top .fl dl dt,.f3Top .fl dl dt img{ width: 138px; height: 178px;}
.f3Top .fl dl dd{ font-size: 15px; color: #fff; line-height: 40px; text-align: center;}
.f3Top .fr p{ font-size: 16px; color: #fff; line-height: 28px;}
.f3Top .fr p.p1{ font-size: 24px; color: #fff; line-height: 38px; margin-top: 20px;}
.f3Bot{ height:248px; overflow: hidden;}
.f3Bot dl{ width:181px; height:248px; float: left; margin-right:22px;} 
.f3Bot dl.last{ margin-right: 0;}
.f3Bot dl dt,.f3Bot dl dt img{ width: 181px; height: 190px;}
.f3Bot dl dd{ height: 52px; line-height: 52px; text-align: center; font-size: 24px; color: #fff;}
.f3Bot dl dd span{ position: relative; padding-left: 30px;}
.f3Bot dl dd i{display: inline-block;width:25px;height: 25px;position: absolute;left: 0;top: 4px;background-position: -3px -286px;font-size: 15px;text-align: center;line-height: 25px;}
/*f4Box*/
.f4Box{height: 1000px; background-color: #fff; overflow: hidden;}
.f4Con{ width: 1200px; height: 777px; background: url(../imgs/f4bg.jpg) no-repeat center; position: relative;}
.f4Con li{ width:327px; height: 327px; position: absolute; left: 50%;}
.f4Con li span{display: block;width: 327px;height: 327px;position: absolute;left: 0;top:0;background-position: -670px -74px;text-align: center;overflow: hidden;}
.f4Con li span i{font-size: 28px;color: #ff7a37;line-height: 40px;text-align: center;padding: 124px 0;overflow: hidden;display: block;}
.f4Con li.li1{top:80px;margin-left: -602px;}
.f4Con li.li2{top:80px;margin-left: -152px;}
.f4Con li.li3{top:80px;margin-left: 270px;}
.f4Con li.li4{top: 404px;margin-left: -384px;}
.f4Con li.li5{top: 404px;margin-left: 50px;}
.f4Box .btn2{ display: block; font-size: 24px; color: #fff; width:360px; height: 70px; line-height: 70px; text-align: center; margin: 0 auto;background-position: 0 -71px;}
.f4Box .btn2:hover{ opacity: 0.8;filter: alpha(opacity=80);}
/*f5Box*/
.f5Box{ background-color: #f0f5ff; overflow: hidden;}
.f5Con{margin: 70px 0 40px;overflow: hidden;}
.f5Con table{ border:1px solid #d2d2d2; border-collapse: collapse;}
.f5Con table td,.f5Con table th{border:1px solid #d2d2d2;border-bottom: none;border-top: none;}
.f5Con table tr{ background-color: #f0f5ff;}
.f5Con table tr.even{ background-color: #fff;}
.f5Con table tr{ height: 80px;}
.f5Con table th{ height:80px; line-height: 80px; text-align: center; background-color: #111e45; font-weight: bold; font-size: 28px; color: #fff;}
.f5Con table th.th1{ width:300px;}
.f5Con table th.th2{ width:448px;}
.f5Con table th.th3{ width:448px;}
.f5Con table td.td1{ text-align: center; font-size: 22px; color: #111e45;}
.f5Con table td.td2{font-size: 18px;color: #111e45;line-height: 30px;padding:5px 40px;text-align: center;} 
.f5Con table td.td3{ font-size: 18px; color: #ff7a37;line-height: 30px; padding:5px 40px;}
.f5Con table td a{display: block;width:178px;height: 44px;line-height: 44px;text-align: center;margin:18px auto;font-size: 20px;color: #fff;background-position: -538px 0px;}
.f5Con table td a:hover{ opacity: 0.8;filter: alpha(opacity=80);}
/*f6Box*/
.f6Box{ height: 850px; background-color: #111e45; overflow: hidden;}
.f6Box .itemTie{ color: #fff;}
.f6Box .itemTie i{ background-color: #fff;}
.f6Slide{ height: 720px; overflow: hidden;}
.f6Slide dl{height: 720px;position: relative;padding-left: 625px;margin-top: 6px;}
.f6Slide dl dt{ width: 500px; height: 720px; position: absolute; left: 60px; bottom:0;}
.f6Slide dl dd{height: 610px;padding-top: 110px;position: relative;}
.f6Slide dl dd h3 a{ font-weight: normal; font-size: 40px; color: #fff;}
.f6Slide dl dd h3 a i{ margin:0 5px; line-height: 72px;}
.f6Slide dl dd span{display: block;border-bottom: 1px solid #59627d;font-size: 28px;color: #ff7a37;line-height: 60px;}
.f6Slide dl dd ul{overflow: hidden;padding-top: 10px;}
.f6Slide dl dd li{ font-size: 20px; color: #fff; line-height: 40px; clear: left;}
.f6Slide dl dd b{display: block;width:80px;height: 34px;line-height: 34px;text-align: center;background-color: #fff;font-size: 20px;color: #111e45;margin: 40px 0 10px;}
.f6Slide dl dd p{ font-size: 20px; color: #fff; line-height: 36px;}
.f6Slide dl dd div{width:380px;height: 48px;position: absolute;left: 0;bottom: -50px;}
.f6Slide dl dd div a{ display: block; width: 178px; height: 48px; line-height: 48px; text-align: center; font-size: 24px; color: #fff;}
.f6Slide dl dd div a:hover{ opacity: 0.8;filter: alpha(opacity=80);}
.f6Slide dl dd div a.fl{background-position: -538px 2px;}
.f6Slide dl dd div a.fr{background-position: -742px 1px;}
/*.f6Slide dl dd div a.fl:hover{background-position: -742px 1px;}
.f6Slide dl dd div a.fr:hover{background-position: -538px 2px;}*/
.f6Slide .bajs-easy-slider-nav{ background: url(../imgs/bgimg.png) no-repeat center; width:43px; height: 84px; top:50%;}
.f6Slide .prev-btn{left: 0;background-position: -118px -182px;}
.f6Slide .next-btn{right: 0;background-position: -192px -182px;}
/*f7Box*/
.f7Box{ height: 640px; background-color: #f0f5ff; overflow: hidden;}
.f7Con{height:402px;overflow:hidden;margin-top: 60px;}
.f7Con .fl{ width:340px; height: 402px; background-color: #111e45; color: #fff; text-align: center;}
.f7Con .fl dt{ font-size: 28px; height: 80px; line-height: 80px; margin-top:38px; position: relative;}
.f7Con .fl dt i{display: block;width:36px;height: 1px;background-color: #fff;position: absolute;left: 50%;bottom:0;margin-left: -20px;}
.f7Con .fl dd p{ font-size: 18px; line-height: 32px; margin:18px 0 30px;}
.f7Con .fl dd a{display: block;width:192px;height: 55px;line-height: 55px;margin:0 auto;background-position: -453px -71px;font-size: 24px;}
.f7Con .fl dd a:hover{ opacity: 0.8;filter: alpha(opacity=80);}
.f7Con .fr{ width:860px; height: 402px;}
.f7Con .fr li{ float: left; width:410px; height: 191px; margin:0 0 20px 20px; position: relative;}
.f7Con .fr li span{display: block;width:100%;height:40px;position: absolute;left: 0;bottom:0;text-align: center;font-size: 24px;color: #fff;z-index: 0;line-height: 40px;}
.f7Con .fr li span i{display: block;width: 100%;height: 40px;position: absolute;left: 0;bottom:0;background-color: #111e45;opacity: 0.5;filter: alpha(opacity=50);z-index: -1;}
/*f8Box*/
.f8Box{padding:10px 0;}
.f8Box .tab{height:54px;border-bottom:1px solid #ccc;}
.f8Box .tab span{float:left;position:relative;width:94px;height:54px;color:#333;font-size:18px;line-height:54px;text-align:center;}
.f8Box .tab span i{position:absolute;left:0;bottom:-1px;width:94px;height:1px;background-color:#0277bb;overflow:hidden;display:none;}
.f8Box .tab span.active i{display:block;}
.f8Box .tabBox {height:113px;overflow:hidden;padding-top:26px;}
.f8Box .tabCon ul {overflow:hidden;height:125px;}
.f8Box .tabCon li{float:left;width:166px;}
.f8Box .tabCon li span{display:block;color:#333;font-size:16px;line-height:40px;text-align:center;}
.f8Box .tabCon .conA li {height:125px;}
.f8Box .conA li img{width:59px;height:59px;display:block;margin:0 auto;}
.f8Box .conB li.li1 {margin-right:64px;}
.f8Box .conB li.li2 {margin-right:43px;}
.f8Box .conB li.li3 {margin-right:70px;}
.f8Box .conB li.li4 {margin-right:39px;}
.f8Box .conB li.li1,.f8Box .conB li.li1 img {width:226px;}
.f8Box .conB li.li2,.f8Box .conB li.li2 img {width:248px;}
.f8Box .conB li.li3,.f8Box .conB li.li3 img {width:141px;}
.f8Box .conB li.li4,.f8Box .conB li.li4 img {width:166px;}
.f8Box .conB li.li5,.f8Box .conB li.li5 img {width:203px;}
.f8Box .conB li img {height:85px;display:block;margin:0 auto;}
.f8Box .conC a{padding-right:24px;color:#333;font-size:12px;line-height:22px;}
.f8Box .conC a:hover{color:#ff8a00;text-decoration: underline;}
/*f9Box*/
.f9Box {overflow:hidden;height:239px;padding:17px 0 74px 0;font-size:14px;}
.f9Box .f9Left,.f9Box .f9Center {float:left;height:100%;}
.f9Box .f9Right {float:right;height:100%;}
.f9Box .f9Left {padding-left:29px;width:318px;border-right:1px solid #d9d9d9;}
.f9Box .f9Left dl {margin-top:36px;}

.f9Box .f9Left dd {margin-top:17px;}
.f9Box .f9Left em {display:block;line-height:24px;padding-left:30px;position:relative;}

.f9Box .f9Left dd i.icon2 {width:14px;height:14px;background-position:-265px -295px;}
.f9Box .f9Center {width:509px;border-right:1px solid #d9d9d9;}
.f9Box .f9Center dl {float:left;padding-left:40px;text-align:center;width:84px;}
.f9Box .f9Center dl.dl2 {padding-left:39px;padding-right:52px;}
.f9Box .f9Center dt {line-height:24px;height:24px;font-size:16px;font-weight:bold;color:#000;padding:12px 0 6px 0;}
.f9Box .f9Center dd a {color:#000;display:block;line-height:24px;}
.f9Box .f9Center dd a:hover {color:#0277bb;}
.f9Box .f9Right {width:306px;}
.f9Box .f9Right p {margin:22px 0 10px 0;line-height:14px;}

.f9Box .f9Right dl {margin-top:26px;position:relative;height:99px;}
.f9Box .f9Right dt {width:103px;height:99px;position:absolute;left:0;top:0;}
.f9Box .f9Right dd {margin-left:115px;height:96px;padding-top:3px;}
.f9Box .f9Right dd span {display:block;line-height:26px;}
/*f10Box*/
.f10Box{ height:410px; background-color: #fff; overflow: hidden;}
.f10Con{ height: 200px; margin-top:50px; overflow: hidden;}
.f10Con li{ width:360px; height: 200px; float: left;}
.f10Con li img{ width: 360px; height: 200px;}
.f10Con li.cen{ margin: 0 60px;}



@-webkit-keyframes orangeIn {
	0% {-webkit-transform:scale(0.8);opacity:0}
	100% {-webkit-transform:scale(1);opacity:1}
}

@keyframes orangeIn {
	0% {transform:scale(0.8);opacity:0}
	100% {transform:scale(1);opacity:1}
}


@-webkit-keyframes orangeOut {
	0% {-webkit-transform:scale(1);opacity:1}
	100% {-webkit-transform:scale(0.8);opacity:0}
}

@keyframes orangeOut {
	0% {transform:scale(1);opacity:1}
	100% {transform:scale(0.8);opacity:0}
}

.slideBox{position: relative;}