a {
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #333;
}
img{
	max-width: 100%;
}
.w-30{
	width: 30%;
}
.red {
	color: #cc1515;
}
.yel{
	color: #f4d83e;
}
.unshow {
	display: none;
}
.banner{
	margin-top: 7.4rem;
}
.content-title{
	border-bottom: 1px solid #9f9d9d;
}
.content-title h1{
	font-size: 1.5rem;
	font-weight: bold;
}
.content-title h3{
	font-size: 1.1rem;
}
.content-title i{
	background: url(imgs/title-icon.png);
	width: 20px;
    height: 16px;
    bottom: -15px;
    left: 50%;
    margin-left: -10px;
    background-size: cover;
    border-top: 2px solid #fff;
}
.swt-btn{
	background-color: #faba20;
	color: #050505;
	border-radius: 30px;
	display: inline-block;
	font-size: 1.1rem;
}




.content-box-red{
	background-color: #c61523 ;
}
.content-box-red h1{
	color: #fddf3b;
}
.content-box-red h3{
	color: #fff;
}
.content-box-red i{
	border-color: #C61523;
}
.content-box-2 .content,
.content-box-6 .content{
	background: #fff;
	border-radius: 10px;
}
.content-box-2 .content p,
.content-box-6 .content p{
	text-indent: 2em;
	font-size: 0.8rem;
    font-weight: bold;
}

.content-box-3 p{
	font-size: 0.8rem;
	margin-bottom: 0.2rem;
}

.content-box-4 .content{
	background-color: #fff;
	box-shadow: 5px 6px 20px 0px rgba(0, 0, 0, 0.58);
}
.content-box-4 .content h5{
	font-size: 1rem;
	color: #e61128;
}
.content-box-4 .content h5:before,
.content-box-4 .content h5:after{
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid #e61128;
	position: absolute;
	left: 12%;
    top: 25%;
}
.content-box-4 .content h5:after{
	right: 12%;
	left: auto;
}

.content-box-6 .w-30{
	border: 1px dashed #ec4d5e;
	border-radius: 20px;
}
.content-box-6 .w-30 span{
	font-size: 0.8rem;
	line-height: 1.3rem;
    display: block;
}

.doctor{
	width: 100%;
	background: rgba(0,0,0,0.6);
	bottom: 0;
	left: 0;
	color: #fff;
}
.doctor p{
	font-size: 0.8rem;
}
.doctor p.yel{
	font-size: 1.1rem;
}
.doctor p.yel:after{
	content: '';
	width: 1.6rem;
	height: 3px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -0.8rem;
}
.doctor a{
	display: inline-block;
	background: #c61523;
	border-radius: 30px;
}

footer{
	background: url(imgs/footer.jpg);
	background-size: cover;
}
footer h4{
	letter-spacing:0.6rem;
}
