.banner {
	margin-top: 110px;
}
.content-1-title {
  	background-color: rgb(32, 162, 255);
  	box-shadow: 1.5px 2.598px 3px 0px rgba(0, 75, 125, 0.25);
  	border-radius: .5rem;
}
.submit-btn {
  	border: 2px solid #000;
  	background-color: rgb(249, 255, 3);
  	border-radius: 6rem;
}
.tips {
	color: #868686;
	font-size: .8rem;
}
.case-title {
    margin: .75rem 0;
}
.case-list li:not(:last-child) {
    border-bottom: 1px solid #e8e8e8; 
}