.banner {
	margin-top: 120px;
}
.red{
	color: #ff0000;
}
input{
	border: 1px solid #000000;
}

form .age span, form .condition span {
	width: 30%;
	background-color: #e5e5e5;
	font-size: .9rem;
	color: #000;
}

form p {
	color: #000;
}

.active {
	background-color: #c11920 !important;
	color: #fff !important;
}

.submit-btn {
	border-radius: 10px;
  	background-color: rgb(199, 6, 6);
  	font-size: 1.2rem;
}

.top{
	background-color: #85521d;
	color: #fdedac;
}

.border-bottom{
	border-bottom:2px solid #ffe2b3 !important;
}

.brown{
	color: #6c3c07;
}

.yel-bg{
	background-color: #fffeef
}

.swiper-pagination-bullet-active{
	background: #d20429;
}
.swiper-pagination-bullet{
	margin: 0 0.2rem;
	width: 12px;
	height: 12px;
	background: #f1b0b7;
}

.position-none{
	position: static;
}

.doctor{
	background: #fca823;
}
