@charset "utf-8";
/* CSS Document */
.szx{height:0;overflow:hidden;}
.szx * {margin:0;padding:0;text-shadow:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.blank{height:8px;clear:both;}
.blank20{height:20px;clear:both;}
.relative {position:relative;}
.absolute {position:absolute;}
.float_left {float:left;}
.float_right {float:right;}
.z-b{ text-align:center;}
#LRdiv0,#LRfloater0,.swtCenter{display:none;}
.swtCenter {background:url(../images/swtsj.png) no-repeat top center;width:246px;height:190px; background-color:#FFF;position:fixed;left:50%;top:50%;z-index:200;margin-left:-123px;margin-top:-130px;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;-moz-box-shadow:0 0 20px rgba(10,2,4,0.75);-webkit-box-shadow:0 0 20px rgba(10,2,4,0.75);box-shadow:0 0 20px rgba(10,2,4,0.75);overflow:hidden;}
.swtCenter h3 {width:100%;font-size:24px;text-align:center; color:#2e3642;font-weight:500;margin-top:33px;}
.swtCenter h4 {width:100%;font-size:12px;text-align:center;color:#2e3642;}
.mfhd {width:227px;height:32px;border:1px solid #6a7380;-moz-border-radius:17px;-webkit-border-radius:17px;border-radius:17px;margin:18px auto;}
.mfhd  input {width:156px;height:30px;line-height:30px; background-color:#FFF;font-size:14px;color:#6a7380;-moz-border-radius:15px 0 0 15px;-webkit-border-radius:15px 0 0 15px;border-radius:15px 0 0 15px;padding-left:13px;float:left;outline:none;border:none;}
.mfhd a {width:69px;height:30px;line-height:30px;color:#fff; background-color:#6a7380;font-size:12px;text-align:center;text-decoration:none;-moz-border-radius:0 14px 14px 0;-webkit-border-radius:0 14px 14px 0;border-radius:0 14px 14px 0;float:left;}
.swtCenter p {width:246px;font-size:14px;line-height:1.6em;color:#6a7380;margin:0 auto; }
.swt_lists {background:url(../images/swtzx.png) no-repeat;bottom:0;left:0;width:100%;height:44px;line-height:44px;-moz-border-radius:0 0 15px 15px;-webkit-border-radius:0 0 15px 15px;border-radius:0 0 15px 15px;}
.swt_lists a {display:block;width:50%;height:100%;position:relative;float:left;}
.swt_list1 { -moz-border-radius:0 0 0 15px;-webkit-border-radius:0 0 0 15px;border-radius:0 0 0 15px;}
.swt_list2 { -moz-border-radius:0 0 15px 0;-webkit-border-radius:0 0 15px 0;border-radius:0 0 15px 0;}
.swt_lists a i,.swt_lists a em {display:block;position:absolute;left:50%;font-style:normal;color:#fff;text-decoration:none;}
.closeBtn_swt {right:-2px;top:-2px;width:34px;height:34px; background:url(../images/closeBtn_swt.png) no-repeat;-moz-background-size:100%;-webkit-background-size:100%;background-size:100%;cursor:pointer;}

.swtCenter p span{display:block;box-sizing:border-box;padding:0 6px;}
.swtCenter p b{font-weight:normal;color:#ff6005;}

@media screen and (min-width:320px) and (max-width:900px){
.swtIcon {top:18px;width:27px;height:24px;margin-left:-50px;-moz-background-size:100% 100%;-webkit-background-size:100% 100%;background-size:100% 100%;}
.swtIcon_Counter {top:15px;width:14px;height:14px;margin-left:-34px;line-height:13px;font-size:9px;}