/*404*/
#w_pd{width:100%;  background:url(../images/bg_01.jpg) no-repeat center; margin-top: 78px;padding:85px 0;}
#w_pd .error{width:1130px; margin:0 auto; padding-top:30px; font-family:"微软雅黑"; font-weight:lighter; color:#a1a1a1;}
#w_pd .error-top{width:530px; height:260px; border-bottom:1px #ccc solid; margin:0 auto;}
#w_pd .error-top dl{}
#w_pd .error-top dt{text-align:center;}
#w_pd .error-top dd{font-size:24px; margin-top:12px;}
#w_pd .error-top dd p{font-weight:bold; font-size:39px;}
#w_pd .error-top dd p span{font-family:Arial; font-weight:normal; font-size:47px; text-transform:uppercase;}
#w_pd .error-top dd a{color:#1574a0;}
#w_pd .error-top dd a:hover{color:#1574a0;}

#w_pd .error-mid{width:940px; margin:0 auto; margin-top:25px;}
#w_pd .error-mid1{width:463px; height:80px; float:left; background:url(../images/search_07.png) no-repeat;}
#w_pd .error-mid1 dl{width:365px; float:left; margin:20px 0 0 100px; font-size:15px; line-height:23px;}
#w_pd .error-mid1 dt{width:262px; float:left; color:#748da1;}
#w_pd .error-mid1 dd{width:70px; float:right; text-align:center;}
#w_pd .error-mid1 dd a{color:#fff;}
#w_pd .error-mid1 dd a:hover{color:#fff;}

#w_pd .error-mid2{width:459px; float:right; text-align:center;}
#w_pd .error-mid2 p{font-size:16px;}
#w_pd .error-mid2 p strong{color:#1574a0;}

#w_pd .error-mid2-txt{width:459px; float:left; margin-top:5px; height:48px; background:url(../images/search_10.png) no-repeat;}
#w_pd .error-mid2-txt input.a1{width:260px; height:48px; line-height:48px; padding-left:60px; border:none; background:none; float:left; outline:none; color:#b2b2b2; font-size:15px;}
#w_pd .error-mid2-txt input.a2{width:120px; height:48px; line-height:48px; border:none; background:none; color:#fff; font-size:15px; text-align:center;}

#w_pd .error-bot{width:310px; float:left; margin-left:385px; margin-top:25px; font-size:16px; height:40px; margin-bottom:20px;}
#w_pd .error-bot ul{}
#w_pd .error-bot li{width:118px; height:38px; border:1px solid #8a8f99; text-indent:15px; line-height:38px; color:#8a8f99; margin-left:34px; float:left;}
#w_pd .error-bot li a{display:block;}
#w_pd .error-bot li a:hover{color:#fff;}

