a {
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #fff;
}
ul {
	margin: 0;
}
.unshow {
	display: none;
}
.w-60 {
	width: 60%;
}
.content-box-1{
	margin-top: 205px;
}
.content-box-2 {
	background: url(imgs/content-box-2-bcg.jpg);
}
.content-box-3 {
	background: url(imgs/content-box-3-bcg.jpg);
}
.content-box-4 {
	background: url(imgs/content-box-4-bcg.jpg);
}
.content-box-5 {
	background: url(imgs/content-box-5-bcg.jpg);
}
.content-box-6 {
	background: url(imgs/content-box-6-bcg.jpg);
}
.content-box-7 {
	background: url(imgs/content-box-7-bcg.jpg);
}
.content-box-2, .content-box-3, .content-box-4, .content-box-5, .content-box-6, .content-box-7 {
    background-size: cover;
}
.content-box-2 .right-text {
	background: #f6f6f6;
}
.content-box-2 .symbol {
    border: 7px solid #1E6BB8;
    position: absolute;
}
.content-box-2 .symbol-left {
    width: 2.8125rem;
    height: 4.6875rem;
	top: 0;
	left: 0;
    border-right: transparent;
    border-bottom: transparent;
}
.content-box-2 .symbol-right {
    width: 4.6875rem;
    height: 2.8125rem;
	bottom: 0;
	right: 0;
    border-left: transparent;
    border-top: transparent;
}
.content-box-2 .symbol-2 {
	background: url(imgs/â€.png);
	width: 2.5rem;
	height: 2.3125rem;
	position: absolute;
	top: 10%;
	right: 10%;
}
.title span {
	color: #ffff00;
}
.title:after {
	content: '';
    display: block;
    background: url(imgs/index-icon.png);
    width: 47.875rem;
    height: .8125rem;
    background-position: 0px -122px;
    margin: 10px auto;
}
.title {
  	font-size: 3.75rem;
  	font-family: "Adobe Heiti Std";
  	text-shadow: 0px .625rem 1.25rem rgba(0, 0, 0, 0.2),0px 5px 10px rgba(0, 0, 0, 0.2);
}
.title-text {
	font-size: 1.5rem;
    opacity: .7;
}
.index-icon {
	background: url(imgs/index-icon.png);
	display: inline-block;
	vertical-align: middle;
}
.content-box-3 .row {
	background: #fff;
}
.content-box-3 .index-icon {
    width: 6.25rem;
    height: 6.25rem;
}
.content-box-3 ul, .content-box-3 form {
	width: 50%;
}
.content-box-3 li {
	width: 25%;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-color: #EFEFEF;
	position: relative;
}
.content-box-3 li a {
	display: block;
	font-size: 1.125rem;
}
.content-box-3 li a.active-list p {
	color: #3156a4;
}
.content-box-3 li:first-child .index-icon {
	background-position: -113px 0;
}
.content-box-3 li:nth-child(2) .index-icon {
	background-position: -226px 0;
}
.content-box-3 li:nth-child(3) .index-icon {
	background-position: -339px 0;
}
.content-box-3 li:nth-child(4) .index-icon {
	background-position: -452px 0;
}
.content-box-3 li:nth-child(5) .index-icon {
	background-position: -565px 0;
}
.content-box-3 li:nth-child(6) .index-icon {
	background-position: -678px 0;
}
.content-box-3 li:nth-child(7) .index-icon {
	background-position: -791px 0;
}
.content-box-3 li:last-child .index-icon {
	background-position: -904px 0;
}
.white-block {
    width: 1.875rem;
    height: 1.875rem;
    background: #fff;
    right: -1rem;
    bottom: -1rem;
    z-index: 2;
}
.active {
	background-position: 0 0 !important;
	left: 0;
    opacity: .8;
    right: 0;
    margin: auto;
    display: none;
    top: 0;
}
.active-list .active {
	display: block;
}
.content-box-3 .content-box-3-right-title {
  	font-size: 1.5rem;
  	font-family: "Microsoft YaHei";
}
.content-box-3 .content-box-3-right-title span {
	color: #1c5cb4;
	font-weight: 600;
}
.content-box-3 input {
	border: 1px solid #E9E9E9;
	outline: none;
	margin: auto;
	border-radius: 1.75rem;
	font-size: 1.125rem;
	padding: .75rem 0;
}
.content-box-3 form p {
	margin: auto;
}
.content-box-3 form .index-icon {
	width: 1.25rem;
	height: 1.25rem;
	top: .975rem;
    left: 1rem;
}
.content-box-3 .name-icon {
	background-position: -29px 96px;
}
.content-box-3 .phone-icon {
	background-position: 0 96px;
}
.content-box-3 .submit-btn a {
    background-image: -moz-linear-gradient( 0deg, rgb(36,150,197) 0%, rgb(28,95,181) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(36,150,197) 0%, rgb(28,95,181) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(36,150,197) 0%, rgb(28,95,181) 100%);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1),0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
	border-radius: 1.75rem;
	font-size: 1.125rem;
	padding: .85rem 0;
}
.content-box-3 .content-box-3-text {
	color: #3156a4;
	left: -3.375rem;
	font-size: 1.125rem;
	background: #E9F0F8;
	line-height: 1.4rem;
}
.content-box-3 .content-box-3-text, .content-box-3 .content-box-3-text i {
	width: 3.375rem;
}
.content-box-3 .content-box-3-text i {
    left: 0px;
    bottom: -3.4375rem;
    border-top: 3.4375rem solid #E9F0F8;
    border-left: 3.3125rem solid transparent;
    border-right: 0px solid transparent;
}
.content-box-4 .title ,.content-box-7 .title{
    color: #2598C5;
    text-shadow: none;
}
.content-box-4 .title:after {
    background-position: 0px -150px;
}
.content-box-4 .content-box-4-text {
	font-size: 1.375rem;
	line-height: 2;
}
.content-box-4 .content-box-4-bottom-list .index-icon {
	width: 1.875rem;
    height: 1.875rem;
}
.content-box-4 .content-box-4-bottom-list p {
	color: #217dbd;
}
.content-box-4 .content-box-4-bottom-list li:first-child .index-icon {
    background-position: 0 -174px;
}
.content-box-4 .content-box-4-bottom-list li:nth-child(2) {
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
}
.content-box-4 .content-box-4-bottom-list li:nth-child(2) .index-icon {
    background-position: -47px -174px;
}
.content-box-4 .content-box-4-bottom-list li:last-child .index-icon {
    background-position: -95px -174px;
}
.content-box-5 .tab-list li {
	background: #217DBD;
	font-size: 1.5rem;
	cursor: pointer;
	color: #fff;
	padding: 1.75rem;
}
.content-box-5 .tab-list li:not(:first-child) {
	border-top: 1px solid #4B96C9;
}
.content-box-5 .tab-list .index-icon {
    width: 32px;
    height: 32px;
}
.content-box-5 .tab-list li:first-child .index-icon {
    background-position: -161px -176px;
}
.content-box-5 .tab-list li:nth-child(2) .index-icon {
    background-position: -213px -172px;
}
.content-box-5 .tab-list li:nth-child(3) .index-icon {
    background-position: -265px -174px;
}
.content-box-5 .tab-list li:nth-child(4) .index-icon {
    background-position: -317px -176px;
}
.content-box-5 .tab-list li:last-child .index-icon {
    background-position: -369px -172px;
}
.content-box-5 .tab-list li.tab-active {
	background: #fff;
	color: #1c5cb4;
}
.content-box-5 .tab-list li.tab-active:first-child .index-icon {
	background-position: -421px -176px;
}
.content-box-5 .tab-list li.tab-active:nth-child(2) .index-icon {
    background-position: -473px -172px;
}
.content-box-5 .tab-list li.tab-active:nth-child(3) .index-icon {
    background-position: -525px -174px;
}
.content-box-5 .tab-list li.tab-active:nth-child(4) .index-icon {
    background-position: -577px -176px;
}
.content-box-5 .tab-list li.tab-active:last-child .index-icon {
    background-position: -629px -172px;
}
.content-box-5 .list-content {
	background: #fff;
}
.content-box-5 .list-content p {
	font-size: 1.125rem;
	line-height: 1.6;
}
.content-box-6 .doctor-bcg {
	background: #fff;
	border-radius: 20px;
	bottom: 11%;
	/*height: 270px;*/
	padding-top: 27%;
}
.content-box-6 .row>div:not(:last-child) {
	z-index: 2;
}
.content-box-6 .doctor-img-box {
	width: 40%;
}
.content-box-6 .doctor-detail {
	width: 60%;
}
.content-box-6 .doctor-detail h4 {
	line-height: 2.5;
	margin-top: 4rem;
}
.content-box-6 .doctor-detail .index-icon {
    width: 43px;
    height: 43px;
    background-position: 0 66px;
}
.content-box-6 .doctor-detail .doctor-detail-text {
	color: #777;
}
.content-box-6 .content-box-6-btn {
	bottom: 3rem;
}
.content-box-6 .content-box-6-btn a {
	background: url(imgs/index-icon.png);
    width: 158px;
    height: 53px;
    line-height: 3.2;
    font-size: 1.125rem;
    background-size: 55rem;
}
.content-box-6 .content-box-6-btn a span {
	color: #fff;
	padding-left: 2.5rem;
}
.content-box-6 .content-box-6-btn a span.check-detail {
	color: #1c5cb4;
}
.content-box-6 .content-box-6-btn a:first-child {
    background-position: 257px -151px;
}
.content-box-6 .content-box-6-btn a:last-child {
    background-position: 257px -219px;
}
.doctor-tab {
	padding: 0 10%;
}
.doctor-tab li {
	background: #144E9C;
	width: 38%;
	border-radius: 90px;
	cursor: pointer;
}
.doctor-tab li.doctor-tab-active {
	background: #1C80E3;
}
.arrow-left, .arrow-right {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 28%;
    z-index: 99;
    border-radius: 50%;
    background-color: rgba( 0, 0, 0, 0.302 );
    cursor: pointer;
  	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1),0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.arrow-right {
    left: 94%;
}
.arrow-left {
    right: 94%;
}
.arrow {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 20px;
}
.arrow-left .arrow {
    transform: rotate(45deg);
    right: 0%;
}
.arrow-right .arrow {
    transform: rotate(225deg);
}
.arrow-left:hover, .arrow-right:hover {
    background-color: #fff;
}
.arrow-left:hover .arrow, .arrow-right:hover .arrow {
	border-color: #1d5eb6;
}
.doctor-bcg-arrow {
    border-width: 1.25rem;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: -13%;
    left: 20%;
}
.doctor-banner {
	padding-bottom: 5%;
	margin-top: 2.5rem;
}
.swt-btn a {
	background-image: -moz-linear-gradient( 0deg, rgb(36,150,197) 0%, rgb(28,95,181) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(36,150,197) 0%, rgb(28,95,181) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(36,150,197) 0%, rgb(28,95,181) 100%);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1),0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
	border-radius: 4.375rem;
	font-size: 1.125rem;
}
.content-box-4-img-box {
	width: 53%;
	padding: 0 15px;
}
.content-box-3 p {
	color: #333;
}