.banner {
	margin-top: 120px;
}
form font{
	width: 30%;
	background-color: #e0e0e0;
	font-size: .9rem;
	color: #000;
	text-align: center;
}
.submit-btn {
	border-radius: 8px;
	background-color: #e60012;
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 1.3rem;
}
.active {
	background-color: #d10101 !important;
	color: #fff !important;
}

.swiper01,.copy{
	background: #f1fdff;
}
.swiper-pagination-bullet{
	margin: 0 0.3rem;
	width: 15px;
	height: 15px;
	background: #86b5c3;
	opacity: 1;
}

.swiper01 .swiper-pagination-bullet-active{
	background: #1c6d88;
}

