@charset "gb2312";
/* CSS Document */


.clr{ clear:both; margin:0 auto; height:0px; overflow:hidden;}
.pubW_c{ width:999px;}
.center{ margin:0 auto;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.bgff{ background:#fff;}
.bgf2{ background:#f2f2f2;}

.server p.call .phone{ background-position:  -363px -103px; width:17px; height:17px;}
.server p span{ color:#272727; font-size:14px; display:inline-block;}
.server p strong{ font-size:16px;}
.server p.bd {border: 1px solid #272727;border-radius: 3px;height: 23px;margin-top: 5px;}
.server input.inputtext {width: 217px;}
.server input.inputtext {border: 0 none;color: #BABABA;float: left;height: 23px;line-height: 23px;padding-left: 5px;width: 183px;}
.server input.inputbtn {background-position: -397px -16px;border: 0 none;cursor: pointer;float: right;height: 23px;width: 39px;}
.server input.inputbtn:hover {background-position: -397px -39px;}
.header1{ background:url(../imgs/header_01.jpg) no-repeat center top; height:133px;}
.header2{ background:url(../imgs/header_02.jpg) no-repeat center top; height:133px;}
.header3{ background:url(../imgs/header_03.jpg) no-repeat center top; height:132px;}
.header4{ background:url(../imgs/header_04.jpg) no-repeat center top; height:133px;}
.banner{ background:url(../imgs/banner.jpg) no-repeat center top; width:100%; height:664px;margin-top: 200px; }
.banner div{ position:relative; width:1200px;height:664px;}
.banner div a{ background:url(../imgs/btn.png) no-repeat 0 0; width: 109px; height: 33px; display:block; position:absolute; top:545px; left:232px;}
.banner div a:hover{ background-position:-143px 0;}

.box{ padding:40px 0 0;}
.nav,#scroll_nav{ width:100%;height:66px;  background:#a2795f;  color:#fff; position:relative;}
#scroll_nav h3{ font-size:20px; width:143px; line-height:50px; margin:8px 0;  border-right:solid 1px #7d563d; padding-right:20px;}
#scroll_nav ul { margin-left:32px;}
#scroll_nav ul li{ font-size:16px; float:left; display:inline; width:129px; text-align:center; line-height:66px; color:#fff;}
#scroll_nav ul li a{ color:#fff; width:129px; height:66px; margin:0 auto; display:block;}
#scroll_nav ul li a:hover,#scroll_nav ul li a.active{ color:#fff; background:#744e34; text-decoration:none;}
.box1{ padding:20px 0;}
.box1 img{ padding:28px 0;}
.box1 span{ display:inline-block; width:245px; text-align:center;  font-size:16px;}
.box1 span b{ color:#ff0000; font-weight:normal;}
.box1 p{ width:772px; font-size:16px; padding:10px 0;}
.box1_1{ padding-top:45px; border-bottom:dashed 1px #26325b; padding-bottom:16px;}

.box2{ padding:30px 0 0;}
.box2 h1,.box8 h1{ font-size:30px; text-align:center; color:#262626; line-height:34px;}
.box2_1{ background:#fff; height:353px; margin:40px auto; padding:30px 28px; width:1000px;}
.box2_1 dl{ width:181px; height:141px; margin:0 3px;}
.box2_1 dl dd b,.box3 dl dd b{ font-size:18px; color:#464545; text-align:center; display:block; padding:25px 0 33px 0;}
.box2_1 dl dd p,.box3 dl dd p{ font-size:16px;  line-height:28px;}
.box2_1 dl dd p{ text-align:center;}

.box3{  margin:38px auto;}
.box3 dl{ width:253px; margin-right:10px;}
.box3 dl dt{ width:243px; height:282px; border:solid 5px #fff;}
.box3 dl dd b{ padding:28px 0 5px 0;}
.box3 dl dd p{ width:240px; margin:0 auto; }
.box3 dl dd p span{ color:#f00;}
.box3 dl.diff{ width:208px; margin:0;}
.box3 dl.diff dt{ width:198px; height:127px; border:solid 5px #fff;}
.box3 dl.diff dt.dt1{ margin-top:16px; padding-top:1px;}
.box3 dl.diff a{ background: url(../imgs/btn.png) no-repeat 0 0; width: 109px; height: 33px; display:block; margin:60px auto 0;}
.box3 dl.diff a:hover{ background-position:-143px 0;}

.box4,#box6,.box8_3{ border-top:dashed 1px #26325b; border-bottom:dashed 1px #26325b; padding:40px 0 30px;}
.box4_1,.box4_2{ padding-top:35px;}
.box4_1 dl{ width:550px; margin:5px 0; position:relative;}
.box4_1_1{ position:absolute; z-index:999; top:100px;}
.box4_1_1.hover{ display:block;}
.box4_1 dl dt{ color:#fff; font-size:24px; width:227px; height:98px; background:#26325b; text-align:center; padding:67px 0 0; font-weight:bold;}
.box4_1 dl dd{ margin:20px 0 0 50px;}
.box4_1 dl dd p{ width:232px; font-size:16px; line-height:28px;}
.box4_1 dl dd p span{ color:#fd3e3e;}
.box4_1 dl dd a{ background: url(../imgs/btn.png) no-repeat 0 -113px; width: 78px; height: 26px; display:block; margin-top:10px;}
.box4_2 li{ height:175px;}
.box4_2 span{ display:block; text-align:center; font-size:16px; padding:8px 0; letter-spacing:5px;}
.box4_2 .img1{ margin-right:8px;}

#box5{ padding:40px 0 0;}
#box5 dl dd p{ width:225px;}
#box6 dl dd p{ width:240px;}

.box8{ padding:60px 0 50px; overflow:hidden;}
.box8 h2{ padding-top:70px;}
.box8_1 {padding:25px 0;}
#scroll_pic {width:100%;height:578px;position:relative;margin:0 auto;}
#scroll_pic ul {height:578px;overflow:hidden;width:100%;}
#scroll_pic ul li {width:100%;height:578px;}
.scroll_pic_inner1 {width:100%;height:578px; background:url(../imgs/zj1.jpg) no-repeat center top;}
.scroll_pic_inner2 {width:100%;height:578px; background:url(../imgs/zj2.jpg) no-repeat center top;}
.scroll_pic_inner3 {width:100%;height:578px; background:url(../imgs/zj3.jpg) no-repeat center top;}
.scroll_pic_inner4 {width:100%;height:578px; background:url(../imgs/zj4.jpg) no-repeat center top;}
.scroll_pic_inner5 {width:100%;height:578px; background:url(../imgs/zj5.jpg) no-repeat center top;}
.scroll_text {width:480px;float:right;margin-right:22px;display:inline;margin-top:125px;color:#000;}
.scroll_text h3 {width:100%;height:85px;line-height:85px;font-size:40px;font-weight:600;float:left;color:#000;}
.scroll_text dl{ font-size:14px; padding:15px 0;}
.scroll_text dl dd{ line-height:30px;}
.zj_icon1 {width:40px;height:40px;display:block; background-position:-542px -661px;}
.zj_icon2 {width:40px;height:40px;display:block; background-position:-597px -662px;}
.zj_icon3 {width:40px;height:40px;display:block; background-position:-650px -662px;}
.zj_icon4 {width:40px;height:40px;display:block; background-position:-698px -664px;}
.scroll_text p {width:460px;float:left;font-size:14px;line-height:24px;}
.zj_link{display:block;width: 109px; height: 33px;float:left;display:inline;background: url(../imgs/btn.png) no-repeat 0 -57px;margin-top:15px;margin-left:10px;}
.zj_link:hover { background-position:-128px -57px;}
.focus_btn {position:absolute;left:50%;bottom:-57px;width:820px;height:117px;margin-left:-456px;z-index:100;}
.focus_btn a {display:block;width:157px;height:115px;float:left;margin-right:5px;display:inline;border:1px solid #fff; transition:all 0.3s linear 0s;}
.focus_btn a:hover,.focus_btn a.active {border:1px solid #e5004f;}

.box8_2{ padding:40px 0;}
.box8_2 ul{ padding:60px 0 0;}
.box8_2 ul li{ float:left; display:inline; width:253px; }
.box8_2 ul li img{border:solid 5px #fff; width:243px; height:282px; display:block;}
.box8_2 ul li.mid{ margin:0 120px;}
.box8_2 ul li b{ font-size:18px; display:block; text-align:center; padding:22px 0 0;}
.box8_3 h2{ padding-top:0px;}
.box8_3_1{ padding:33px 0;}
.box8_3_2{ padding-bottom:30px;}
.box8_3_2 ul li{ width:244px; height:217px; border:solid 1px #000; float:left; display:inline; margin-right:5px; position:relative;}
.box8_3_2 ul li.last{ margin-right:0;}
.box8_3_2 ul li img{ position:absolute; top:-20px; left:41px;}
.box8_3_2 span{ font-size:18px; display:block; font-weight:bold; text-align:center;}
.box8_3_2 .blue{color:#26325b; margin:35px auto 0;}
.box8_3_2 .or{ color:#cb3c01; margin:8px auto 20px;}
.box8_3_2 p{ font-size:16px; color:#464545; text-align:center; line-height:30px;}
.box8_4{ border-bottom:dashed 1px #26325b; padding-bottom:50px;}
.box8_4 h2{ padding-top:60px;}
.box8_4_1{ padding:40px 0;}
.box8_4_1 img{ margin-right:5px;}
.box8_4_1 img{ margin-right:0;}
.box8_4 p{ font-size:16px; margin:0 auto; text-align:center;}

.box9 h1{ font-size:36px; text-align:center;}
.box9_1{ margin:30px auto; width:1160px; overflow:hidden;}
.box9_1 a{ float:left; display:block; border:solid 2px #eaeaea; width:293px; height:223px;}
.box9_1 a.mid{ margin:0 36px;}
.box9_1 a:hover{ border:solid 2px #08907e;}
.box9_1 a img{ width:293px; height:223px; text-align:center; display:block;}


