.main_img {width: 100%;margin: 0 auto;position: relative;overflow: hidden;margin-top: 124px;}
.main_img .hd {width: 100%;position: absolute;z-index: 1;bottom: 0.1rem;text-align: center;}
.main_img .hd ul {display: inline-block;height: 0.625rem;padding: 3px 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 0.625rem;font-size: 0;vertical-align: top;}
.main_img .hd ul li {display: inline-block;width: 0.625rem;height: 0.625rem;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 0.625rem;background: #000000;margin: 0 5px;vertical-align: top;overflow: hidden;}
.main_img .hd ul li.on{background: #C0272D;}
.main_img .bd {position: relative;z-index: 0;}
.main_img .bd li img {width: 100%;height: auto;vertical-align: top;}

.swt_btn{width: 7rem; height: 2rem; font-size: 0.9rem; border: 2px solid #c0272d; display: block; color: #c0262d; text-align: center;line-height: 2rem; font-weight: bold;}

/*儿童齿科*/
.project{width: 100%; margin: 1rem 0;}
.project h2{font-size: 1.8rem;font-family: SIYUAN; line-height: 60px;color: #333333;font-weight: bold;text-align: center;border-bottom: 1px #000000 solid;position: relative; margin-bottom: 1rem;}
.project h2 span{color: #ff921e;}
.project h2:after{width: 7.5rem;border-bottom: 3px solid #ff921e;position: absolute;bottom: -2px;left: 50%;margin-left: -3.75rem;content: ' ';}
.project li{text-align: center; color: #81cbe8; font-size: 0.8rem;margin-top: 0.4rem;}

.love_bg_top{background:url(../images/child/time_bg.png) no-repeat; width: 100%; height: 20px;margin:2rem auto;}
.love{width: 100%; background:#41b8e0;margin: -2.4rem auto 0 auto;padding: 1rem 2rem; color: #fff;}
.love h2{font-size: 1.8rem;font-family: SIYUAN; color: #fff;font-weight: bold;text-align: center;border-bottom: 1px #000000 solid;position: relative; margin-bottom: 1rem;}
.love h2 span{color: #ff921e;}
.love h2:after{width: 7.5rem;border-bottom: 3px solid #ff921e;position: absolute;bottom: -2px;left: 50%;margin-left: -3.75rem;content: ' ';}
.love p{ margin: 1rem auto;line-height: 1.4rem;font-size: 0.8rem; text-align: center;}
.love_boder h3{font-size: 1.6rem; margin: 0.5rem 0; text-align: center;}

.science{width: 100%; margin: 2rem 0; }
.science h2{font-size: 1.8rem;font-family: SIYUAN; color: #333333;font-weight: bold;text-align: center;border-bottom: 1px #000000 solid;position: relative;margin-bottom: 1rem;}
.science h2 span{color: #ff921e; display: block;}
.science h2:after{width: 7.5rem;border-bottom: 3px solid #ff921e;position: absolute;bottom: -2px;left: 50%;margin-left: -3.75rem;content: ' ';}

.science_left{width: 100%;}
.science_left .science_main{width: 80%; margin: 0 auto;}
.science_left .science_main h4{font-size: 1.2rem; color: #ff921e; text-align: center; border-bottom: 1px dashed #41b8e0; margin-top: 4rem; padding-bottom: 0.8rem;}
.science_left .science_main img{display: block; margin: 0.8rem 0;}
.science_left .science_main p{font-size: 0.8rem; color: #333333; line-height: 1.2rem; margin-bottom: 0.6rem;}
.science_left .science_main p b{font-weight: bold;}
.science_left .science_main a.swt_btn{margin: 1rem auto;color: #FF921E; border-color: #FF921E; }

.science .hd{font-family: SIYUAN;}
.science .hd li{padding: 0; text-align: center; font-size: 0.9rem; font-weight: bold; color: #fff;  background: #41b8e0; cursor: pointer; position: relative;padding: 0.4rem 0;}
.science .hd li i{background: url(../images/child/tab_cur.png); width: 17px; height: 9px; position: absolute; bottom: -8px; left: 50%; margin-left: -8.5px; display: none;}
.science .hd li.on{background: #ff921e; color: #fff;}
.science .hd li.on i{display: block;}

.time_bg_top{background:url(../images/child/time_bg.png) no-repeat; width: 100%; height: 20px;margin:2rem auto;}
.time{width: 100%; margin: -2.4rem 0 0 0; background: #41b8e0; padding: 1rem 0;}
.time h2{font-size: 1.8rem;font-family: SIYUAN; color: #fff;font-weight: bold;text-align: center;border-bottom: 1px #fff solid;position: relative;margin-bottom: 1rem;}
.time h2 span{color: #ff921e; display: block;}
.time h2:after{width: 7.5rem;border-bottom: 3px solid #ff921e;position: absolute;bottom: -2px;left: 50%;margin-left: -3.75rem;content: ' ';}
.time .time_main{width: 80%;color: #fff; margin: 0 auto;}

.time .time_main table th{vertical-align: middle; text-align: center;}
.time .time_main table td{vertical-align: middle; text-align: center;}

.time_text{padding-bottom: 2rem;}
.time_text h5{font-size: 1.6rem; font-weight: bold; margin-bottom: 0.8rem; text-align: center;}
.time_text p{line-height: 1.6rem; font-size: 0.8rem;}
.time_text span{width: 1rem; height: 1rem; background: #fff; border-radius: 1rem; line-height: 1rem; font-size: 0.8rem; margin: 0.3rem 0.2rem 0 0;  text-align: center; color: #000; float: left;}

.compared2{width: 100%; margin: 1rem auto; }
.compared2 h2{font-size: 1.8rem;font-family: SIYUAN; color: #333333;font-weight: bold;text-align: center;border-bottom: 1px #000000 solid;position: relative; margin-bottom: 2rem;}
.compared2 h2 span{color: #ff921e;display: block;}
.compared2 h2:after{width: 7.5rem;border-bottom: 3px solid #ff921e;position: absolute;bottom: -2px;left: 50%;margin-left: -3.75rem;content: ' ';}

.doctor{width: 100%; margin: 1rem auto 0 auto; }
.doctor h2{font-size: 1.8rem;font-family: SIYUAN; color: #333333;font-weight: bold;text-align: center;border-bottom: 1px #000000 solid;position: relative;}
.doctor h2 span{color: #ff921e;display: block;}
.doctor h2:after{width: 7.5rem;border-bottom: 3px solid #ff921e;position: absolute;bottom: -2px;left: 50%;margin-left: -3.75rem;content: ' ';}
.doctor h2 p{font-size: 1rem; color: #666666; text-align: center; line-height: 1rem; margin-bottom: 0.5rem;}
.doctorBox{ width:100%; margin:0 auto; position:relative; overflow:hidden;}
.doctorBox .hd{width:100%; display: none; }
.doctorBox .bd{ position:relative; z-index:0; background: #fff;padding: 1rem 0;}

.doctorBox .bd .info{padding: 0.6rem 0;}
.doctorBox .bd .info h4{font-weight: bold; font-size: 1.2rem;margin-bottom: 0.4rem; color: #FF921E;}
.doctorBox .bd .info h4 span{font-size: 0.9rem; font-weight: 100; margin-left: 0.6rem;}
.doctorBox .bd p{color: #818283; font-size: 0.6rem; line-height: 1.2rem;}
.doctorBox .bd p.item span{display: block; font-weight: bold;}
.doctorBox .bd .dimg {text-align: center}
.doctorBox .bd .dimg a{width: 6rem; height: 1.6rem; background: #ff921e; color: #fff; line-height: 1.6rem; text-align: center; font-size: 0.8rem; display: block; margin: 0.5rem auto; }

.wiki3{width: 100%; margin: 0 auto; }
.wiki3 h2{font-size: 1.8rem;font-family: SIYUAN; color: #333333;font-weight: bold;text-align: center;border-bottom: 1px #000000 solid;position: relative; margin-bottom: 2rem;}
.wiki3 h2 span{color: #ff921e;}
.wiki3 h2:after{width: 7.5rem;border-bottom: 3px solid #ff921e;position: absolute;bottom: -2px;left: 50%;margin-left: -3.75rem;content: ' ';}

.wiki3 ul{width: 90%; margin: 0 auto;}
.wiki3 li{border-bottom: 1px dashed #666666; padding-bottom: 1rem; margin-bottom: 1rem; position: relative;}
.wiki3 li a{color: #666666; font-size: 0.6rem;line-height: 1.2rem;}
.wiki3 li h4{font-size: 1rem; font-weight: bold; display: block;position: relative;line-height: 2rem;}
.wiki3 li a:first-child{margin-bottom: 1rem; display: block;}
.wiki3 li a.tab_term{width: 5rem; height: 1.6rem; line-height: 1.6rem; text-align: center; border: 1px solid #ccc; border-radius: 1rem; position: absolute; bottom: 0.2rem; right: 0;}


/*儿童齿科*/


/*牙病治疗*/
.symptom{width: 100%; margin: 2rem auto;}
.symptom h2{font-size: 1.4rem;color: #333333;font-weight: bold;text-align: center;border-bottom: 1px #000000 solid;position: relative; margin-bottom: 2rem;}
.symptom h2:after{width: 7.5rem;border-bottom: 3px solid #c0262d;position: absolute;bottom: -2px;left: 50%;margin-left: -3.75rem;content: ' ';}
.symptom li p{display: block; text-align: center; color: #333333; margin-top: 0.5rem; font-size: 0.8rem;}
.symptom a.swt_btn{width: 14rem; margin: 1rem auto;}

.understand{width: 100%; margin: 2rem auto 0 auto;}
.understand h2{font-size: 1.4rem; color: #333333;font-weight: bold;text-align: center;border-bottom: 1px #000000 solid;position: relative; margin-bottom: 2rem;}
.understand h2:after{width: 7.5rem;border-bottom: 3px solid #c0262d;position: absolute;bottom: -2px;left: 50%;margin-left: -3.75rem;content: ' ';}
.understand p.title{font-size: 1rem; color: #666666; width: 7.5rem; margin: -1rem auto 2rem auto; text-align: center; line-height: 1rem;}

.understand li{border: 0; }
.understand li:last-child{margin-right: 0;}
.understand li:nth-child(3){margin-right: 0;}
.understand li h4{height: 3rem; line-height: 3rem; text-align: center; position: relative; background: #e2eef6;}
.understand li h4:before{position: absolute; width: 4rem; height: 1px; content: ""; background: #a5aab0; top: 50%; left: 1.1rem;}
.understand li:nth-child(4) h4:before{position: absolute; width: 7rem; height: 1px; content: ""; background: #a5aab0; top: 50%; left: 1.1rem;}
.understand li:nth-child(5) h4:before{position: absolute; width: 7rem; height: 1px; content: ""; background: #a5aab0; top: 50%; left: 1.1rem;}
.understand li h4 span{display: block; font-size: 1.8rem; font-family: Politica;background: #e2eef6; width: 40%; position: absolute; left: 30%;}
.understand li .caption{background: #f2f2f2; text-align: center; min-height: 7rem;}
.understand li .caption h3{font-size: 1rem; color: #333333; font-weight: bold;}
.understand li .caption p{font-size: 0.8rem; color: #666666;}

.process{width: 100%; margin: 0rem auto; }
.process h2{font-size: 1.4rem; color: #333333;font-weight: bold;text-align: center;border-bottom: 1px #000000 solid;position: relative; margin-bottom: 2rem;}
.process h2:after{width: 7.5rem;border-bottom: 3px solid #c0262d;position: absolute;bottom: -2px;left: 50%;margin-left: -3.75rem;content: ' ';}
.process p.title{font-size: 1rem; color: #666666; width: 7.5rem; margin: -1rem auto 2rem auto; text-align: center; line-height: 1rem;}
.process li{border: 0;background: #f6f6f6;position: relative; float: left; text-align: center; min-height: 295px;}
.process li .caption h3{font-size: 1.2rem;color: #5d5d5d; text-align: center;}
.process li .caption p{font-size: 0.6rem;color: #969696;}

.cure{width: 100%; margin: 0rem auto; }
.cure h2{font-size: 1.4rem; color: #333333;font-weight: bold;text-align: center;border-bottom: 1px #000000 solid;position: relative; margin-bottom: 2rem;}
.cure h2:after{width: 7.5rem;border-bottom: 3px solid #c0262d;position: absolute;bottom: -2px;left: 50%;margin-left: -3.75rem;content: ' ';}
.cure li{color: #000;text-align: center;}
.cure li:last-child{margin-right: 0;}
.cure li .caption h3 {margin: 0.8rem 0;font-size: 1rem;}
.cure li .caption p{font-size: 0.6rem;padding: 0 0.5rem;line-height: 1rem;}

.case{width: 100%; margin: 0rem auto; }
.case h2{font-size: 1.4rem; color: #333333;font-weight: bold;text-align: center;border-bottom: 1px #000000 solid;position: relative; margin-bottom: 2rem;}
.case h2:after{width: 7.5rem;border-bottom: 3px solid #c0262d;position: absolute;bottom: -2px;left: 50%;margin-left: -3.75rem;content: ' ';}
.case h2 p{font-size: 1rem; color: #666666; width: 7.5rem; margin: -1rem auto 2rem auto; text-align: center; line-height: 1rem;}

.doctor2 h2:after{border-color:#c0262d;}
.doctor2 h2 span{color: #C0262D;}
.doctor2 .doctorBox .bd .info h4{color: #c0262d;}
.doctor2 .doctorBox .bd .dimg a{background-color: #c0262d;}

.wiki h2:after{border-color:#c0262d;}
.wiki h2 span{color: #C0262D;}
/*牙病治疗*/


/*牙齿美白*/
/*公用样式*/
.color-red{color:#c4242e;}
.writening-btn{display:inline-block;border:2px solid #c4242e;padding:.15rem 1.75rem;font-weight:600;margin-top:0.5rem;}
.content-flex {display: flex;}
/*各版块*/
.content1,.content2,.content3,.content4,.content5{margin-top:2rem;}
.margin-top{margin-top:2rem;}
/*各大标题*/
.content-title{font-size:1.4rem;font-weight:700;text-align:center;}
.content-title p{display:inline-block;border-bottom:1px solid #b7b7b7;padding-bottom:.625rem;position:relative;}
/*标题下红色横线*/
.bottom-color{position:absolute;width:30%;display:inline-block;border-bottom:3px solid #c4242e;bottom:-2px;left:36%;z-index:1;}
/*标题下描述文字*/
.content-text{font-size:0.8rem;padding:1rem 1.5rem;color:#666666;}
/*不显示*/
.unshow {display:none;}
/*内容1*/
/*图片列*/
.content1 .img-list{display:flex;justify-content:center;}
.line{display:inline-block;height:1px;width:22%;border-bottom:1px solid #cfcfcf;position:relative;top:-6px;}
.color-bf{border-bottom:1px solid #bfbfbf;}
.num{margin:0 0.2rem;font-size:1.5rem;font-weight:600;font-family:cursive;}
.name{margin:.25rem 0 .75rem 0;font-weight:600;}
.bcg-d8,.bcg-f6{padding:1rem 1.25rem; text-align: center;}
/*内容2*/
/*选项卡*/
.content2 .content-tab{margin:2rem 0 1.5rem 0;padding:0 .9rem;display:flex;justify-content:space-around;}
.content2 .content-tab-title{background-color:#f5f5f5;width:31.5%;padding:1rem 0;font-weight:700;font-size:1.05rem;position:relative;}

.technology3 .tech_box2 .hd ul li{ background:#d2ab67; height:2rem; margin-bottom:0.5rem; text-align:center; color:#fff; line-height:2rem; font-size:0.6rem; font-weight:bold; padding: 0 0.2rem ;}
.technology3 .tech_box2 .hd ul li.on{ background:#c0272d;}

.technology3 .tech_box2 .bd .tech_info{padding: 0 0.4rem;}
.technology3 .tech_box2 .bd h3{ font-weight:bold; font-size:1rem; color:#333; line-height:1rem; padding: 0.5rem 0;}
.technology3 .tech_box2 .bd span{ color: #c0262d; line-height:2rem;list-style:none}
.technology3 .tech_box2 .bd p{font-size: 0.6rem;}
.technology3 .tech_box2 .bd .adv_list{margin-top: 0.5rem; font-size: 0.6rem; }
.technology3 .tech_box2 .bd h4{font-size: 0.8rem; font-weight: bold; color: #C0272D; margin-bottom: 0.5rem;}
.technology3 .tech_box2 .bd ul{margin-top: 0.5rem;}
.technology3 .tech_box2 .bd li{min-height: 12rem;background: #fff;}

.content3 ul{margin: 0.5rem 0;}
.content3 ul li{padding: 0 0.5rem; margin-bottom: 0.5rem;}
.content3 li div{padding: 0;}
.content3 li p{font-size: 0.8rem; text-align: center;}

/*牙齿美白*/




/*美齿修复*/
/*内容1*/
.content1 .content-list{margin-top:.25rem;justify-content:space-between;}
.content1 .content-list li{position:relative;width:33%;margin-bottom: 0.5rem;}
.content1 .img-msg{position:absolute;bottom:0;left:0;right:0;color:#fff;background:#c2996d;padding:.3rem 0; font-size: 0.8rem;}
/*内容2*/
.content2{background:#eee;}
.content2 .content-second-title{font-size:2rem;}
.content2 .list{padding-left:1.25rem; text-align: left;}
.content2 .list li{position:relative;display:inline-block;margin:1rem .25rem;border:1px solid #fff;padding:.25rem 0;padding-right:.5rem;padding-left:1.5rem;font-size: 0.6rem;}
.content2 .contnet-num{position:absolute;top:-40%;background:#c4242e;color:#fff;padding:0rem .35rem;left:2.5%;}

.problem li{background: #f6f6f6;text-align: center;min-height: 15rem;position: relative;}
.problem li:nth-child(even){background: #d8d8d8;}
.problem li:last-child{margin: 0;}
.problem li h3{font-family: "RTWSJyunYaDemo"; font-size: 2rem; color: #333333; text-align: center;}
.problem li h3:before{width: 2rem;border-bottom: 1px solid #b7b7b7;position: absolute;left: 4px;top: 1.5rem;content: ' ';}
.problem li h3:after{width: 2rem;border-bottom: 1px solid #b7b7b7;position: absolute;right: 8px;top: 1.5rem;content: ' ';}
.problem li .caption{ min-height: 8rem; overflow: hidden; padding: 0 0.3rem ; }
.problem li p{text-align: center;line-height: 1.4rem; font-size: 0.6rem;}

/*内容3*/
.content3 .content-tab{margin-top:1.5rem;justify-content:center;margin-bottom:.5rem;}
.content3 .content-tab-list{padding:.5rem 0;background:#eee;width:32.5%;position:relative;}
.content3 .content-tab-list.on{background-color: #C0272D;}
.content3 .content-tab-list p{color: #000;}
.content3 .content-tab-list.on p{color: #fff;}
.content3 .content-card{margin-top:.75rem;}

.techBox .tech_right{padding: 0 0.6rem;}
.techBox .tech_right .tech_main2{width: 100%;}
.techBox .tech_right .tech_main2 h5{font-size: 1rem; color: #333333; font-weight: bold; margin-bottom: 1rem;}
.techBox .tech_right .tech_main2 h5 i{color:#C2996D;}
.techBox .tech_right .tech_main2 p{font-size: 0.8rem; color: #666666;line-height: 1rem;text-align: justify;}
.techBox .tech_right .tech_main2 ul{margin: 0.6rem 0 1rem 0;}
.techBox .tech_right .tech_main2 ul.cricle li{padding: 1rem 0;font-size: 0.8rem;text-align: center;font-weight: bold; line-height: 1rem; color: #c2996d; border: 1px solid #c2996d; border-radius: 50%;}
.techBox .tech_right .tech_main2 ul.applicable li{margin-bottom: 0.8rem;font-size: 0.8rem; line-height: 1rem; color: #333; text-align: left; }
.techBox .tech_right .tech_main2 ul.applicable li i{color:#C2996D; margin-right: 5px;}







/*美齿修复*/


/*种植牙*/
/*内容1*/
.content1 .img-list{display:flex;justify-content:center;}
.content1 .img-list .bcg-f6{margin-right:2px;}
.content1 .img-list .bcg-d8,.content1 .img-list .bcg-f6{padding:1rem 1.25rem 0;}
.content1 .img-list .name{margin:.75rem 0;font-weight:600; min-height:2.6rem ;}
.content1 .img-list .color-bf{border-bottom:1px solid #bfbfbf;}
/*内容2*/
.content2 .understand{background:url(../images/implant/question.jpg) no-repeat;color:#fff;}
.content2 .content-title{font-size:1rem;padding-top:.5rem; margin-bottom: 0.6rem;}
.content2 .fix-titile{padding:0 2rem;margin-top:2rem;font-size:1.5rem;}
.content2 .content-text{padding:0.6rem 1rem;}
.content2 .content-text .round{width:.35rem;height:.35rem;display:inline-block;border-radius:50%;background:#c4242e;margin-right:.65rem;position:relative;bottom:3px;}
.content2 .content-list{justify-content:space-around;padding:0 1rem;}
.content2 .content-list li{position:relative;}
.content2 .content-list .img-msg{position:absolute;bottom:0;left:0;right:0;background:#333;color:#fff;height: 1.4rem;font-size: 0.6rem;line-height: 1.4rem;}

.understand .content-second-title{padding-bottom:1rem;font-size:.8rem;}
.understand .content-second-title a{padding:0 0.5rem; color: #fff;}
.understand .left-line{border-left:1px solid #fff;}

/*内容3*/
.compared table {border-collapse:separate;border-spacing:1px 1px; margin-top: 1rem;font-size: 0.8rem;}
.compared table thead{background: #c0262d;color: #fff; font-size: 1rem; font-weight: bold;}
.compared table  *{border: 0px solid transparent !important; }
.compared table thead th:first-child{background: #881116;}
.compared table thead th{text-align: center;height: 2rem; line-height: 2rem;position: relative; }

.compared table tbody tr{border-bottom:1px solid #d1d1d1 ;}
.compared table tbody tr th{background: #2c2c2c; color: #fff;text-align: center;height: 2rem; line-height: 2rem;}
.compared table tbody tr td{vertical-align: middle; text-align: center;height: 2rem;}
.compared table tbody tr td img{display: block; margin: 5px auto;}
.compared table tbody tr td b{color: #c0262d; font-weight: bold;}
.compared table tbody tr td:nth-child(2){background: #dedede;}
.compared table tbody tr td:nth-child(3){background: #fff;}
.compared table tbody tr td:nth-child(4){background: #f6f6f6;}

/*内容4*/
.content4{margin-top:1.5rem;background:#e6e6e6;padding:2.5rem 0 1rem 0;}
.content4 .content-title span{display: block;}
.content4 .content-title font{display: block; font-size: 0.8rem;}

.implant{margin-top: 1rem;}
.implant h1{text-align: center;}
.implant .adv_red{width: 80%; height: 3rem; margin: 0.8rem auto; background: #c0262d;padding-top: 0.25rem;}
.implant .adv_red p{color: #fff; text-align: center; font-size: 0.8rem;}
.implant .adv_red p:first-child{font-size: 1rem;}
.implant p.desc{font-size: 0.8rem; color: #333333;width: 80% ; margin: 0 auto;}
.implant span{display: block; font-size: 0.8rem; color: #333333; font-weight: bold; width: 80%;margin: 0.8rem auto;}
.implant font{display: block; font-size: 1rem; color: #333333; width: 80%;margin: 0 auto 0.8rem auto;}
.factor h1{text-align:center; }
.factor .num{font-style:oblique;}
.factor .color-linear{border-bottom:1px solid #c12c32;font-weight:600;font-size:1.15rem;}
.factor .top-linear{border-top:1px solid #ddd;}
.factor .right-linear{border-right:1px solid #ddd;}
.factor .factor-list{padding-bottom:1.5rem;padding-top:1.5rem;}
.factor .factor-list p:last-child{margin-top:.75rem;font-size: 0.8rem;}

.content4 .advantage{margin-top:.5rem;font-size: 0.8rem; padding: 0.6rem 0;}
.content4 .advantage .advantage-list{background:#fff;padding: 0.4rem; margin:0 0.4rem 0.8rem 0.4rem;}
.content4 .advantage div{padding: 0;}
.content4 .advantage .advantage-list4{width: 47%; float: left;margin-right: 0.2rem; min-height: 17.8rem;}
.content4 .advantage .advantage-list5{width: 47%; float: right;margin-left: 0.2rem;}
.content4 .advantage-list .num{font-style:oblique;font-size:2.5rem;margin:0;padding:.5rem;}
.content4 .advantage-list .bottom-linear{border-bottom:1px solid #dcdcdc;font-weight:600;font-size:1.2rem;padding-bottom:.25rem;}
.content4 .advantage-list p:nth-child(2){margin-bottom:1rem;}
.content4 .advantage-list3 .num{border:none;font-style:normal;margin:2.5rem 0 0 0;padding:0;}
.content4 .advantage-list3 p:nth-child(4){padding:1.9rem 0;}
.content4 .advantage .design-online{background:#c4242e;height: 6.3rem; line-height: 6.3rem; margin:0 0.4rem;}
.content4 .advantage .design-online .design{color:#fff;border:1px solid #fff;padding: 0.4rem;}
/*种植牙*/


/*牙齿纠正*/
.detail-btn {display: inline-block;border: 1px solid #cd5157;padding: .1rem .45rem .25rem;margin-top: 1.5rem;color: #cd5157 !important;font-size: .8rem;}
.content-second-title {display: block;font-weight: 100;font-size: 1.3rem;}
/*内容1*/
.correct-content1 .flex-line1{justify-content:space-between;}
.correct-content1 .flex-line2{justify-content:center;margin-top:1.5rem;}
.correct-content1 .flex-line2{padding: 0 2rem;}
.correct-content1 .flex-line2 div{margin:0 .3rem;}
.correct-content1 .content-text-title{font-size:.95rem;margin:.35rem 0;}
/*.correct-content1 .detail-text{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;padding-left:.25rem;font-size: .8rem;}*/
.correct-content1 .detail-text {font-size: .7rem;height: 3rem;}
/*.correct-content1 .flex-line1 .detail-text {width:7.5rem;}*/
/*.correct-content1 .flex-line2 .detail-text {width:10.5rem;}*/
/*内容2*/
.content2 .content-second-title span:nth-child(2) {color: #cbb15a;}
/*内容3*/
.correct-content3 .content-flex{margin:2rem 0 0rem;justify-content:space-between;}
.correct-content3 .content-tab-title{background-color:#d9c6af;width:31.5%;padding:1rem 0;font-weight:700;font-size:1.05rem;position:relative;color:#fff;width:33%;}
.correct-content3 .on{background-color:#c0262d;}
.correct-content3 .arrow{border-bottom:2px solid #c0262d;border-right:2px solid #c0262d;position:absolute;bottom:-1rem;left:0;right:0;margin:auto;width:0.8rem;height:0.8rem;transform:rotate(45deg);}
.correct-content3 .content-detail{padding:1.5rem 1.5rem 0;background-color:#f4f4f4;margin-top: 2rem;}
.correct-content3 .content-detail-img{justify-content: start;}
.correct-content3 .content-detail-img img{border: 1px solid #fff;}
.correct-content3 .diagnosis-time{margin-top:1rem;font-size: .9rem;}
.correct-content3 .recommend{margin:.15rem 0;font-size: .9rem;}
.correct-content3 .introduce{line-height:1.5;font-size: .9rem;}
.correct-content3 .content-detail-btn{margin:2rem 0;font-size: .9rem;}
.correct-content3 .content-detail-btn a{background-color:#c0262d;color:#fff;padding:.2rem .9rem;}
.correct-content3 .describe div{padding:0 0 1rem 0;border-bottom:1px dashed #c8c8c8;margin-top:1.5rem;width:92%;}
.correct-content3 .describe div:last-child{border:none;}
.correct-content3 .describe p{margin-top:.75rem;font-size: .8rem;}
.correct-content3 .describe-title{background-color:#d9c6af;font-weight:600;color:#333;padding:.2rem 0 .2rem 1.5rem;width:8rem;display:inline-block;}
.correct-content3 .right-text {font-size: .7rem;}
.correct-content3 .right-text p{padding:0 0 0 1rem;}
.correct-content3 .right-text p:first-child{font-weight:600;font-size:.95rem;}
.correct-content3 .right-text p:nth-child(2){line-height:1.5;}
/*内容4*/
.correct-content4 .content-title{margin: 2rem 0;}
.correct-content4 .correct-list{position: relative;padding-bottom: 90%;margin-bottom: 2.5rem;}
.correct-content4 .correct-list li{width: 40%;height: 45%;position: absolute;background: url(../images/correction/bg.png) no-repeat;background-size: 100%;padding-top: 10%;font-family: politica;}
.correct-content4 .correct-list li:first-child{top: 0;left:0;}
.correct-content4 .correct-list li:nth-child(2){top: 0;left:0;right:0;margin: auto;}
.correct-content4 .correct-list li:nth-child(3){top: 0;right:0;}
.correct-content4 .correct-list li:nth-child(4){top: 28.5%;left:15.1%;}
.correct-content4 .correct-list li:nth-child(5){top: 28.5%;right:15.1%;}
.correct-content4 .correct-list li:last-child{top: 57.5%;left:0;right: 0;margin:auto;}
.correct-content4 .correct-list li h3{font-size: 1.75rem;}
.correct-content4 .correct-list li p{font-size: .8rem;}
.correct-content4 .correct-list .linear{display: inline-block;width: .9rem;position: relative;border-bottom: 1px solid #333;top:-0.5rem;}
.correct-content4 .correct-list .left{left:3.3rem;}
.correct-content4 .correct-list .right{right:3.3rem;}
/*牙齿纠正*/