i {
	display: inline-block;
}
.banner {
	margin-top: 111px;
}
.content-box-1 .phone-icon {
	background: url(imgs/phone-icon.png);
	width: 32px;
	height: 28px;
	vertical-align: middle;
	background-size: cover;
}
.content-box-1 h2 {
	color: #fbee24;
	background-color: #065DB5;
}
.content-form span {
	color: #999;
	font-size: .9rem;
}
.content-form input {
	border: 1px solid #CBCBCB;
	width: 65%;
    padding: 4px 0;
}
.submit-btn {
	background: #CC0606;
	border-radius: 20px;
	font-size: 1.1rem;
    width: 60%;
    display: inline-block;
}
.content-box-1 .tips {
	font-size: .8rem;
	color: #999;
}
.content-box-2 h2 {
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(12, 111, 210, 1)), to(rgba(2, 78, 155, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content-box-2 .img-list {
	width: 31%;
}
.content-box-2 li p {
	color: #333;
	font-size: 1.2rem;
}
/*.content-box-2 li:not(:last-child) {
	border-bottom: 1px solid #EAEAEA;
}*/
.check-more-btn {
	color: #585858;
}
.check-more-btn:after, .check-more-btn:before {
    content: '';
    width: 25%;
    height: 1px;
    background-color: #e8e8e8;
    display: inline-block;
    position: relative;
    bottom: 6px;
    margin: 0 10px;
}