@charset "utf-8";
/* MaxBooking */
.max-booking .bajs-light-popup-origin{background-color:transparent;}
.max-booking .bajs-light-popup-origin .bajs-light-popup-close{width:19px;height:19px;overflow:hidden;right:10px;top:10px;background:url('ico.png') no-repeat 0 -381px;-webkit-transform:rotate(0);transform:rotate(0);transition:transform 0.25s ease-in-out,-webkit-transform 0.25s ease-in-out;}
.max-booking .bajs-light-popup-origin .bajs-light-popup-close:hover{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.max-booking .bajs-light-popup-origin .bajs-light-popup-content{color:#555;background:url("bg.png") repeat-x 0 0;height:278px;}
.max-booking .bajs-light-popup-origin .bajs-light-popup-container{height:278px;margin:3px;position:relative;z-index:1;}

.max-booking .bajs-light-popup-origin .border-mask{width:627px;height:284px;z-index:0;background-color:#9e5e45;opacity:0.5;filter:alpha(opacity=50);box-shadow: 0 0 8px rgba(0,0,0,0.4);display:block;position:absolute;left:0;top:0;}

.max-booking .max-booking-form{width:304px;height:245px;padding-top:38px;background:url("ico.png") no-repeat 0 0;position:absolute;left:7px;top:-5px;}
.max-booking .max-booking-form dl{position:relative;width:250px;height:28px;padding-bottom:12px;margin:0 auto;}
.max-booking .max-booking-form dl dt b{color:#f00;font-size:12px;padding-right:4px;font-weight:bold;}
.max-booking .max-booking-form dl dt{position:absolute;left:0;top:0;width:80px;white-space:nowrap;font-size:14px;line-height:28px;text-align:right;}
.max-booking .max-booking-form dl dd{position:relative;height:28px;padding-left:85px;margin:0;width:165px;}
.max-booking .max-booking-form dl dd .text{background-color:#f9f6f5;border:solid 1px #cac2bd;font-size:14px;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;font-family:"Microsoft Yahei",Tahoma;}
.max-booking .max-booking-form dl dd .text:focus,.max-booking-form dl dd .text.onFocus{border-color:#6eaa24;background-color:#fff;}
.max-booking .max-booking-form dl dd select.text{width:149px;height:28px;line-height:28px;}
.max-booking .max-booking-form dl dd input.text{width:145px;padding:0 0 0 2px;height:26px;line-height:26px;}
.max-booking .max-booking-form .bajs-ajax-form-sumit-btn{width:125px;height:35px;margin:0 auto 0 114px;background:url('ico.png') no-repeat 0 -285px;border:none;padding:0;cursor:pointer;position:relative;z-index:0;}
.max-booking .max-booking-form .bajs-ajax-form-sumit-btn:hover{background-position:-127px -285px;}

.max-booking-wrapper .bookingNotice{float:right;padding:20px 20px 0 0;width:285px;display:inline;}
.max-booking-wrapper .bookingNotice dl{padding-bottom:10px;}
.max-booking-wrapper .bookingNotice dl dt{font-weight:bold;line-height:24px;color:#9e5e45;font-size:12px;padding-left:30px;position:relative;}
.max-booking-wrapper .bookingNotice dl dt i{position:absolute;width:22px;height:17px;margin-top:-8px;left:0;top:50%;background:url('ico.png') no-repeat 0 0;display:block;overflow:hidden;}
.max-booking-wrapper .bookingNotice dl dt i.i1{background-position:-306px 0;}
.max-booking-wrapper .bookingNotice dl dt i.i2{background-position:-330px 0;}
.max-booking-wrapper .bookingNotice dl dd p{line-height:22px;font-size:12px;position:relative;}
.max-booking-wrapper .bookingNotice dl.n1 dd p{padding-left:24px;}
.max-booking-wrapper .bookingNotice dl.n2 dd p{padding-left:36px;}
.max-booking-wrapper .bookingNotice dl dd p b{position:absolute;left:0;top:0;line-height:24px;font-weight:normal;}

/* FreeCall */
.free-call .bajs-light-popup-origin .bajs-light-popup-close{position:absolute;top:0;right:0;width:47px;height:46px;background:url("bg_01.png") no-repeat -90px 0;display:block;border-radius:0 0 0 100%;}
.free-call .bajs-light-popup-origin{box-shadow:0 0 10px rgba(0,0,0,0.5);overflow:hidden;}
.free-call-container{position:relative;z-index:2;width:400px;height:470px;}
.free-call-title{width:400px;height:176px;padding-top:26px;}
.free-call-title i{width:67px;height:67px;display:block;margin:0 auto;background:url("bg_01.png") no-repeat 0 0;-webkit-animation:tada 1.6s ease-in-out infinite;-moz-animation:tada 1.6s ease-in-out infinite;}
.free-call-title h2{color: #241c09;font-size:14px;font-style:normal;font-weight:normal;text-align:center;padding-top:14px;}
.free-call-title h2 span{display:block;color: #3d3d3d;font:normal 30px/42px "Microsoft Yahei",SIMHEI;}
.free-call-content{background-color:#a64f31;width:400px;height:242px;padding-top:26px;color: #fff;}
.free-call-content p{font-size:14px;text-align:center;line-height:24px;}
.free-call-content form{width:207px;margin:15px auto 0 auto;}
.free-call-content form dl dt{display:none;}
.free-call-content .telText,.free-call .bajs-ajax-form-action input{width:205px;height:40px;display:block;font:normal 16px/40px "Microsoft Yahei",SIMHEI;text-align:center;margin:0 auto;padding:0;border-radius:4px;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.free-call-content .telText{border:solid 1px #c76a49;color:#cfcfcf;background-color:#fff;margin-bottom:6px;}
.free-call-content .telText:hover{border-color:#628800;}
.free-call-content .telText:focus{border-color:#4f6e00;box-shadow:0 0 3px rgba(0,0,0,0.2);}
.free-call .bajs-ajax-form-action input{border:solid 1px #c76a49;color:#fff;cursor:pointer;background-color:#863316;}
.free-call .bajs-ajax-form-action input:hover{border-color:#fff;}
.free-call .bajs-ajax-form-action input:active{background-color:#4f6e00;}
.free-call-content ul{width:216px;padding-top:6px;margin:0 auto;}
.free-call-content ul li{height:20px;font-size:12px;line-height:20px;color:#fff;white-space:nowrap;}
@-webkit-keyframes tada{
    0%{-webkit-transform:scale(1);}
    5%,10%{-webkit-transform:scale(0.8) rotate(-5deg);}
    15%,25%,35%,45%{-webkit-transform:scale(1.1) rotate(5deg);}
    20%,30%,40%{-webkit-transform:scale(1.1) rotate(-5deg);}
    50%{-webkit-transform:scale(1) rotate(0);}
}
@-moz-keyframes tada{
    0%{-moz-transform:scale(1);}
    5%,10%{-moz-transform:scale(0.8) rotate(-5deg);}
    15%,25%,35%,45%{-moz-transform:scale(1.1) rotate(5deg);}
    20%,30%,40%{-moz-transform:scale(1.1) rotate(-5deg);}
    50%{-moz-transform:scale(1) rotate(0);}
}