.banner {
	margin-top: 120px;
}
.red {
	color: #ff0000;
}

.w-31{
	width: 31%;
}
.w-35{
	width: 40%;
}
.grey{
	color: #757575;
}
.font-8{
	font-size: 0.8rem;
}


.submit-btn {
	border-radius: 15px;
	background-color: #ff0000;
	padding-left: 6rem;
	padding-right: 6rem;
}

.icon {
    width: 36px;
    height: 33px;
	background: url(imgs/icon.png);
	vertical-align: middle;
}


.swi-btn{
	border: 1px dashed #ff0000;
}

.swiper-pagination-bullet{
	margin: 0 0.2rem;
	width: 12px;
	height: 12px;
	background: #dd827a;
	opacity: 1;
}

.swiper-pagination-bullet-active{
	background: #fef8f3;
}

