
.tech-banner {
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(../images/poster.jpg) no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 253px;
}
.tech-banner-content{
	padding: 1.2rem 0;
}
.tech-banner-title {
    padding-bottom: 1rem;
    font-size: 1.4rem;
    letter-spacing: 5px;
    color: #fff;
}

.tech-banner-info {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1rem;
    font-size: 0.8rem;
    line-height: 1.2;
    color: #fff;
}



.tech-catalog {
    background-color: #f4f5f7;
    font-size: 0.8rem;
}

.ai-container {
    display: block;
    width: 80*;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.tech-catalog-title {
    padding: 2rem 0 0.5rem;
    font-size: 1.16rem;
    line-height: 1;
    letter-spacing: 2px;
    text-indent: 2px;
    text-align: center;
    font-weight: 700;
    color: #333;
}



.tech-prod-container {
    width: 80%;
    margin: 5px auto;
    overflow: hidden;
    font-family: arial,tahoma,Hiragino Sans GB,Microsoft YaHei,sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tech-prod-item-img {
	width: 20%;
    vertical-align: top;
    
}


.tech-prod-info {
    width: 80%;
    text-align: center;
    padding: 0.9rem 1.3rem;
    background-color: #f6f6f6;
    margin-bottom: 0.75rem;
}
.tech-prod-name {
    font-size: 0.7rem;
    color: #333;
    padding-bottom: .625rem;
}
.tech-prod-intro {
    font-size: 0.6rem;
    line-height: 1.5;
    color: #999;
}

.tech-catalog-info {
    width: 90%;
    line-height: 1.6;
    padding-bottom: 1rem;
    margin: 0 auto;
    font-size: 0.8rem;
    color: #999;
    text-align: center;
}



.tech-scene {
    padding-bottom: 2rem;
    background-color: #f4f5f7;
}

.tech-scene-heading {
    padding: 2rem 0 0.5rem;
    font-size: 1.16rem;
    line-height: 1;
    letter-spacing: 2px;
    text-indent: 2px;
    text-align: center;
    font-weight: 700;
    color: #333;
}

.tech-scene-wrapper {
	width: 80%;
    margin: 5px auto;
    overflow: hidden;
    background-color: #fff;
    font-family: arial,tahoma,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}

.tech-scene-item {
    padding: 1rem 1rem 0;
    background-color: #fff;
}

.tech-scene-title {
    padding-bottom: 0.6rem;
    font-size: 1rem;
    color: #333;
}

.tech-scene-detail {
    font-size: 0.3333rem;
    color: #999;
    padding-bottom: .625rem;
}
.tech-scene-line {
    margin-top: -1px;
    height: 1px;
    border: 0;
    background-color: #eee;
    margin-bottom: 0;
}
.tech-scene-cooperation {
    padding: 0.6rem 0;
    font-size: 0;
    color: #999;
}
.tech-scene-cooperation .cooperation-case {
    vertical-align: middle;
    font-size: 0.6rem;
    line-height: 0.2;
}
.tech-feature-heading {
    padding: 2rem 0 0.5rem;
    font-size: 1.16rem;
    line-height: 1;
    letter-spacing: 2px;
    text-indent: 2px;
    text-align: center;
    font-weight: 700;
    color: #333;
}

.tech-feature-item {
    width: 80%;
    margin: 5px auto;
    overflow: hidden;
    background-color: #fff;
    font-family: arial,tahoma,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}

.tech-feature-icon {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}

.tech-feature-desc-title {
    padding: 1rem 0 0.8rem;
    font-size: 1rem;
    color: #333;
    text-align: center;
}
.tech-feature-desc-info {
    text-align: center;
    color: #999;
    font-size: 0.6rem;
    line-height: 1.6;
}

.tech-guide {
    padding: 2rem 0 2.1rem;
    text-align: center;
}

.tech-guide a {
    background-color: #0073eb;
    color: #fff!important;
    width: 8rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    display: inline-block;
}