*{margin: 0;padding: 0;}
h1,h2,h3,h4{font-weight:normal;}
body {font-family: "Microsoft Yahei","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;font-size: 100%;}
iframe,img{border: 0 none;vertical-align:top}
ul, ol {list-style: none outside none;}
input, select, textarea {outline: 0 none;}
a {text-decoration: none;color:inherit;}
.clear{ clear:both;}
/*--------------------------------------------------------------------*/

.mainer{min-width:320px;max-width:720px;margin:0 auto;overflow:hidden;margin-top: 105px;}


.ban{position:relative}
.ban img{width:100%}
.ban-b{text-align:center;width:100%;position:absolute;bottom:10%}
.ban-b img{width:63%}
.num1{text-align:center;margin-top:1.5rem;}
.num1 a{display:block;margin-top:1.8rem;margin-bottom:1rem}
.num1box{width:98%;margin:1rem auto 0.7rem;}
.num1box p{text-align:center;font-size:0.9rem;color:#5d5d5d;line-height:1.4rem;}
.num2{margin-top:2.3rem;text-align:center;;}
.num2box{margin:1.2rem auto 1rem}
.num3{text-align:center;margin-top:2.3rem;}
.num3box{background:#bee5f8;margin:1rem auto 0;padding-top:1rem;padding-bottom:1rem;}
.num3box img,.n4main img{width:100%;display:block;}
.n3btn{width:60% !important;margin:1.3rem auto 0.5rem;}
.num4{text-align:center;background:#eee4d0;padding-top:1rem;padding-bottom:1rem;}
.num5{text-align:center;background:#fbdeea;padding-top:1rem;padding-bottom:1rem;}


@media (min-width:480px)
{
	
}
.fx_5lp{ width: 100%;    position: relative;  margin-top:-3%;  }
.fx_5lp img{ display:block; border:0; vertical-align:middle;}
.fx_5lp .bd{width:100%; margin:0 auto;}
.fx_5lp .hd { height: 14px; width:60%; text-align: center; padding-bottom:10%;position: relative;position:absolute;bottom:-5%;left:20% }
.fx_5lp .hd li {width: 20px; height: 2px;  background: #bebebe; display: inline-block; text-indent: 99px; overflow: hidden;/*border-radius:50% */}
.fx_5lp .hd li { margin: 0 4px; }
.fx_5lp .hd li.on { background: #ff317f; }
.fx_5lp .next{background:url(images/right.jpg) no-repeat center top;background-size:100%;top:0px;right:0px;width:10%;height:100%;position:absolute;top:40%;right:2%;}
.fx_5lp .prev{background:url(images/left.jpg) no-repeat center top;background-size:100%;top:0px;left:0px;width:10%;height:100%;position:absolute;top:40%;left:2%;}