@media (min-width: 1600px){
	.content-width {width: 63%;}
}
@media (min-width: 2000px) {
	.content-width {width: 60%;}
	.content5 {width: 90%;margin: auto;}
}
body {
	background: #fff;
}


.index-icon {
	background: url(../images/pc-icon.png);
	position: relative;
}


.arrow {
	width: 15px;
	height: 15px;
	display: inline-block;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 20px;
    transition: all .2s linear;
}

.banner img {
	width: 100%;
}

@keyframes move {
    0% {bottom: 9rem;}
    50% {bottom: 9.5rem;}
  100% {bottom: 9rem;}
}
.banner_relative .swt-btn{
	background: linear-gradient(to right, #0a5fb3, #31ace7);
	border-radius: 60px;
	width: 20%;
	position: absolute;
  	bottom: 9rem;
    left: 30%;
    right: 0;
    color: #fff;
    margin: auto;
    padding: .75rem 0;
    font-size: 1.4rem;
	animation: move 2s .2s ease both infinite;
	-webkit-animation: move 2s .2s ease both infinite; /* Safari å’Œ Chrome */
}

.header{
	position: static;
}

/*banner*/
.banner li {
	text-align: center;
}
.arrow-left, .arrow-right {
	height: 60px;
	width: 60px;
	position: absolute;
	top: 40%;
	z-index: 99;
    border-radius: 50%;
	background-color: rgba( 0, 0, 0, 0.302 );
}
.arrow-left:hover, .arrow-right:hover {
	background-color: #C11820;
}
.arrow-right, .arrow-left {
    cursor: pointer;
}
.arrow-right {
	left: 92%;
}
.arrow-left {
	right: 92%;
}
.arrow-left .arrow {
    transform: rotate(45deg);
    right: 0%;
}
.arrow-right .arrow {
    transform: rotate(225deg);
}

.banner-bottom-msg {
	justify-content: space-around;
	position: relative;
    bottom: 50px;
    z-index: 9;
}
.banner-bottom-msg .index-icon {
	width: 80px;
	height: 80px;
}
.banner-bottom-msg li {
	width: 25%;
}
.banner-bottom-msg li:nth-child(2) .index-icon {
    background-position: -89px 0;
}
.banner-bottom-msg li:last-child .index-icon {
    background-position: -178px 0;
}
.banner-bottom-msg li a {
  	border-radius: 5px;
  	background-color: rgb( 255, 255, 255 );
  	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05),0px 10px 20px 0px rgba(0, 0, 0, 0.05);
  	position: relative;
  	padding: 40px 0;
  	width: 100%;
    text-align: center;
}
.banner-bottom-msg-right p {
	margin-top: 10px;
}
.banner-bottom-msg-right p:first-child {
	font-size: 22px;
}
.banner-bottom-msg-right p:last-child {
	color: #999;
}
.banner-bottom-active .banner-bottom-msg-right p:first-child {
	color: #c11920;
}

/*banner*/


.content-title {
    position: relative;
}
.content-title h1 {
	font-weight: 100;
    font-size: 33px;
    margin: 0 0 30px 0;
    font-family: 'Adobe 黑体 Std';
}
.content2 .content-title .index-icon {
    width: 30px;
    height: 30px;
    background-position: 0 -90px;
}
.content2 .content2-detail {
	justify-content: space-between;
}
.content2 .content2-detail>div:last-child>div:last-child {
	margin-top: 20px;
}
.content2-detail>div:first-child {
	width: 55%;
	background: #fefdfe;
}
.content2-detail>div:first-child img {
	width: 100%;
	max-height: 500px;
}
.content2 .content2-detail>div:last-child {
    width: 34%;
}

.content-title .index-icon {
    margin-right: 20px;
    vertical-align: middle;
    position: relative;
    bottom: 3px;
 }

.content3, .content5, .content6, .content7  {
	margin-top: 50px;
}
.content3 {
	background: url(../images/content-3-bcg.jpg);
    padding-top: 30px;
    background-size: cover;
}
.content3 .content-title .index-icon {
	width: 31px;
	height: 30px;
	background-position: -42px -91px;
}
.content-title .content-more {
	float: right;
}
.content-title .content-more a {
	font-family: '微软雅黑';
	font-size: 14px;
    background: #fff;
    border-radius: 20px;
    padding: 5px 15px;
    position: relative;
    bottom: 5px;
}
.content3 .case-left-msg .index-icon {
	width: 30px;
	height: 30px;
    vertical-align: middle;
    margin-right: 15px;
}
.content3 .name .index-icon {
	background-position: -84px -91px;
}
.content3 .age .index-icon {
	background-position: -121px -91px;
}
.content3 .symptom .index-icon {
	background-position: -159px -91px;
}
.content3 .programme .index-icon {
	background-position: -197px -91px;
}
.content3 .case-title {
	color: #c11920;
	font-size: 28px;
}
.content3 .case-left-msg p {
	margin-top: 15px;
}
.content3 .case-left-msg {
	width: 42%;
}
.content3 .contrast {
    justify-content: center;
    margin-top: 30px;
}
.content3 .contrast div {
	margin: 0 15px;
}
.content3 .case-right-doctor {
	width: 30%;
}
.content3 .content3-case {
    justify-content: space-between;
    padding: 0 30px;
}
.content3 .arrow-right, .content6 .arrow-right  {
    left: 105%;
}
.content3 .arrow-left, .content6 .arrow-left  {
	right: 105%;
}

.swt-img-box {
	margin: 50px auto;
	text-align: center;
}
.swt-img-box a img {
	width: 100%;
}
.content4 .content-title .index-icon {
	width: 26px;
	height: 30px;
	background-position: 0 -126px;
}
.content4 .content4-tab li {
	width: 25%;
	text-align: center;
    padding: 15px 0 10px 0;
    border: 1px solid #F0F0F0;
    cursor: pointer;
}
.content4 .content4-tab .index-icon {
	vertical-align: middle;
}
.content4 .content4-tab .content4-tab-active {
	background: #C11820;
	color: #fff;
}
.content4 .content4-tab li .index-icon {
    width: 22px;
    height: 30px;
    margin: 0 10px;
    position: relative;
    bottom: 2px;
}
.content4 .content4-tab li:first-child .index-icon {
    width: 26px;
    background-position: -45px -126px;
}
.content4 .content4-tab li:nth-child(2) .index-icon {
    width: 22px;
	background-position: -88px -126px;
}
.content4 .content4-tab li:nth-child(3) .index-icon {
    width: 30px;
	background-position: -121px -126px;
}
.content4 .content4-tab li:nth-child(4) .index-icon {
	background-position: -163px -126px;
}
.content4 .content4-tab li:last-child .index-icon {
    width: 32px;
	background-position: -199px -126px;
}
.content4 .content4-tab li.content4-tab-active:first-child .index-icon {
	background-position: -45px -161px;
}
.content4 .content4-tab li.content4-tab-active:nth-child(2) .index-icon {
    background-position: -88px -161px;
}
.content4 .content4-tab li.content4-tab-active:nth-child(3) .index-icon {
    background-position: -121px -163px;
}
.content4 .content4-tab li.content4-tab-active:nth-child(4) .index-icon {
	background-position: -163px -161px;
}
.content4 .content4-tab li.content4-tab-active:last-child .index-icon {
    background-position: -199px -162px;
}
.content4 .content4-second-tab {
	background: #F6F6F6;
	padding: 10px 0;
	padding-left: 20px;
}
.content4 .content4-second-tab li {
	padding: 5px 0;
	margin: 0 10px;
	font-size: 14px;
	cursor: pointer;
}
.content4 .content-img-box {
    width: 38%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}
.content4 .content-img-box li {
    margin-top: 15px;
    margin-right: 2%;
    width: 47%;
    position: relative;
}
.content4 .content-img-box li .detail-hover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: rgba(0, 0, 0, .5);
}
.content4 .content-img-box li span {
	border-radius: 50%;
	background: #c11920;
	color: #fff;
    display: inline-block;
    position: absolute;
    margin: auto;
    padding: 15% 18%;
    text-align: center;
    top: 17%;
    left: 24%;
}
.content4 .content-img-box li a:hover .detail-hover {
	display: block;
}
.content4 .content4-detail {
	justify-content: space-between;
}
.content4 .content4-right-text {
	width: 60%;
    margin-top: 30px;
}
.content4 .date {
    border-radius: 50%;
    background: #f9f9f9;
    display: inline-block;
    text-align: center;
    width: 130px;
    padding: 39px 0;
    float: left;
}
.content4 .date span {
	font-family: Avenir;
}
.content4 .date span:first-child {
	font-size: 28px;
}
.content4 .date span:last-child {
	color: #999;
}
.content4 .content4-msg h1 {
	font-size: 24px;
}
.content4 .content4-msg {
    margin-left: 160px;
    padding-right: 50px;
}
.content4 .content4-msg p {
	color: #999;
	line-height: 1.7;
    margin-top: 15px;
 	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
  	overflow:hidden;
}
.content4-right-text>div:first-child {
	min-height: 155px;
	border-bottom: 1px solid #F4F4F4;
}
.content4 .link-list {
	margin-top: 3%;
}
.content4 .link-list li {
	margin-top: 10px;
}
.content4 .link-list li a:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #ccc;
    border-radius: 50%;
    position: relative;
    bottom: 3px;
    margin-right: 10px;
}
.content4 .link-list li span {
	float: right;
	color: #999;
}
.content4 .link-list li a:hover, .content4 .link-list li a:hover span {
	color: #c11920;
}
.content4 .link-list li a:hover:before {
	background-color: #c11920;
}
.content4 .content4-second-tab li.content4-second-active {
	color: #c11920;
	border-bottom: 2px solid #c11920;
}
.content4 .content-more a {
	border: 1px solid #F1F1F1;
}


.content5 {
	background: #F6F6F6;
	padding-bottom: 100px;
	position: relative;
}
.content5 .content-title {
	padding: 30px 0 0 0;
}
.content5 .content-title .index-icon {
    background-position: 0px -160px;
    width: 30px;
    height: 30px;
}
.content5 .doctor-list {
    justify-content: space-between;
}
.content5 .doctor-list li {
	width: 18%;
}
.content5 .doctor-list li>div {
    position: relative;
    cursor: pointer;
}
.content5 .doctor-list li>div img{
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05),0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.content5 .doctor-detail {
    position: absolute;
    bottom: 0;
    background: rgba(193, 25, 32, .8);
    left: 0;
    right: 0;
    transition: all .5s ease;
    text-align: center;
}
.content5 .doctor-name {
    color: #fff;
    font-size: 26px;
    margin: 5% 0;
}
.content5 .doctor-detail {
    color: #fff;
    top: 100%;
    z-index: 9;
    opacity: 0;
}
.content5 .doctor-detail div {
    margin: 10% 0;
}
.content5 .doctor-detail .be-good-porject {
    margin-top: 15%;
}
.content5 .doctor-detail .doctor-btn {
    justify-content: space-around;
    position: absolute;
    right: 0;
    left: 0;
}
.content5 .doctor-detail .doctor-btn a {
    color: #a82924;
    padding: 7px 20px;
    border-radius: 20px;
	border: 2px solid #fff;
}
.content5 .index-icon {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	position: relative;
	bottom: 2px;
}
.content5 .content5-swt-btn {
    background: #fff;
}
.content5 .doctor-detail .doctor-btn .content5-check-detail {
	color: #fff;
}
.content5 .content5-swt-btn .index-icon {
    background-position: -4px -204px;
}
.content5 .content5-check-detail .index-icon {
	background-position: -31px -204px;
}
.line {
    width: 10%;
    height: 2px;
    background: #fff;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}
.content5 .doctor-banner-nav {
    bottom: 35px !important;
    width: 100%;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #c11820;
}


.content6 .index-icon {
	width: 30px;
    height: 30px;
    background-position: -56px -204px;
}
.content6 .content-title .content-more a {
	border: 1px solid #F1F1F1;
}
#certify {
	position: relative;
	width: 1200px;
	margin: 0 auto
}
#certify .swiper-container {
	padding: 100px 0;
}
#certify  .swiper-slide {
	width: 50%;
	background: #fff;
	box-shadow: 0 8px 30px #ddd;
}
#certify  .swiper-slide p {
	line-height: 98px;
	padding-top: 0;
	text-align: center;
	color: #636363;
	font-size: 1.1em;
	margin: 0;
}
#certify .swiper-pagination {
	width: 100%;
	bottom: 20px;
}
#certify .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
	border: 3px solid #fff;
	background-color: #d5d5d5;
	width: 10px;
	height: 10px;
	opacity: 1;
}
#certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
	border: 3px solid #00aadc;
	background-color: #fff;
}

.content7 {
	background: #F6F6F6;
	padding: 25px 0 50px 0;
}
.content7 .index-icon {
	width: 30px;
	height: 30px;
	background-position: -99px -203px;
}
.content7 .content7-left-img-box {
	position: relative;
	width: 39%;
}
.content7 .news-img-box-text {
	position: absolute;
	left: 0;
	right: 0;
	background: rgba(193, 25, 32, .8);
	color: #fff;
	bottom: 0;
    padding: 15px 0;
}
.content7 .content7-date {
	width: 20%;
	text-align: center;
	line-height: 3;
}
.content7 .news-img-box-text div:last-child {
	width: 75%;
}
.content7 .content7-date span:first-child, .content7 .content7-right-msg-list li .right-msg-date span:first-child {
	font-size: 28px;
    display: inline-block;
    margin-bottom: 5px;
}
.news-img-box-text h1, .content7 .content7-right-msg-list li h1 {
	font-size: 22px;
}
.news-img-box-text p, .content7 .content7-right-msg-list li p {
	font-size: 14px;
	margin-top: 10px;
}
.content7-news {
	justify-content: space-between;
}
.content7 .content7-right-msg-list {
    width: 55%;
}
.content7 .content7-right-msg-list .news1 li {
	border-bottom: 1px solid #E7E7E7;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.content7 .content7-right-msg-list li .right-msg-date {
    width: 15%;
    text-align: center;
}
.content7 .content7-right-msg-list li p, .content7 .content7-right-msg-list li .right-msg-date span:last-child, .content7 .news-list-date {
	color: #999;
}
.content7 .news-list-date {
	line-height: 1.5;
	margin-right: 15px;
	padding-left: 15px;
	margin-bottom: 1.5%;
}
.content7 .content7-right-msg-list li:hover .news-list-date, .content7 .content7-right-msg-list li:hover .news-list-text {
	color: #c11920;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
	margin: 0 5px;
}
.content7-right-msg-list li a>div:last-child {
	width: 75%;
}
.news-img-box-text h1, .content7 .content7-right-msg-list li p, .content7 .content7-right-msg-list li h1 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.news-img-box-text h1, .content7 .content7-right-msg-list li h1 {
	-webkit-line-clamp: 1;
}
.content7 .content7-right-msg-list li p {
	-webkit-line-clamp: 2;
}
.content7-list-title {
	border-radius: 20px;
	color: #fff;
	background: #C11920;
	padding: 5px 20px;
	text-align: center;
    display: inline-block;
    margin-bottom: 20px;
}
.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
}
.content5-doctor {
	padding-bottom: 5px;
}
.news1 li:hover h1, .content4-msg:hover h1 {
	color: #c11920 !important;
}
.content1 .swiper-pagination {
    bottom: 60px;
}
.content1 .swiper-pagination span {
    border: 2px solid #fff;
    background: none;
    opacity: 1;
}
.content1 .swiper-pagination-bullet-active {
	background: #fff !important;
}