@font-face{
	font-family:Dji-Demi;
	src: url("Dji-Demi.ttf");
}
@font-face{
	font-family:HYRunYuan-65W;
	src: url("HYRunYuan-65W.ttf");
}
h1, h2, h3, h4, h5, div, span, p, a {
	font-family: 'Dji-Demi', '汉仪润圆' !important;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: none;
    color: #fff;
}
video {
    vertical-align: middle;
}
ul {
    margin-bottom: 0;
}
.red {
	color: #cc1515;
}
.unshow {
	display: none;
}
.banner {
    margin-top: 202px;
    background: #9a0a0a;
}
.content-title h1:before, .content-title h1:after {
	content: '';
	background: url(imgs/index-icon.png);
	width: 40px;
	height: 50px;
	display: inline-block;
	margin: 0 1.25rem;
	vertical-align: middle;
}
.content-title h1:after {
	background-position: 40px 0;
}
.content-title h3:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 3.5rem;
    height: .5rem;
    background: #F6DBDB;
    bottom: .75rem;
}
.content-title h3 span {
	z-index: 3;
}
.content-box-1 {
	background: url(imgs/content-1-bcg.jpg);
}
.content-box-3 {
	background: url(imgs/content-3-bcg.jpg);
}
.content-box-1, .content-box-3 {
	background-size: cover;
}
.content-box-1 .content-1-text {
	color: #555;
    line-height: 1.9;
    font-size: 1.125rem;
}
.swt-btn {
	background: #CC1515;
	width: 16.3rem;
	padding: .94rem 0;
	display: inline-block;
  	box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1),0px 6px 12px 0px rgba(0, 0, 0, 0.1);
}
.content-box-2 {
	background: #FBF2F2;
}
.content-box-2 img {
    width: 100%;
}
.arrow {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 1.25rem;
}
.arrow-right .arrow {
    transform: rotate(225deg);
}
.arrow-left .arrow {
    transform: rotate(45deg);
}
.arrow-left, .arrow-right {
    height: 60px;
    width: 60px;
  	background-color: rgb(146, 0, 0);
}
.arrow-left .arrow {
	margin: auto 1.5rem;
}
.arrow-left {
  	background-color: rgb(175, 15, 15);
}
.content-banner-btn {
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 120px;
}
.content-box-3 .job:after {
    content: '';
    background: #CC1515;
    height: 2px;
    width: 3.5rem;
    display: block;
    margin-top: 13%;
}
.content-box-3 .swt-btn {
	width: 11.3rem;
}
.content-box-3 .doctor-msg-right h4 {
	font-size: 1.9rem;
}
.content-box-3 .doctor-tab {
	bottom: 5%;
	z-index: 10;
	left: 12%;
}
.content-box-3 .doctor-tab>div>div {
	background: #fff;
  	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1),0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  	cursor: pointer;
}
.content-box-3 .doctor-tab p {
	color: #999;
	font-size: .8rem;
}
.content-box-3 .doctor-tab .doctor-tab-active {
	background: #AF0F0F;
	color: #fff;
}
.content-box-3 .doctor-tab .doctor-tab-active p {
	color: #fff;
}
.doctor h1, .doctor h3 {
    margin-bottom: 8%;
}
.content-last {
    background: #af0f0f;
}
.w-20{
	width: 19%;
}
