
.content .right-content .brand_qs_nav {width: 630px; margin: 0 auto; margin-top: 50px;}
.content .right-content .brand_qs_nav li {float: left; width: 315px; transition: all linear .3s;}
.content .right-content .barnd_qs_nav1 i {background-image: url(../images/qs1.png);}  
.content .right-content .barnd_qs_nav3 i {background-image: url(../images/qs3.png);}
.content .right-content .brand_qs_nav i {display: block; width: 160px; height: 160px; margin: 0 auto 10px; transition: all linear .3s;}
.content .right-content .brand_qs_nav h3 {width: 4em; height: 50px; margin: 0 auto; line-height: 50px; font-size: 24px; font-weight: normal;    border-bottom: 2px solid #C0272D;}
.content .right-content .brand_qs_nav p {margin: 10px 0 0 0; font-size: 16px !important; text-align: center !important; line-height: 25px !important;}
.content .right-content section {margin-bottom: 60px;}
.content .right-content section p {font-size: 1rem; line-height: 1.9;text-indent: 2em;}
.content .right-content section h1 {font-size: 2rem;text-align: center;color: #c11920;margin-top: 60px;}
.content .content-img {margin-top: 30px;}
.content .content-img li {text-align: center;}
.content .content-img2 {margin-top: 30px;}
.content .content-img2 li {display: flex; justify-content: space-between;background: #f4f4f4;}
.content .content-img2 li p{padding: 70px 40px 0 40px;text-indent: 0;}

.content .btn {text-align: center;}
.content .btn a {color: #595757;padding: 5px 30px;margin: 30px 20px 0 20px;border: 1px solid #595757;display: inline-block;}
.content .content-banner {position: relative;}
.content .content-banner .left-btn, .content .content-banner .right-btn {width: 45px;height: 70px;position: absolute;background-color: #bfbfbf;top: 45%;cursor: pointer;z-index: 9;}
.content .content-banner .arrow {border-left: 2px solid #fff;border-bottom: 2px solid #fff;display: inline-block;width: 20px;height: 20px; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0;}
.content .content-banner .left-btn {left: 0;}
.content .content-banner .right-btn {right: 0;}
.content .content-banner .left-btn .arrow {transform: rotate(45deg);}
.content .content-banner .right-btn .arrow {transform: rotate(225deg);}
.content .tab {justify-content: center;}
.content .tab li {padding: 10px 15px;background-color: #EEECED;margin: 0 5px;text-align: center;cursor: pointer;position: relative;transition: none;text-align: center;}
.content .tab .on {background-color: #c11920; color: #fff;}
.content .tab .on .tab-arrow {border-color: #c11920 transparent transparent transparent; width: 30px;height: 30px;display: inline-block;position: absolute;bottom: -25px;left: 0;right: 0;margin: auto;border-style: solid;border-width: 15px;transition: none;}

.img-box {display: block;text-align: center;}