@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0;}
body{ font-family:'微软雅黑';}
a{text-decoration:none;}
#centerDialog{ width:280px; height:300px; overflow:hidden; position:fixed; top:55%; left:50%; margin:-200px 0 0 -140px; display:none; filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity: 0; opacity: 0; z-index:99;}
.swt_close_n{ display:block; width:25px; height:25px; position:absolute; background:url(/images/swt/close.png) left center no-repeat; z-index:9; background-size: 100% 100%; cursor:pointer; right:0px; top:0px; z-index:9999999;}
.swt_banner{width:280px; overflow:hidden;}
.swt_anniu{width:100%; height:75px; background:url(http://m.gdyykq.com/images/swt/swtdhzx.jpg) left center no-repeat; background-size: 100% 100%; overflow:hidden;}
.swt_anniu a{display:block; width:50%; height:75px; float:left;}
.swt_cen_bt{width:100%; height:30px; overflow:hidden; text-align:center; font-size:14px; line-height: 30px; color:#fff !important; background:#333;}

.slider_common{width:280px; overflow:hidden; border-radius:10px 10px 0 0;}
.slider_common img{width: 100%;}
.slider_common div{ cursor:pointer}
.jquery-slider-wrapper{position:relative;zoom:1;clear:both}
.jquery-slider-slide{position:absolute;padding-bottom:0px;margin:0px;padding-left:0px;width:100%;height:167px; padding-right:0px;display:none;float:left;padding-top:0px;border-radius:10px 10px 0 0;}
.jquery-slider-slide img{width: 100%; padding:0; margin:0; border:none; border-radius:10px 10px 0 0;}
.jquery-slider-slide-current{z-index:2;display:block}
.jquery-slider-slide-next{z-index:1;display:block}
.jquery-slider-selectors{z-index:3;position:absolute;bottom:10px;display:block;overflow:hidden;right:10px}
.jquery-slider-selector{margin:0px 0px 0px 5px;width:16px;display:inline;float:left;height:16px}
.jquery-slider-selector span{display:none}
.jquery-slider-control{z-index:4;position:absolute;margin-top:-34px;width:48px;display:none;height:69px;top:50%;cursor:pointer;right:50%;margin-right:-24px}
.jquery-slider-control span{display:none}
.jquery-slider-hovered .jquery-slider-control{display:block}
.jquery-slider-navigation{display:block}
.jquery-slider-navigation-prev{z-index:4;position:absolute;margin-top:-34px;width:48px;display:none;height:69px;top:50%;cursor:pointer;left:0px}
.jquery-slider-navigation-prev span{display:none}
.jquery-slider-navigation-next{z-index:4;position:absolute;margin-top:-34px;width:48px;display:none;height:69px;top:50%;cursor:pointer;right:0px}
.jquery-slider-navigation-next span{display:none}
.jquery-slider-hovered .jquery-slider-navigation-prev{display:block}
.jquery-slider-hovered .jquery-slider-navigation-next{display:block}
.jquery-slider-wrapper .caption{position:absolute;padding-bottom:6px;padding-left:10px;bottom:10px;padding-right:10px;background:#333333;color:#ffffff;font-size:13px;padding-top:6px;left:10px}
.jquery-slider-timer{z-index:4;position:absolute;width:100%;bottom:41px;height:3px;color:#000000;left:0px}
.jquery-slider-timer-bar{width:0px;display:inline;background:#000000;float:left;height:3px;opacity:0.5}