*{
	margin: 0;
	text-decoration: none;
    font-family: '微软雅黑';
	color: #333;
}
ol, ul {
	list-style: none;
	padding: 0;
}
a {
	display: inline-block;
}
i {
	display: inline-block;
	font-family: normal;
}
img {
	max-width: 100%;
    vertical-align: middle;
}
section {
	position: relative;
}
@media (min-width: 992px){
	.width {
	    width: 992px;
	    margin: auto;
	}
}
@media (min-width: 1200px){
	.width {
	    width: 1200px;
	    margin: auto;
	}
}

.header-content span{
	color: #ccc;
}


.center {
	text-align: center;
}
.flex {
	display: flex;
}
.relative {
	position: relative;
}
.unshow {
	display: none;
}

.banner{
	margin-top: 206px;
}

.title {
	margin: 50px 0;
}
.title .second-title {
	font-family: 'Adobe 黑体 Std';
	font-size: 32px;
	line-height: 1;
}
.line:before, .line:after {
	content: '';
	display: inline-block;
	width: 15%;
	background: #DCDCDE;
	height: 1px;
	position: relative;
	bottom: 10px;
	margin: 0 15px;
}
.title h1 {
	font-size: 40px;
}
.msg {
	text-indent: 2rem;
	font-size: 17px;
	padding-top: 15px;
	padding-right: 13px;
}
.content-1 {
	justify-content: space-around;
}
.content-1 .left p {
	margin-bottom: 10px;
}
.content-1 .left p img {
	margin-right: 10px;
}
.content-1-img-box {
	display: inline-block;
}
.content-1 .left {
	width: 60%;
}
.content-1 .left span {
	display: inline-block;
    width: 16px;
    position: absolute;
    line-height: 1.2;
    color: #a82b26;
    padding-top: 5px;
}
.content-1 .left .ai {
	margin-left: 25px;
    font-size: 30px;
    width: 30px;
}
.content-1 .left .ai i {
	width: 30px;
	font-style: normal;
    transform: rotate(90deg);
    color: #a82b26;
}
.symbol {
	width: 10px;
	height: 10px;
	border: 2px solid #8F2927;
	border-right: transparent;
	border-bottom: transparent;
	position: absolute;
	top: 0;
	left: 0;
}
.title-text {
	font-size: 17px;
	width: 61%;
    margin: auto;
    margin-top: 10px;
}
.content-2 {
	justify-content: space-between;
    flex-wrap: wrap;
}
.content-2 li {
    width: 49%;
    margin-bottom: 30px;
    cursor: pointer;
}
.content-2-img-box {
    width: 85%;
    background: #CCC;
}
.content-2-text-box {
	background: #FCFCFF;
	padding-top: 3%;
    box-sizing: border-box;
    padding: 5% 5% 0 3%;
    width: 82%;
}
.content-2-text-box p {
    color: #8f8f8f;
    margin: 10% 0;
}
.swt-btn {
	padding: 5px 30px;
	background: #CCC;
	border-radius: 20px;
}
.content-active .content-2-img-box, .content-active .swt-btn {
	background: #8F2927;
}
.content-active .swt-btn b {
	color: #fff;
}
.content-3-title, .content-4-title {
	font-size: 40px;
	margin: 50px 0;
}
.content-3 {
	background: #F4F4F4;
    padding: 3% 4%;
}
.content-3-img-box {
    width: 34%;
}
.content-3>div {
	width: 50%;
}
.content-3-text-box {
    width: 50%;
    margin-left: 15px;
}
.content-3-text-box h1 {
	margin: 5% 0;
}
.content-3-text-box p:nth-child(2) {
	font-size: 20px;
	margin-bottom: 2%;
}
.content-3-msg {
	color: #666;
	padding-right: 40px;
	font-size: 17px;
}
.middle-div {
    justify-content: space-between;
    padding-left: 15%;
    margin: 20px 0;
}
.middle-div span {
	font-size: 40px;
	background: #8F2927;
	border-radius: 50%;
	width: 40px;
	height: 40px;
    line-height: .8;
}
.middle-div span b {
	color: #fff;
}
.content-right {
    padding: 7% 0 7% 7%;
    box-sizing: border-box;
}
.content-right p {
	font-size: 17px;
}
.content-right p:nth-child(2) {
	color: #8f2826;
	margin-top: 30px;
	font-weight: 600;
}
.content-4-title, .content-4-second-title {
	font-size: 30px;
	font-weight: 100;
}
.content-4-second-title {
	margin-top: 30px;
	margin-bottom: 15px;
}
.content-4-msg {
	font-size: 17px;
	color: #666;
}
.content-4-btn {
	margin-top: 30px;
}
.content-4-btn a {
	color: #fff;
	font-weight: 600;
	background: #8F2927;
	border-radius: 20px;
	padding: 15px 0;
	width: 40%;
	font-size: 20px;
}
.content-4-list {
    justify-content: space-between;
}
.content-5 {
	background: #F4F4F4;
	padding-bottom: 70px;
}
.content-5 .title {
	padding: 50px 0;
	margin-bottom: 0;
}
.content-5-list {
	justify-content: center;
}
.left-content {
	margin-right: 70px;
    width: 45%;
}
.left-content h1 {
	font-size: 36px;
}
.left-content h1 span {
	font-size: 25px;
	font-weight: 100;
	margin-left: 15px;
}
.content-5-msg {
	padding-bottom: 5px;
	border-bottom: 1px solid #DEDEDE;
	display: inline-block;
}
.left-content p {
	font-size: 17px;
	margin: 5px 0;
}
.left-content .content-img-box {
	margin-top: 25px;
}
.content-5-btn a {
	font-size: 20px;
	width: 49.5%;
	padding: 5px 0;
	color: #fff;
}
.content-5-btn a:first-child {
	background: #8F2927;
}
.content-5-btn a:last-child {
	background: #363636;
}
.content-5-btn {
	justify-content: space-between;
	margin-top: 25px;
}
.content-6-list {
	justify-content: space-between;
}
.content-6-bcg {
	background: #8F2927;
	margin: 100px 0;
}
.content-6-detail {
    justify-content: space-around;
}
.content-6-left {
	text-align: right;
	width: 42%;
	position: relative;
}
.content-6-left h1, .content-6-left h3, .content-6-left p, .content-6-left h4, .content-6-left a {
	color: #fff;
}
.content-6-left h1 {
	font-size: 60px;
	font-weight: 100;
	display: inline-block;
	width: 45%;
}
.doctor-position {
	font-size: 30px;
	font-weight: 100;
}
.doctor-detail, .be-good-at {
	margin-top: 50px;
	font-size: 20px;
}
.be-good-at, .porject {
	font-size: 17px;
}
.porject p {
	margin-top: 5px;
}
.detail-btn {
	font-size: 17px;
	border: 2px solid #fff;
	padding: 5px 40px;
	margin-top: 30px;
	position: absolute;
	bottom: 10%;
	right: 0;
}
.content-6-left, .content-6-img-box {
    padding-top: 50px;
}
.content-6-img-box {
	z-index: 2;
}
.content-6-img-box, .content-6-doctor-bcg {
	background: #F4F4F4;
}
.content-6-doctor-bcg {
	position: absolute;
	right: 0;
	top: 0;
	width: 47%;
	bottom: 0;
}
.content-7 {
    justify-content: space-between;
    padding-bottom: 100px;
}
.content-7>div:first-child {
	width: 37%;
}
.content-7>div:last-child {
	width: 58%;
}
.content-7-title {
	color: #333;
	font-weight: 600;
	font-size: 19px;
}
.content-7 input {
	display: block;
	border-radius: 20px;
	background: #F5F5F5;
	border: 1px solid #EDEDED;
	font-size: 18px;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	margin: 30px 0;
	outline: none;
}
.content-7-btn a {
	color: #fff;
	background: #8F2927;
	border-radius: 20px;
	padding: 10px 40px;
	font-size: 17px;
	font-weight: 600;
}

.content-6-left .symbol {
	border-top-color: #fff;
	border-left-color: #fff;
    width: 15px;
    height: 15px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color: #8F2927;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color: #8F2927;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color: #8F2927;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color: #8F2927;
}

.content-6-list li {
	cursor: pointer;
    width: 19%;
}

.footer .footer_right .tel font i, .footer .footer_right .tel font b {
    float: left;
    color: #999999;
}
