<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<title>关于德道_深圳牙科医院_口腔医生在线咨询_深圳德道口腔医院</title>
		<link rel="stylesheet" href="/static/css/bootstrap4.min.css">
		<link rel="stylesheet" href="/static/css/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/base.css">
		<link rel="stylesheet" href="/static/css/swiper.min.css">
		<link rel="stylesheet" href="/static/css/about.css">
		<script src="/static/js/jquery-2.1.1.min.js"></script>
		<script src="/static/js/swiper.min.js"></script>
		<script src="/static/js/main.js"></script>
		<script src="http://swt.szddkqyy.com/JS/LsJS.aspx?siteid=MTI57225838&lng=cn"></script>
	</head>
	<body>
		 <header class="d-flex justify-content-between pt-3 pl-5 pb-2 border-bottom fixed-top"></header>
		 
		<section class="banner pb-4">
		<img src="/static/imgs/about/banner.jpg" />
		<div class="container">
			<div class="title-1 text-white text-center">互联网+时代下的<span class="yellow">深圳德道口腔</span></div>
			<div class="mt-5 d-flex justify-content-center">
				<div><img src="/static/imgs/about/content-1-img1.jpg"/></div>
				<div class="pt-5">
					<h1 class="font-weight-bold blue ml-5">深圳</h1>
					<h4 class="ml-5 mt-3 blue">创新之城 、科技之城</h4>
    			<div class='d-flex align-items-center mt-4'>
    				<div class='line w-75'></div>
    				<div class='circle'></div>
    			</div>
				<p class="ml-5 mt-3">无时无刻不在创造着奇迹，但在口腔领域的发展却</p>
				<p class="ml-5">远远落后于深圳的城市发展。</p>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div class="text-right position-relative pt-5">
				<h1 class="font-weight-bold blue mr-5">深圳德道口腔</h1>
				<h4 class="mr-5 blue pb-1">为口腔产业升级而来</h4>
			<div class='d-flex align-items-center pt-2 w-50 pb-2 position-absolute wire'>
      			<div class='circle2'></div>
      			<div class='line2 w-100'></div>
    		</div>
    		<p class="mr-5 pt-5 text-nowrap">专注种植牙、专注即刻用，打造由“院长级”明星医生团队组成的，互联网+时</p>
    		<p class="mr-5 text-nowrap">代的即刻用科研示范医院，以“便捷、高效、品质”的优势去满足互联网</p>
    		<p class="mr-5 text-nowrap">时代下，深圳人的新需求，服务粤港澳大湾区</p>
			</div>
			<div><img src="/static/imgs/about/content-1-img2.png"/></div>
		</div>
	    </section>
		 
		<section class="content-2 pb-5">
			<div class="container pt-5 pb-5 text-center">
				<div class="title-2 text-center blue">德道故事·品牌释义</div>
				<p class="mt-3 ml-3 text-white">德道口腔是一个口腔产业升级平台，选择成都、上海、深圳三座重要城市做依托，成都是中国口腔发源地，有着百年案例丰富大数据</p>
				<p class="text-white">案库，上海是国际化窗口，承载引进国外先进技术和优秀医生的任务，而深圳，正是因为这里是中国的“硅谷”，这里有着领先中国、甚</p>
				<p class="text-white">至是领先世界的人工智能、互联网、大数据、信息技术，为德道口腔探索和践行“AI+口腔”“互联网+医院”提供有力的支持，这也是深</p>
				<p class="text-white text-left ml-5 pl-4">圳德道口腔升级成即刻用种植牙示范机构的原因。</p>
				<div class="frame w-75 p-3 mt-4 mx-auto f-12">
					<p class="blue mt-3 text-left">目前，深圳德道口腔已引进了精确的CBCT、德道麦哲伦数字化中心、3D种植导板、口内扫描</p>
					<p class="blue text-left ">技术，并为每一个患者建设数字化档案，在全国任何一家德道口腔机构都可以随时调取。</p>
				</div>
				<div class="mt-5 d-flex justify-content-center">
					<img src="/static/imgs/about/content-2-img2.png"/>
					<img class="ml-3" src="/static/imgs/about/content-2-img3.png"/>
				</div>
				<div class="mt-3 pb-5 d-flex justify-content-center">
					<img src="/static/imgs/about/content-2-img4.png"/>
					<img class="ml-3" src="/static/imgs/about/content-2-img5.png"/>
				</div>
			</div>
		</section> 
		 
		<section class="content-3 pt-5 text-center pb-5 position-relative">
			<div class="container">
			<div class="title-1 text-white text-center">汇聚全球种植专家· 云上专家智库</div>
			<div class="f-11 mt-4 font-weight-bold">打造了一支以李建君为代表的<span class="red f-15 font-weight-bold">“院长级”</span></div>
			<h1 class="blue font-weight-bold f-4 mt-2">即刻用种植牙明星团队</h1>
			</div>
			<div class="pt-2 pl-4 pr-4 mt-2">
				<img src="/static/imgs/about/content-3-doctor.jpg"/>
				<div class="d-flex justify-content-around mt-3 pl-5 pr-5">
					<a href="" class="w-25 d-block text-white f-15 pt-2 pb-2 btn">AI+即刻用3.0研发团队</a>
					<a href="" class="w-25 d-block text-white f-15 pt-2 pb-2 btn">超10000例种植案例</a>
					<a href="" class="w-25 d-block text-white f-15 pt-2 pb-2 btn">不断攻克高难种植领域</a>
				</div>
			</div>
			<div class="container text-center pb-5">
				<h2 class="mt-5 blue">拥有种植牙上万颗经验的即刻用高难领域种植牙团队</h2>
			<div class="title-2-bg text-center mx-auto w-75 text-white">及深耕种植牙咬合十年以上专业技师组成</div>
			</div>	
			<div class="mx-auto w-25 mt-5 pt-5">
				<a href="/page/jky" class="position-absolute absolute-bottom"><img class="w-75" src="/static/imgs/about/content-3-btn.png"/></a>
			</div>
		</section>
		 
		<section class="content-4 mt-3 pt-5 pb-5">
			<div class="container pt-5 text-center">
				<div class="title-2 mt-5 text-center blue">专注即刻用种植牙：品牌项目</div>
				<h1 class="mt-5 yellow font-weight-bold">革新传统口腔诊疗模式  全新升级“AI+即刻用3.0” </h1>
				<p class="ml-3 f-12 mt-3 text-white">德道口腔在与深圳市民长达一年的接触中，在“智能牙科”的基础上不断升级，发展成一家“由院长级明星医生团</p>
				<p class="text-white f-12">队组成的互联网+时代的即刻用科研示范医院”，通过<span class="yellow">互联网、数字化、人工智能</span>等来革新传统口腔诊疗模式，优化诊</p>
				<p class="text-white f-12">疗体验，对“AI+即刻用3.0”做出跨越性的改进，充分发挥即刻用种植牙<span class="yellow">“即拔、即种、即用”</span>技术优势，服务于整个</p>
				<p class="text-white f-12 text-left ml-5 pl-4">粤港澳大湾区。</p>
				<div class="bg p-2 d-flex justify-content-center p-5">
					<div class="w-25 text-center box">
						<div  class="bg-btn bg-btn2 mx-auto w-75 f-11 pt-1 pb-1 text-white font-weight-bold mt-5">高效</div>
						<div  class="bg-btn mx-auto w-75 f-11 pt-1 pb-1 text-white font-weight-bold mt-5">舒适</div>
						<div  class="bg-btn mx-auto w-75 f-11 pt-1 pb-1 text-white font-weight-bold mt-5">保障</div>
						<div  class="bg-btn mx-auto w-75 f-11 pt-1 pb-1 text-white font-weight-bold mt-5">品质</div>
						<div  class="bg-btn mx-auto w-75 f-11 pt-1 pb-1 text-white font-weight-bold mt-5">经济</div>
					</div>
					<div class=" ml-3 ">
						<img class="p-5 bg-tab" src="/static/imgs/about/content-4-img2.jpg"/>
						<img class="p-5 bg-tab" src="/static/imgs/about/content-4-img3.jpg"/>
						<img class="p-5 bg-tab" src="/static/imgs/about/content-4-img4.jpg"/>
						<img class="p-5 bg-tab" src="/static/imgs/about/content-4-img5.jpg"/>
						<img class="p-5 bg-tab" src="/static/imgs/about/content-4-img6.jpg"/>
					</div>
				</div>
			</div>
		</section> 
		 
		<section class="content-5 pt-5 pb-5 position-relative">
			<div class="container text-center">
				<div class="title-1 text-white text-center">口碑实力·品牌价值</div>
				<div class="mt-5"><img src="/static/imgs/about/content-5-title.png"/></div>
				<div class="mt-4 d-flex justify-content-around">
					<img src="/static/imgs/about/content-5-img1.png"/>
					<img class="ml-3 mr-3" src="/static/imgs/about/content-5-img2.png"/>
					<img src="/static/imgs/about/content-5-img3.png"/>
				</div>
			<div class="position-relative mt-4 pb-5">
			<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="position-relative text-center"><img class="" src="/static/imgs/about/content-5-img-s1.png" /></div>
						</div>
						<div class="swiper-slide">
							<div class="position-relative text-center"><img class="" src="/static/imgs/about/content-5-img-s2.png" /></div>
						</div>
						<div class="swiper-slide">
							<div class="position-relative text-center"><img class="" src="/static/imgs/about/content-5-img-s3.png" /></div>
						</div>
						<div class="swiper-slide">
							<div class="position-relative text-center"><img class="" src="/static/imgs/about/content-5-img-s4.png" /></div>
						</div>
						<div class="swiper-slide">
							<div class="position-relative text-center"><img class="" src="/static/imgs/about/content-5-img-s5.png" /></div>
						</div>
					</div>
				</div>
				<div class="button-prev"><img src="/static/imgs/about/prev.png"/></div><!--左箭头-->
    			<div class="button-next"><img src="/static/imgs/about/next.png"/></div><!--右箭头-->
			</div>
			
			<div class="mx-auto w-50 mt-5 pt-5">
				<a href="/page/experience" class="position-absolute absolute-bottom"><img class="w-56" src="/static/imgs/about/content-5-btn.png"/></a>
			</div>
			</div>
		</section>
		
		<section class="content-6 pb-5">
			<div class="container pt-4 text-center">
				<h1 class="yellow font-weight-bold">医院环境</h1>
				<h2 class="mt-4 font-weight-bold mb-2 text-white">智能牙科-德道口腔</h2>
				<h3 class="text-white">为您带来舒适的高科技种牙体验</h3>
				<img src="/static/imgs/about/content-6-img.png"/>
			</div>
		</section>
		 <footer></footer>  
	</body>
	<script type="text/javascript">
		$(function(){
		var mySwiper = new Swiper('.swiper-container', {
		direction: 'horizontal',
  		loop: true,
 
 		navigation: {
	    nextEl: '.button-next',
	    prevEl: '.button-prev',
	 },
		autoplay : true,
  		speed:100,
  		spaceBetween:30, 
  		slidesPerView: 3,
  		centeredSlides: true,
  		coverflow: {
   		rotate: 30,
   		stretch: 10,
   		depth: 60,
   		modifier: 2,
   		slideShadows : true
   }
  });
         $('.bg-tab:gt(0)').hide();
         var btnshow=$('.box div')
         btnshow.hover(function(){
         	$(this).addClass('bg-btn2')
                .siblings().removeClass('bg-btn2');
         
    
     
    $('.bg-tab').eq(btnshow.index(this)).show()
            .siblings().hide();
         })
   
		})
	</script>
</html>
