<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<title>体验中心_深圳牙科医院_口腔医生在线咨询_深圳德道口腔医院</title>
		<meta name="keywords" content="深圳德道口腔门诊部,深圳口腔医院,深圳牙科医院排名,深圳牙科,深圳牙科咨询">
		<meta name="description" content="深圳德道口腔医院专注牙齿修复,种植牙,烤瓷牙,牙齿矫正,口腔正畸,牙齿美白,儿童齿科,口腔保健等齿科项目，并提供口腔医学医生在线咨询服务。咨询预约电话:400-800-6161。">
		<link rel="stylesheet" href="/static/css/bootstrap4.min.css">
		<link rel="stylesheet" href="/static/css/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/swiper.min.css">
		<link rel="stylesheet" href="/static/css/base.css">
		<link rel="stylesheet" href="/static/css/experience.css">
		<script src="/static/js/swiper.min.js"></script>
		<script src="/static/js/jquery-2.1.1.min.js"></script>
		<script src="/static/js/main.js"></script>
		<script src="http://swt.szddkqyy.com/JS/LsJS.aspx?siteid=MTI57225838&lng=cn"></script>
	</head>
	<body>
		 <header class="d-flex justify-content-between pt-3 pl-5 pb-2 border-bottom fixed-top"></header>
		
	   <section class="banner">
		<div class="position-relative">
					<img class="mt-2" src="/static/imgs/experience/banner.gif"/>
					<a href="/swt/" class="banner1-btn position-absolute"><img src="/static/imgs/experience/banner-btn.png" alt=""></a>
				</div>
	   </section>
	   
	   <section class="timeline content p-5">
	   	<!--空div-->
	   	<div class="empty"></div>
   		<div class="content-1-title mx-auto mt-3 mb-5 pb-5 text-center text-white"></div>
    <ul class="mt-5 pt-5 mb-5 pb-5">
    	<li class="content-1-img1"></li>
    	<li>
    		<h3 class="content-1-left"><img src="/static/imgs/experience/content-1-img1.jpg"/></h3>
    	   <div class=" content-1-right"><img src="/static/imgs/experience/content-1-img2.png"/></div>
            
        </li>
        <li>
           <div class="content-1-left1"><img src="/static/imgs/experience/content-1-img3.png"/></div>
    	   <h3 class="content-1-right1"><img src="/static/imgs/experience/content-1-img4.jpg"/></h3>
            
        </li>
        <li>
           <h3 class="content-1-left"><img src="/static/imgs/experience/content-1-img5.jpg"/></h3>
    	   <div class="content-1-right"><img src="/static/imgs/experience/content-1-img6.png"/></div>
        </li>
        <li>
            <div class="content-1-left3"><img src="/static/imgs/experience/content-1-img7.png"/></div>
    	   <h3 class="content-1-right1"><img src="/static/imgs/experience/content-1-img8.png"/></h3>
        </li>
        <li>
             <h3 class="content-1-left5"><img src="/static/imgs/experience/content-1-img9.png"/></h3>
    	   <div class="content-1-right5"><img src="/static/imgs/experience/content-1-img10.png"/></div>
        </li>
    </ul>
    <div class="w-75 mx-auto pt-5 mt-5 text-center position-relative banner2-btn">
    	<a href="/swt/" class="position-absolute text-center pt-5 banner1-btn1"><img src="/static/imgs/experience/content-1-btn.png" alt=""></a>
    </div>
</section>

<section class="content-2 p-5">
	<div class="container">
		<div class="text-center  p-2">
			<img src="/static/imgs/experience/content-2-title.png"/>
			<h1 class="blue big mt-3">- 实现当天种牙 当天用 -</h1>
		</div>
		</div>
		<div class="position-relative">
			<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide p-5">
							<div class="position-relative text-center"><img class="" src="/static/imgs/experience/content-2-img1.png" /></div>
						</div>
						<div class="swiper-slide p-5">
							<div class="position-relative text-center"><img class="" src="/static/imgs/experience/content-2-img2.png" /></div>
						</div>
						<div class="swiper-slide p-5">
							<div class="position-relative text-center"><img class="" src="/static/imgs/experience/content-2-img3.png" /></div>
						</div>
						<div class="swiper-slide p-5">
							<div class="position-relative text-center"><img class="" src="/static/imgs/experience/content-2-img4.png" /></div>
						</div>
					</div>
					
				</div>
				<div class="swiper-button-prev"></div><!--左箭头-->
    			<div class="swiper-button-next"></div><!--右箭头-->
			</div>
	
	
</section>
	</body>
<script type="text/javascript">
	var mySwiper = new Swiper('.swiper-container', {
		direction: 'horizontal',
  	loop: true,
 
 	navigation: {
	    nextEl: '.swiper-button-next',
	    prevEl: '.swiper-button-prev',
	 },
	autoplay : true,
  	speed:100,
  	slidesPerView: 3,
  	centeredSlides: true,
  	coverflow: {
   	rotate: 30,
   	stretch: 10,
   	depth: 60,
   	modifier: 2,
   	slideShadows : true
   }
  });
// 时间轴
var items = document.querySelectorAll(".timeline ul li");
 
function isElementInViewport(el) {
  var rect = el.getBoundingClientRect();
  return (
    rect.top >= 0 &&
    rect.left >= 0 &&
    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
}
 
function callbackFunc() {
  for (var i = 0; i < items.length; i++) {
    if (isElementInViewport(items[i])) {
      if(!items[i].classList.contains("in-view")){
        items[i].classList.add("in-view");
      }
    } else if(items[i].classList.contains("in-view")) {
        items[i].classList.remove("in-view");
    }
  }
}
  
window.addEventListener("load", callbackFunc);
window.addEventListener("scroll", callbackFunc);

//文字出现
var index = 0;  
  var str = "hai~ 欢迎来到德道口腔数字化智能口腔体验中心";  
  setInterval(function() {  
   if(index == str.length) { 
//清除定时器
clearInterval();
//若要让效果无限循环，把index归0即可
// index = 0;
}  
var a = document.getElementsByClassName("content-1-title")[0];
a.innerHTML = str.substring(0, index++);
},400)
</script>
</html>
