<!-- 即刻用 -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>当天种牙当天用_深圳牙科医院_口腔医生在线咨询_深圳德道口腔医院</title>
	<meta name="keywords" content="深圳德道口腔门诊部,深圳口腔医院,深圳牙科医院排名,深圳牙科,深圳牙科咨询">
	<meta name="description" content="深圳德道口腔医院专注牙齿修复,种植牙,烤瓷牙,牙齿矫正,口腔正畸,牙齿美白,儿童齿科,口腔保健等齿科项目，并提供口腔医学医生在线咨询服务。咨询预约电话:400-800-6161。">
	<link rel="stylesheet" href="/static/css/bootstrap4.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/jky.css">
	<script src="/static/js/jquery-2.1.1.min.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="http://swt.szddkqyy.com/JS/LsJS.aspx?siteid=MTI57225838&lng=cn"></script>
</head>

<body>
	<header class="d-flex justify-content-between pt-3 pl-5 pb-2 border-bottom fixed-top"></header>
	
	<section class="banner">
		<div class="position-relative">
					<img class="mt-2" src="/static/imgs/jky/banner.jpg"/>
					<a href="/swt/" class="banner1-btn position-absolute"><img src="/static/imgs/jky/banner1-btn.png" alt=""></a>
				</div>
	</section>
	
	<section class="content1 mt-5 pb-5">
		<div class="container">
			<div class="content-title position-relative text-center border-bottom">
				<h1 class="blue">在北京、成都、深圳三城成功推广即刻用</h1>
				<h4 class="mb-3">种植牙案例已超10000例</h4>
			</div>
			<div class="mt-5 position-relative">
				<img src="/static/imgs/jky/content-1-img.jpg" />
				<div class="content-button content-1-btn position-absolute pt-2 pb-2 pl-4 pr-4 w-25 text-center">
					<a class="text-white" href="/swt/" >点击查看更多种牙方案</a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="content2 pb-5">
		<div class="container text-center position-relative">
			<div class="content-title position-relative text-center border-bottom">
				<h1 class="blue">深圳4000多缺牙者亲身体验“即刻用”技术</h1>
				<h4 class="mb-3">高效、品质、有保障获市民一致认可</h4>
			</div>
			<ul class="content-2-tab d-flex justify-content-between mt-5">
				<li class="p-2 text-center text-white">
					<img src="/static/imgs/jky/content-2-img-1.jpg" />
					<p class="mt-2 mb-0 font-weight-bold">当天种牙 当天用牙</p>
					<p class="mb-0 font-8">无需多次奔波，种牙、戴牙一天即可完成</p>
				</li>
				<li class="p-2 text-center text-white">
					<img src="/static/imgs/jky/content-2-img-2.jpg" />
					<p class="mt-2 mb-0 font-weight-bold">微创舒适，出血少</p>
					<p class="mb-0 font-8">创口仅有几毫米，不用等恢复期，当天享口福</p>
				</li>
				<li class="p-2 text-center text-white">
					<img src="/static/imgs/jky/content-2-img-3.jpg" />
					<p class="mt-2 mb-0 font-weight-bold">普通市民享受高品质种植牙</p>
					<p class="mb-0 font-8">“少种植多修复”，不用全口种满种植钉，少受罪</p>
				</li>
			</ul>
			<ul class="content-2-tab d-flex justify-content-center mt-3 mb-5">
				<li class="p-2 text-center text-white">
					<img src="/static/imgs/jky/content-2-img-4.jpg" />
					<p class="mt-2 mb-0 font-weight-bold">更适合粤港澳大湾区缺牙者</p>
					<p class="mb-0 font-8">针对当地缺牙者的具体情况，不断升级技术与诊疗体验</p>
				</li>
				<li class="p-2 text-center text-white ml-4">
					<img src="/static/imgs/jky/content-2-img-5.jpg" />
					<p class="mt-2 mb-0 font-weight-bold">更安全更有保障</p>
					<p class="mb-0 font-8">术前精准预知种植位置与深度，更好保护我们的口腔</p>
				</li>
			</ul>
			<!--按钮-->
			<div class="content-button content-2-btn position-absolute w-50 pt-2 pb-2 pl-4 pr-4 m-auto">
				<a class="text-white" href="/swt/">我要体验“当天种牙当天用”种牙技术</a>
			</div>
		</div>
	</section>
	
	<section class="content3 pt-5 pb-5">
		<div class="container position-relative">
			<div class="content-title mb-4 pt-4 position-relative text-center border-bottom">
				<h1 class="text-white">即刻用种植牙科研示范机构</h1>
				<h4 class="text-white mb-3">专注做种植牙&nbsp;&nbsp;&nbsp;专注做即刻用</h4>
			</div>
			<div class="mt-5 mb-4">
				<h5 class="text-indent text-white">深圳德道口腔作为即刻用种植牙科研示范机构，承担关于“即刻用”技术相关流程发布、案例征集、技术升级、操作规范等技术相关的任务，让“即刻用”种植牙技术实现更标准化、更规范化。</h5>
			</div>
			<div class="mt-2 mb-4 d-flex justify-content-center">
				<div class="mr-4"><img src="/static/imgs/jky/content-3-img-1.png" /></div>
				<div class="ml-5 mr-4"><img src="/static/imgs/jky/content-3-img-2.png" /></div>
				<div class="ml-5"><img src="/static/imgs/jky/content-3-img-3.png" /></div>
			</div>
			<div class="mt-4 mb-5 d-flex justify-content-center">
				<div><img src="/static/imgs/jky/doctor.png" /></div>
				<div class="doctor-info p-5 ml-5 mt-3 ml-4">
					<div class="border-bottom blue2">
						<h1 class="blue d-inline-block font-weight-bold">李建君</h1>
						深圳德道口腔院长
					</div>
					<p class="text-indent mt-3">即刻用示范机构是对我们的荣誉，更是对我们的勉励和监督，我们也将<font class="blue3">十分的用心去对待每一例病例，十分的细心去处理每一个细节，</font>不负示范单位的荣誉。</p>
				</div>
			</div>
			<!--按钮-->
			<div class="content-button position-absolute content-3-btn w-35 pt-2 pb-2 pl-4 pr-4 m-auto text-center">
				<a class="text-white" href="/swt/">预约李院长定制专属种植牙方案</a>
			</div>
		</div>
	</section>
	
	<section class="content4 mt-5">
		<div class="container p-5">
			<div class="content-title position-relative text-center border-bottom">
				<h1 class="blue">互联网+时代的即刻用科研示范机构</h1>
				<h4 class="mb-3">服务粤港澳大湾区&nbsp;&nbsp;&nbsp;打造深圳口腔“特区”</h4>
			</div>
			<div class="mt-5">
				<img src="/static/imgs/jky/content-4-img.jpg" />
			</div>
		</div>
	</section>
	
	<section class="content5 mt-5 p-4">
		<div class="container">
			<div class="content-title position-relative text-center border-bottom">
				<h1 class="text-white">在线预约体验  即刻用种植牙  </h1>
			</div>
			<form class="d-flex justify-content-between w-75 p-5 text-center">
				<div class="w-50">
					<div class="d-flex justify-content-between">
						<div class="w-50">
							<img src="/static/imgs/jky/content-5-img-1.png" />
							<span class="d-inline-block mt-2">
								<input type="radio" class="mr-1" name="data[symptom]" value="多颗缺牙" id="radio-1" checked="checked">
								<label for="radio-1">多颗缺牙</label>
							</span>	
						</div>
						<div class="w-50 ml-3">
							<img src="/static/imgs/jky/content-5-img-2.png" />
							<span class="d-inline-block mt-2">
								<input type="radio" class="mr-1" name="data[symptom]" value="半口缺牙" id="radio-2">
								<label for="radio-2">半口缺牙</label>
							</span>	
						</div>	
					</div>
					<div class="d-flex justify-content-between mt-3">
						<div class="w-50">
							<img src="/static/imgs/jky/content-5-img-3.png" />
							<span class="d-inline-block mt-2">
								<input type="radio" class="mr-1" name="data[symptom]" value="全口缺牙" id="radio-3">
								<label for="radio-3">全口缺牙</label>
							</span>	
						</div>
						<div class="w-50 ml-3">
							<img src="/static/imgs/jky/content-5-img-4.png" />
							<span class="d-inline-block mt-2">
								<input type="radio" class="mr-1" name="data[symptom]" value="其他牙齿情况" id="radio-4">
								<label for="radio-4">其他牙齿情况</label>
							</span>	
						</div>	
					</div>
				</div>
				<div class="text-input ml-4">
					<div class="d-flex justify-content-between name mt-3 p-3">
						<span class="d-flex align-items-center">姓名：</span>
						<input type="text" class="p-2" name="data[name]">
					</div>
					<div class="d-flex justify-content-between age p-3">
						<span class="d-flex align-items-center">年龄：</span>
						<input type="text" class="p-2" name="data[age]">
					</div>
					<div class="d-flex justify-content-between phone p-3">
						<span class="d-flex align-items-center">电话：</span>
						<input type="text" class="p-2" name="data[phone]">
					</div>
					<input type="hidden" name="form_id" value="37" />
					<input type="hidden" name="page" class="page" />
					<input type="hidden" name="db_id" value="2" />
					<div class="p-3">
						<a href="javascript:;" class="text-center text-white ml-5 w-75 submit-btn pt-2 pb-2">提交申请</a>
					</div>
				</div>
			</form>
		</div>
	</section>
	
	<footer></footer>
	
	<script>
//	    $('header').load("/static/header.html");
	    $('footer').load("/static/footer.html");
	   
	    $('.page').val(window.location.href);
		$('.submit-btn').on('click', function() {
			var name = $(".name input").val();
			var re1 = /^[\u4E00-\u9FA5]{1,6}$/; 
			if(name == ''){
				alert("姓名不能为空"); 
				return false; 
			}else if(name != ''){
				if (!re1.test(name)){ 
					alert("姓名格式不正确"); 
					return false; 
				}	
			}
			
			var phone = $(".phone input").val();
			var re2 = /^((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+(\d{8})$/;
			if(phone == ''){
				alert("电话不能为空"); 
				return false; 
			}else if(phone != ''){
				if (!re2.test(phone)){ 
					alert("电话格式不正确"); 
					return false; 
				}
			}
			
			var age = $(".age input").val();
			var re3 = /^[0-9]{1,2}$/;
			if(age == ''){
				alert("年龄不能为空"); 
				return false; 
			}else if(age != ''){
				if (!re3.test(age)){ 
					alert("请输入正确的年龄"); 
					return false; 
				}
			}
			
			var data = $('form').serializeArray();
			console.log(data);
			$.post('http://api.dedaokq.com/form/form_data/addPostData',data,function(result){
				alert(result.info);
			});
		});
	   
	   
	</script>	
</body>
