<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<title>医院介绍_深圳牙科医院_口腔医生在线咨询_深圳德道口腔医院</title>
		<link rel="stylesheet" href="/static/css/bootstrap4.min.css">
		<link rel="stylesheet" href="/static/css/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/base.css">
		<link rel="stylesheet" href="/static/css/swiper.min.css">
		<link rel="stylesheet" href="/static/css/team.css">
		<script src="/static/js/jquery-2.1.1.min.js"></script>
		<script src="/static/js/swiper.min.js"></script>
		<script src="/static/js/main.js"></script>
		<script src="http://swt.szddkqyy.com/JS/LsJS.aspx?siteid=MTI57225838&lng=cn"></script>
	</head>
	<body>
	<header class="d-flex justify-content-between pt-3 pl-5 pb-2 border-bottom fixed-top"></header>
		
	<section class="banner">
		<img src="/static/imgs/team/banner.jpg" />
	</section>
	
	<section class="content-1 mt-5 pb-5">
		<div class="container">
			<div class="content-title text-center ">
				<div><img src="/static/imgs/team/content1-title.png"/></div>
				<div class="text-center w-25 mt-4 mx-auto border-weight font-15">
					超10000例种植案例
				</div>
			</div>
			<div class="mt-5 d-flex justify-content-center">
			    <div class="mt-5"><img class="w-100 h-100" src="/static/imgs/team/content1-doctor.png"/></div>
			    <div class="ml-5 mr-5 p-4">
			        <div><img src="/static/imgs/team/content1-name.png"/></div>
			    	   <div class="blue2 mt-3 mb-3 text-center p-2 w-85">
			    		 	<div class="content-border">
			    		  	<p class="mt-3 text-white text-indent text-name ml-2">三代牙医世家出身，国内首批“即刻用”技术的种植、推广</p>
			    		  	<p class="text-white text-name">者，先后参与了北京丶成都丶深圳三大城市的“即刻用”技术</p>
			    		  	<p class="text-white text-name">的推广，被国际种植牙医师协会誉为“中国不可多得的种植牙</p>
			    		  	<p class="text-white text-name">方面专业人才”。从业至今，为近万名患者实施“即刻用”种</p>
			    		  	<p class="text-white text-name text-left ml-3">植牙技术，当天种牙当天戴牙，快速解决缺牙难题。</p>	
			    		  </div>
			    	   </div>
			    		      <div><img src="/static/imgs/team/content1-good.png"/></div>
			    		  <div class="mt-2">
			    		    	<h6 class="text-indent mt-2">“即刻用”种植技术、ALL-ON-4种植技术、3D导航种植技术、各类型种植手术以及上颌窦内外提升植骨技术</h6>
			    		  </div>
			    </div>
			</div>		
			
		</div>
	</section>
	
	<section class="content-2 p-5">
		<div class="container text-center position-relative">
			<div>
				<img src="/static/imgs/team/content2-title.png"/>
				<p class="text-indent mt-3 text-white font-12">李建君院长作为“即刻用”3.0研发团队带头人，近20年口腔种植经验，一直致力于即刻用的研究和改进，对于<br/>顾客关心的高龄患者能不能做即刻用，即刻用种植如何实现微创种植，实现快速种植，当天种牙当天用等问题做了解答。</p>
			</div>
			<div class="pt-0 pl-4 pr-4 pb-0 d-flex justify-content-center align-items-center mt-4">
				<img class="w-70" src="/static/imgs/team/content2-img-1.png"/>
				<img class="w-40 h-40" src="/static/imgs/team/content2-img-2.png"/>
			</div>
			<div class="pt-0 pl-4 pr-4 pb-4 d-flex justify-content-center align-items-center mt-4">
		  	    <img class="w-40 h-40" src="/static/imgs/team/content2-img-3.png"/>
				<img class="w-70 " src="/static/imgs/team/content2-img-4.png"/>
			</div>
			<div class="content-button position-absolute content-2-btn w-35 pt-2 pb-2 pl-4 pr-4 m-auto text-center">
				<a class="text-white" href="/swt/">预约院长定制即刻用种牙方案</a>
			</div>
		</div>
	</section>
	

	<section class="content-3 mt-5 p-5">
		<div class="content-3-container pt-4 pb-4 m-auto">
			<div class="content-title text-center mb-3">
				<img src="/static/imgs/team/content-3-title.png" />
				<p class="mt-3 mb-1 font-12">数万缺牙市民当天恢复满口咀嚼</p>
				<p class="font-12">克服身体条件差，牙槽骨薄、高龄等疑难病例</p>
				<img src="/static/imgs/team/content-3-title-2.png" />
			</div>
			<div class="content-3-imgs d-flex flex-wrap justify-content-center w-80 m-auto position-relative">
				<img class="mb-1 mr-1" src="/static/imgs/team/content-3-img-1.jpg" />
				<img class="mb-1 mr-1" src="/static/imgs/team/content-3-img-2.jpg" />
				<img class="mb-1" src="/static/imgs/team/content-3-img-3.jpg" />
				<img class="mb-1 mr-1" src="/static/imgs/team/content-3-img-4.jpg" />
				<img class="mb-1 mr-1" src="/static/imgs/team/content-3-img-5.jpg" />
				<img class="mb-1" src="/static/imgs/team/content-3-img-6.jpg" />
				<img class="mr-1" src="/static/imgs/team/content-3-img-7.jpg" />
				<img class="mr-1" src="/static/imgs/team/content-3-img-8.jpg" />
				<img class="" src="/static/imgs/team/content-3-img-9.jpg" />
			</div>
		</div>
		<div class="content-3-shadow text-center"><img src="/static/imgs/team/content-3-shadow.png" /></div>
	</section>
	
	<section class="content-4 mt-5">
		<div class="container text-center">
			<div>
				<img src="/static/imgs/team/content-4-title.png" />
				<p class="text-indent mt-3 font-12">从李建君的专访了解到，像李建君为代表的种植牙医生，他们在其他大型口腔机构都是“院<br/>长”级别的专家，但是在德道他可能只是纯粹的种植牙医生，而这就是德道医疗的专家团队。</p>
			</div>
		</div>
		<div class="content-4-bcg position-relative mt-4">
			<div class="position-relative ml-4 mr-4">
				<div class="left-text">
					<ul class="position-absolute">
						<li class="pl-3 mb-3"><p class="blue">种植牙案例<span class="red">10000</span>例</p></li>
						<li class="pl-3 mb-3 ml-4"><p class="blue">即刻用种植牙案例超<span class="red">5000</span>例</p></li>
						<li class="pl-3 mb-3 ml-8"><p class="blue">深圳种植颗数排在前列的种植牙实力派</p></li>
					</ul>
					<ul class="position-absolute opacity-0">
						<li class="pl-3 mb-3"><p class="blue">从事口腔临床工作<span class="red">30年</span></p></li>
						<li class="pl-3 mb-3 ml-4"><p class="blue"><span class="red">上万例</span>种植牙手术专家</p></li>
						<li class="pl-3 mb-3 ml-8"><p class="blue">优先接触种植牙新技术的医生</p></li>
					</ul>
					<ul class="position-absolute opacity-0">
						<li class="pl-3 mb-3"><p class="blue">原四川大学华西口腔医院种植牙专家 </p></li>
						<li class="pl-3 mb-3 ml-4"><p class="blue">为超<span class="red">5000</span>名50岁以上半/全口缺牙者<br/>进行“即刻用”种牙</p></li>
					</ul>
				</div>
				<div class="swiper-container swiper-no-swiping">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="position-relative text-center pr-5 mr-5"><img class="pr-5 mr-5" src="/static/imgs/team/content-4-doctor-1.png" /></div>
						</div>
						<div class="swiper-slide">
							<div class="position-relative text-center pr-5 mr-5"><img class="pr-5 mr-5" src="/static/imgs/team/content-4-doctor-2.png" /></div>
						</div>
						<div class="swiper-slide">
							<div class="position-relative text-center pr-5 mr-5"><img class="pr-5 mr-5" src="/static/imgs/team/content-4-doctor-3.png" /></div>
						</div>
					</div>
				</div>
				<div class="right-text text-white">
					<div class="position-absolute text-left">
						<div class="d-flex" style="align-items: flex-end;">
							<h1 class="d-inline-block">李建君</h1>
							<p class="ml-2">/深圳德道口腔院长</p>
						</div>
						<p class="mt-3">华南地区“AI+即刻用3.0”研发团队带头人<br/>北京、成都、深圳三城“即刻用”推广者</p>
						<div class="content-4-btn d-flex justify-content-center pl-4 mt-4">
							<a class="text-white pl-4 pr-4 pt-1 pb-1" href="/swt/" target="_blank">在线咨询</a>
							<a class="ml-3 pl-4 pr-4 pt-1 pb-1" href="/swt/" target="_blank">在线预约</a>
						</div>
					</div>
					<div class="position-absolute text-left opacity-0">
						<div class="d-flex" style="align-items: flex-end;">
							<h1 class="d-inline-block">蔡明河</h1>
							<p class="ml-2">/成都德道口腔院长 </p>
						</div>
						<p class="mt-3">“即刻用”高难种植牙领域领军人物<br/>荣获口腔科十强好医生称号</p>
						<div class="content-4-btn d-flex justify-content-center pl-4 mt-4">
							<a class="text-white pl-4 pr-4 pt-1 pb-1" href="/swt/" target="_blank">在线咨询</a>
							<a class="ml-3 pl-4 pr-4 pt-1 pb-1" href="/swt/" target="_blank">在线预约</a>
						</div>
					</div>
					<div class="position-absolute text-left opacity-0">
						<div class="d-flex" style="align-items: flex-end;">
							<h1 class="d-inline-block">罗君</h1>
							<p class="ml-2">/成都德道口腔技术总监 </p>
						</div>
						<p class="mt-3">“AI+即刻用”种植牙西南研发组组长<br/>榜样中国五官科十大名医</p>
						<div class="content-4-btn d-flex justify-content-center pl-4 mt-4">
							<a class="text-white pl-4 pr-4 pt-1 pb-1" href="/swt/" target="_blank">在线咨询</a>
							<a class="ml-3 pl-4 pr-4 pt-1 pb-1" href="/swt/" target="_blank">在线预约</a>
						</div>
					</div>
				</div>
			</div>
			<div class="doctor-tab d-flex position-absolute justify-content-between ml-4 mr-4">
				<div class="d-flex active-doctor align-items-center h-25 pt-2 pb-2 pl-3 pr-3">
					<img src="/static/imgs/team/content-4-doctor-s1.jpg" alt="">
					<div class="ml-2">
						<p class="mb-1">李建君</p>
						<p class="mb-0 grey">深圳德道口腔院长</p>
					</div>
				</div>
				<div class="d-flex align-items-center h-25 pt-2 pb-2 pl-3 pr-3 ml-3">
					<img src="/static/imgs/team/content-4-doctor-s2.jpg" alt="">
					<div class="ml-2">
						<p class="mb-1">蔡明河</p>
						<p class="mb-0 grey">成都德道口腔医院院长</p>
					</div>
				</div>
				<div class="d-flex align-items-center h-25 pt-2 pb-2 pl-3 pr-3 ml-3">
					<img src="/static/imgs/team/content-4-doctor-s3.jpg" alt="">
					<div class="ml-2">
						<p class="mb-1">罗 君</p>
						<p class="mb-0 grey">成都德道口腔技术总监</p>
					</div>
				</div>
			</div>
		</div>
	</section>
		
	<section class="content-5 mt-4">
		<img src="/static/imgs/team/content-5-img.jpg" />
	</section>
		
		
	<footer></footer>
<script type="text/javascript">
		$('header').load("/static/header.html");
	    $('footer').load("/static/footer.html");
	    
	    $(function() {
			var clickTime = 0;
			var mySwiper = new Swiper('.content-4 .swiper-container', {
				
			})
			$('.doctor-tab>div').on('click', function() {
				var inx = $(this).index();
				mySwiper.slideTo(inx, 500, false);
				$(this).addClass('active-doctor').siblings('div').removeClass('active-doctor');
				clickTime = inx;
				move(inx);
			})
			
		
			function move(clickTime) {
				if(clickTime == 1) {
					$('.left-text>ul').eq(0).css({'opacity': 0});
					$('.right-text>div').eq(0).css({'opacity': 0});
		
					$('.left-text>ul').eq(1).css({'opacity': 1});
					$('.right-text>div').eq(1).css({'opacity': 1});
		
					$('.left-text>ul').eq(2).css({'opacity': 0});
					$('.right-text>div').eq(2).css({'opacity': 0});
				}
				else if(clickTime == 0) {
					$('.left-text>ul').eq(0).css({'opacity': 1});
					$('.right-text>div').eq(0).css({'opacity': 1});
		
					$('.left-text>ul').eq(1).css({'opacity': 0});
					$('.right-text>div').eq(1).css({'opacity': 0});
		
					$('.left-text>ul').eq(2).css({'opacity': 0});
					$('.right-text>div').eq(2).css({'opacity': 0});
				}
				else if(clickTime == 2) {
					$('.left-text>ul').eq(0).css({'opacity': 0});
					$('.right-text>div').eq(0).css({'opacity': 0});
		
					$('.left-text>ul').eq(1).css({'opacity': 0});
					$('.right-text>div').eq(1).css({'opacity': 0});
		
					$('.left-text>ul').eq(2).css({'opacity': 1});
					$('.right-text>div').eq(2).css({'opacity': 1});
				}
			}
			
			
			var imginx = 0;
	    	setInterval(photoWall,1000);
	    	function photoWall(){
				$('.content-3-imgs>img').eq(imginx).css({'z-index':'5','transform':'scale(1.1,1.1)'});
				$('.content-3-imgs>img').eq(imginx).siblings().css({'z-index':'1','transform':'scale(1,1)'});
				
				imginx = imginx + 1;
				if(imginx == 9){
					imginx = 0;
				}
			}
	    
	    })
	    
	    
	    
	    
	    
	    
	    
</script>
	</body>
</html>
