<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<title>粤港澳_深圳牙科医院_口腔医生在线咨询_深圳德道口腔医院</title>
		<link rel="stylesheet" href="/static/css/bootstrap4.min.css">
		<link rel="stylesheet" href="/static/css/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/base.css">
		<link rel="stylesheet" href="/static/css/swiper.min.css">
		<link rel="stylesheet" href="/static/css/yga.css">
		<script src="/static/js/jquery-2.1.1.min.js"></script>
		<script src="/static/js/swiper.min.js"></script>
		<script src="/static/js/main.js"></script>
		<script src="http://swt.szddkqyy.com/JS/LsJS.aspx?siteid=MTI57225838&lng=cn"></script>
	</head>
	<body>
	   <header class="d-flex justify-content-between pt-3 pl-5 pb-2 border-bottom fixed-top"></header>
		
	   <section class="banner">
		<img src="/static/imgs/yga/banner.jpg" />
	   </section>
	   
	   <section class="content-1">
	   	<div class="container">
	   		<div class="content-title text-center mt-4">
	   			<h3 class="blue">聚焦“即刻用”3.0，打造深圳口腔“特区”</h3>
	   		<div class="title text-center text-white">已为4000多粤港澳缺牙者种上一口好牙</div>
	   	    </div>
	   	</div>
	   	<div class="w-75 m-auto"><img src="/static/imgs/yga/content-1-img3.jpg"/></div>
	   		<div class="mt-2 content-1-cneter text-center pb-5 pt-1">
	   			<div class="mt-4"><img src="/static/imgs/yga/content-1-img1.jpg"/></div>
	   		
	   	<div class="swiper-container pb-5">
					<div class="swiper-wrapper pb-5">
						<div class="swiper-slide">
							<div class="position-relative text-center mt-3"><img src="/static/imgs/yga/content-1-img2.jpg" /></div>
						</div>
						<div class="swiper-slide">
							<div class="position-relative text-center mt-3"><img src="/static/imgs/yga/content-1-img4.jpg" /></div>
						</div>
						<div class="swiper-slide">
							<div class="position-relative text-center mt-3"><img src="/static/imgs/yga/content-1-img5.jpg" /></div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
	   	
	   </section>
	   
	   <section class="content-2 mt-3 pb-5">
	   	<div class="container">
	   		<div class="content-title text-center pt-4">
	   			<h3 class="text-white">“即刻用”3.0技术引领种牙新趋势</h3>
	   		<div class="title2 text-center text-white">提升缺牙市民“当天种当天用”的种牙体验</div>
	   	   </div>
	   	</div>
	   	<div class="w-85 m-auto position-relative"><img src="/static/imgs/yga/content-1-img3.jpg"/></div>
	   	<div class="container text-center pl-5 pr-5 pt-3 f-12">
	   			<p class="text-white text-left text-indent line-height"><span class="yellow">传统种植牙技术</span>，一般需要长时间的种植时间和繁杂步骤，并且还不能实现种上牙就能吃东西；年级稍大一些、体质偏
	   			弱、牙周炎严重、缺牙过多，都不能做传统种植牙，让<span class="yellow">许多深圳缺牙者望而止步</span>。然后，随着<span class="yellow">“即刻用3.0”种植技术</span>的落
	   			户，粤港澳<span class="yellow">4000多位市民体验</span>了此技术，改变了他们对种牙的新认知，也<span class="yellow">更适合深圳多颗缺牙者</span>。
	   			</p>
	   		<ul class="content-2-tab d-flex justify-content-between mt-5">
				<li class="p-2 text-center text-white content-2-bg">
					<img src="/static/imgs/yga/content-2-img1.jpg" />
					<p class="mt-2 mb-0 font-weight-bold">高效</p>
					<p class="mb-0 font-8">3-5分钟种好一口牙，当天种牙 当天用牙</p>
				</li>
				<li class="p-2 ml-4 mr-4 text-center text-white content-2-bg">
					<img src="/static/imgs/yga/content-2-img2.jpg" />
					<p class="mt-2 mb-0 font-weight-bold">舒适</p>
					<p class="mb-0 font-8">无需切开翻瓣，微创无痛</p>
				</li>
				<li class="p-2 text-center text-white content-2-bg">
					<img src="/static/imgs/yga/content-2-img3.jpg" />
					<p class="mt-2 mb-0 font-weight-bold">品质</p>
					<p class="mb-0 font-8">专业技师全程参与，当天调试咬合</p>
				</li>
			</ul>
			<ul class="content-2-tab d-flex justify-content-center mt-3 mb-3">
				<li class="p-2 text-center text-white content-2-bg">
					<img src="/static/imgs/yga/content-2-img4.jpg" />
					<p class="mt-2 mb-0 font-weight-bold">保障</p>
					<p class="mb-0 font-8">全套AI+数字化口腔诊疗，实现精准种植</p>
				</li>
				<li class="p-2 text-center text-white ml-4 content-2-bg">
					<img src="/static/imgs/yga/content-2-img5.jpg" />
					<p class="mt-2 mb-0 font-weight-bold">性价比</p>
					<p class="mb-0 font-8">“多修复少种植”理念，半/全口只需4-8种植体</p>
				</li>
			</ul>
			<!--按钮-->
			<div class="content-2-btn d-flex justify-content-center">
				<div class="w-25 mr-5 pt-5 pb-5 position-relative content-3-btn "><a class="f-14 position-absolute text-nowrap font-weight-bold content-3-btns blue pt-3 pb-3 pl-5 pr-5" href="/swt/">点击咨询种植牙技术</a></div>
				<div class="w-25 ml-5 pt-5 pb-5 position-relative content-3-btn3 "><a class="f-14 position-absolute text-nowrap font-weight-bold  content-3-btn5 pt-3 pb-3 pl-5 pr-5" href="/swt/">预约体验“当天种牙  当天用”</a></div>
			</div>
			<div class="mt-5 mx-auto">
				<img src="/static/imgs/yga/content-2-img6.png"/>
			</div>
	   	</div>
	   </section>
	   
	   <section class="content-3 pb-3">
	   		<div class="container">
	   		<div class="content-title text-center mt-4">
	   			<h3 class="blue">打造院长级种植牙明星专家团</h3>
	   		<div class="title text-center text-white">实力派种植牙专家，让诊疗质量有保障</div>
	   	    </div>
	   	</div>
	   		<div class="w-95 m-auto"><img src="/static/imgs/yga/content-1-img3.jpg"/></div>
	   	<div class="content-3-bg">	
	   	<div class="container">
	   		<div class="pt-3 pl-5 pr-5  f-12">
	   		<p class="text-indent line-height">能够让缺牙市民享受到“当天种牙当天用、微创无痛”的种植体验，这背后不仅仅是技术落户和设备支撑，更是一
	   		位位“即刻用”种植牙推广医生的不懈努力，而<span class="blue">深圳德道口腔的李建君院长正是这其中的重要一员，还是深圳种植颗数</span>
	   		<span class="blue">排在前列的种植牙实力派。</span>
	   		</p>
	   		</div>
	   			<div class="position-relative"><img src="/static/imgs/yga/content-3-img1.jpg"/>
	   				<div class="position-absolute content-3-btn4 content-3-location d-flex align-items-center pl-3 pr-3">
	   					<div class="mt-1 pl-2 pb-2"><img src="/static/imgs/yga/content-3-btn.png"/></div>
	   					<div><a class=" pt-3 pb-3 pl-2 pr-2 f-14" href="/swt/">立即预约</a></div>
	   				</div>
	   				</div>
	   			<div class="d-flex justify-content-center p-4">
	   				<div class="mr-5 text-center font-weight-bold">
	   					<img src="/static/imgs/yga/content-3-img2.jpg"/>
	   					<div class="w-35 m-auto pt-5 pb-5 position-relative content-3-btn6"><a class="position-absolute f-14 text-nowrap content-3-btn1 pt-3 pb-3 pl-5 pr-5" href="/swt/">查看种牙过程</a></div>
	   				</div>
	   				<div class="ml-5 text-center font-weight-bold">
	   					<img src="/static/imgs/yga/content-3-img3.jpg"/>
	   				    <div class="w-35 m-auto pt-5 pb-5 position-relative content-3-btn6"><a class="position-absolute f-14 text-nowrap content-3-btn1 pt-3 pb-3 pl-5 pr-5" href="/swt/">查看种牙过程</a></div>
	   				</div>
	   			</div>
	   	</div>
	   	</div>
	   </section>
	   
	   
	   <section class="content-4 pt-4 pb-5">
	   		<div class="container">
	   			<div class="content-title text-center pt-4">
	   			<h3 class="text-white">引进全套AI数字化诊疗设备</h3>
	   			<div class="title2 text-center text-white">探索“AI+口腔”“互联网+医院”的规范化模式</div>
	   	    	</div>
	   		</div>
	    <div class="w-85 m-auto position-relative"><img src="/static/imgs/yga/content-1-img3.jpg"/></div>
	   		<div class="container text-center">
	   			<div class="swiper-container pb-5">
					<div class="swiper-wrapper pb-3">
						<div class="swiper-slide">
							<div class="position-relative text-center mt-3"><img src="/static/imgs/yga/content-4-img1.png" /><p class="f-14 text-white">让种植牙在大数据的分析帮助下，更精准、更简单</p></div>
						</div>
						<div class="swiper-slide">
							<div class="position-relative text-center mt-3"><img src="/static/imgs/yga/content-4-img2.png" /><p class="f-14  text-white">给出合适的咬合力范畴，保障给市民更好的咀嚼体验</p></div>
						</div>
						<div class="swiper-slide">
							<div class="position-relative text-center mt-3"><img src="/static/imgs/yga/content-4-img3.png" /><p class="f-14 text-white">实现使用无翻瓣技术，大幅度降低创伤</p></div>
						</div>
						<div class="swiper-slide">
							<div class="position-relative text-center mt-3"><img src="/static/imgs/yga/content-4-img4.png" /><p class="f-14 text-white">汇集全球种植牙专家的智慧，为全球种植牙疑难案例服务</p></div>
						</div>
					</div>
					
					<div class="swiper-pagination"></div>
				</div>
				<!--按钮-->
				<div class="w-25 pt-5 pb-5 m-auto position-relative content-3-btn2"><a class="font-weight-bold f-14 text-nowrap position-absolute content-3-btn1 pt-3 pb-3 pl-5 pr-5" href="/swt/">在线测试智能化种牙方案</a></div>
	   		</div>
	   </section>
	   
	   <section class="content-5 mt-4">
	   	<img src="/static/imgs/yga/content-5.jpg"/>
	   </section>
	 <footer></footer>  
<script type="text/javascript">
	 $('footer').load("/static/footer.html");
	   	$(function(){	
	   	var mySwiper = new Swiper('.content-1 .swiper-container', {
	   		autoplay:true, 
            pagination: {
			el: '.swiper-pagination',
			clickable: true,
			
			renderBullet: function (index, className) {
			switch(index){
				case 0:text='';break;
				case 1:text='';break;
				case 2:text='';break;
				case 3:text='';break;
			}
			return '<span class="' + className + '">' + text + '</span>';
			},
		},
})
     	var mySwiper = new Swiper('.content-4 .swiper-container', {
     		autoplay:true,
             pagination: {
			el: '.swiper-pagination',
			clickable: true,
			
			renderBullet: function (index, className) {
			switch(index){
				case 0:text='';break;
				case 1:text='';break;
				case 2:text='';break;
				case 3:text='';break;
			}
			return '<span class="' + className + '">' + text + '</span>';
			},
		},
})
	      
     })
</script>
	</body>
</html>
