

form p{
	color: #7c3a00;
}

form font{
    width: 30%;
    background-color: #e0e0e0;
    font-size: .9rem;
    color: #000;
    text-align: center;
}

.active {
    background-color: #d10101 !important;
    color: #fff !important;
}

video{
    max-width: 640px;
}

.swiper01 *{
	font-size: 0.8rem !important;
}

form option:nth-child(odd){
	background-color: #ffd9b8;
}
form option:nth-child(even){
	background-color: #feffc4;
}

.prev{
	position: absolute;
    top: 50%;
    width: 16px;
    height: 36px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('imgs/prev.png');
    left: 10px;
    right: auto;
}

.next{
	position: absolute;
    top: 50%;
    width: 16px;
    height: 36px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('imgs/next.png');
    right: 10px;
    left: auto;
}


.submit-btn {
	border-radius: 8px;
	background-color: #e60012;
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 1.3rem;
}

.swiper-pagination{
	width: 110px !important;
	left: 50%;
	margin-left:-55px ;
}
.swiper-pagination>span{
	margin-left: 10px;
}

.swiper-pagination-bullet{
	margin: 0 0.2rem;
	width: 12px;
	height: 12px;
	background: #ee7f7f;
	opacity: 1;
}

.swiper-pagination-bullet-active{
	background: #de0000;
}
.fixed-btn{
    max-width: 640px;
    margin: 0 auto;
    background: #e60012;
    padding: 3.3rem;
}
.fixed-btn2 {
    width: 23%;
    bottom: 2%;
    left: 6%;
    animation: btn1 3s ease infinite;
}
.fixed-btn3 {
    bottom: 15%;
    width: 70%;
    right: 2%;
    animation: btn 3s ease infinite;
}
@keyframes btn {
    0% {bottom: 15%;}
    50% {bottom: 25%;}
    100% {bottom: 15%;}
}
@keyframes btn1 {
    0% {bottom: 2%;}
    50% {bottom: 6%;}
    100% {bottom: 2%;}
}