@charset "utf-8";

.container{}
.item {width:1200px;margin:0 auto;}
.bgImg{background:url(../imgs/img.png) no-repeat;display:inline-block;}
.banner{height:854px;background:url(../imgs/banner.jpg) center 0 no-repeat;position:relative;margin-top: 200px;}
.banner .chat{width:320px;height:79px;text-align:center;line-height:79px;font-size:41px;color:#027ebf;background-color:#fff;border-radius:25px;display:block;position:absolute;left:50%;top:445px;margin-left:-492px;}

.itemTie{text-align:center;padding:60px 0 40px;}
.itemTie span{line-height:60px;font-size:52px;color:#1e1e1e;font-weight:normal;display:inline-block;padding:0 30px;position:relative;}
.itemTie span i{width:12px;height:80px;position:absolute;top:50%;margin-top:-40px;}
.itemTie span i.ioc1{background-position:-381px -422px;left:0;}
.itemTie span i.ioc2{background-position:-397px -422px;right:0;}
.itemTie span small{line-height:40px;font-size:32px;color:#323232;text-transform:uppercase;display:block;}
.itemTie span em{line-height:40px;font-size:24px;color:#323232;text-transform:uppercase;display:block;}

.f1Bg{background:url(../imgs/bg_01.jpg) repeat;}
.f1Box{height:763px;background:url(../imgs/f1Bg.png) no-repeat;position:relative;}
.f1Box span{width:207px;height:207px;text-align:center;line-height:34px;font-size:24px;color:#fff;padding-top:107px;position:absolute;}
.f1Box span.ioc1{background-position:0 0;left:285px;top:2px;}
.f1Box span.ioc2{background-position:-211px 0;left:52px;top:82px;}
.f1Box span.ioc3{background-position:-422px 0;left:0;top:309px;}
.f1Box span.ioc4{background-position:-633px 0;left:194px;top:435px;}
.f1Box span.ioc5{background-position:0 -211px;left:697px;top:0;}
.f1Box span.ioc6{background-position:-211px -211px;left:939px;top:82px;}
.f1Box span.ioc7{background-position:-422px -211px;left:997px;top:309px;}
.f1Box span.ioc8{background-position:-633px -211px;left:798px;top:437px;}
.f1Box span.ioc2,.f1Box span.ioc3,.f1Box span.ioc4,.f1Box span.ioc6{line-height:68px;}
.f1Box a.btn{width:322px;height:84px;text-align:center;line-height:84px;font-size:30px;color:#fff;font-weight:bold;background-color:#ff9623;box-shadow:#d5e5eb 3px 10px 5px;border-radius:20px;display:block;position:absolute;left:50%;margin-left:-161px;bottom:95px;}
.f1Box a.btn em{color:#fff287;font-weight:bold;padding-left:20px;}

.f2Bg{height:921px;background:url(../imgs/f2Bg.jpg) no-repeat;}
.f2BoxCon{overflow:hidden;}
.f2BoxCon dl{float:left;margin-right:21px}
.f2BoxCon dl.w182{width:182px;}
.f2BoxCon dl.w386{width:386px;}
.f2BoxCon dl.none{margin-right:0;}
.f2BoxCon dt{padding-bottom:27px;overflow:hidden;}
.f2BoxCon li{float:left;width:182px;height:194px;background:url(../imgs/bg_02.png) no-repeat;position:relative;}
.f2BoxCon li.ioc1{background-position:0 0;}
.f2BoxCon li.ioc2{background-position:-186px 0;margin-right:21px;}
.f2BoxCon li.ioc3{background-position:-372px 0;}
.f2BoxCon li.ioc4{background-position:-558px 0;}
.f2BoxCon li.ioc5{background-position:-744px 0;margin-right:21px;}
.f2BoxCon li.ioc6{background-position:-930px 0;}
.f2BoxCon li span{line-height:30px;font-size:20px;color:#fff;padding-left:20px;display:block;position:absolute;left:0;top:50%;}
.f2BoxCon li.ioc1 span{margin-top:-45px;}
.f2BoxCon li.ioc2 span{margin-top:-30px;}
.f2BoxCon li.ioc3 span{margin-top:-75px;}
.f2BoxCon li.ioc4 span{margin-top:-75px;}
.f2BoxCon li.ioc5 span{margin-top:-45px;}
.f2BoxCon li.ioc6 span{margin-top:-30px;}
.f2BoxCon dd h3{height:40px;line-height:40px;text-align:center;font-size:24px;color:#fff;margin-bottom:33px;position:relative;}
.f2BoxCon dd h3.ioc1{background-color:#00a7fe;}
.f2BoxCon dd h3.ioc2{background-color:#0092df;}
.f2BoxCon dd h3.ioc3{background-color:#007cbd;}
.f2BoxCon dd h3.ioc4{background-color:#006092;}
.f2BoxCon dd h3 i{width:0;height:0;border-left:transparent solid 11px;border-right:transparent solid 11px;display:block;position:absolute;left:50%;margin-left:-11px;bottom:-15px;}
.f2BoxCon dd h3.ioc1 i{border-top:#00a7fe solid 15px;}
.f2BoxCon dd h3.ioc2 i{border-top:#0092df solid 15px;}
.f2BoxCon dd h3.ioc3 i{border-top:#007cbd solid 15px;}
.f2BoxCon dd h3.ioc4 i{border-top:#006092 solid 15px;}
.f2BoxCon dd img{width:183px;height:138px;display:block;margin:0 auto;}
.f2Box p{text-align:center;line-height:98px;font-size:30px;color:#323232;padding-top:16px;}
.f2Box a.btn{width:451px;height:84px;text-align:center;line-height:84px;font-size:30px;color:#fff;font-weight:bold;background-color:#ff9623;box-shadow:#b2c5c9 3px 10px 5px;border-radius:20px;display:block;margin:0 auto;}
.f2Box a.btn em{color:#fff287;font-weight:bold;padding-left:20px;}


.f3Bg{background:url(../imgs/bg_01.jpg) repeat;}
.f3Box{padding-bottom:68px;overflow:hidden;}
.f3Tab{height:105px;overflow:hidden;padding-left:97px;padding-bottom:9px;}
.f3Tab span{float:left;width:286px;height:86px;text-align:center;line-height:86px;font-size:38px;color:#323232;background-position:0 -609px;margin-right:70px;position:relative;}
.f3Tab span i{height:50px;line-height:50px;font-size:44px;color:#323232;position:absolute;top:13px;right:-50px;}
.f3Tab span.active{height:105px;color:#fff;background-position:0 -695px;}
.f3BoxCon{height:750px;overflow:hidden;}
.f3BoxCon h3{height:90px;line-height:90px;font-size:30px;color:#027ebf;position:relative;padding-left:97px;}
.f3BoxCon h3 i{width:50px;height:50px;background-position:-870px 0;position:absolute;left:34px;top:50%;margin-top:-25px;}
.f3BoxCon h3 b{font-weight:bold;color:#ff7f00;}
.f3Box1{height:660px;border:#0275b5 solid 16px;border-radius:30px;background-color:#f5f5f5;}
.f3Box1{overflow:hidden;}
.f3Box1Dl{padding:0 0 32px 30px;overflow:hidden;}
.f3Box1Dl dt{float:left;}
.f3Box1Dl dt,.f3Box1 dt img{width:328px;height:278px;}
.f3Box1Dl dd{float:right;width:785px;}
.f3Box1Dl dd h4{line-height:40px;font-size:30px;color:#323232;font-weight:normal;}
.f3Box1Dl dd p{line-height:32px;font-size:18px;color:#323232;padding-bottom:15px;}
.f3Box1Dl dd ul{overflow:hidden;}
.f3Box1Dl dd li{float:left;width:163px;height:155px;line-height:26px;font-size:16px;color:#fff;background-position:-194px -422px;padding:5px 10px 0;position:relative;margin-right:8px;}
.f3Box1Dl dd li span{line-height:45px;font-size:24px;display:block;}
.f3Box1Dl dd li i{width:35px;text-align:center;line-height:40px;font-size:24px;position:absolute;right:0;top:0;}
.f3Box1Con{padding-left:30px;overflow:hidden;}
.f3Box1Con span.bgImg{float:left;width:204px;height:215px;text-align:center;line-height:40px;font-size:20px;color:#fff;padding-top:65px;margin-right:50px;background: url(../imgs/img2.png) no-repeat;margin-left: 20px;}
.f3Box1Con span.bgImg b{color:#ffea00;display:block;}
.f3Box1Con dl{float:left;width:390px;height:200px;border:#1f8cc5 dashed 2px;border-radius:30px;margin:10px 20px 0 0;}
.f3Box1Con dt{text-align:center;line-height:57px;font-size:24px;color:#027ebf;padding-top:11px;}
.f3Box1Con dd{}
.f3Box1Con dd p{padding-left:10px;overflow:hidden;}
.f3Box1Con dd p span{line-height:30px;font-size:16px;color:#ff7f00;position:relative;padding-left:20px;margin-right:0px;}
.f3Box1Con dd p i{width:15px;height:15px;background-position:-851px 0;position:absolute;left:2px;top:50%;margin-top:-7px;}
.f3Box1Con dd .txt{text-align:center;line-height:50px;font-size:24px;color:#a55301;display:block;}
.f3Box1Con dd .txt em{font-size:20px;color:#323232;text-decoration:line-through;}
.f3Box1Con dd .btn{text-align:center;font-size:57px;font-weight:bold;color:#ff7f00; display:block;}
.f3Box1Con dd .btn a{width:148px;height:54px;text-align:center;line-height:54px;font-size:20px;color:#fff;background-color:#61b9cf;box-shadow:#ddd2c7 2px 8px 5px;display:inline-block;position:relative;top:-10px;margin-left:20px;}

.f3Box2{height:718px;border:#0275b5 solid 16px;border-radius:30px;background-color:#fff;}
.f3Box2Con{padding:0 0 45px 40px;overflow:hidden;}
.f3Box2Con dl{float:left;width:590px;padding-right:30px;}
.f3Box2Con dt{float:left;}
.f3Box2Con dt,.f3Box2Con dt img{width:184px;height:206px;}
.f3Box2Con dd{float:right;width:380px;}
.f3Box2Con dd h4{line-height:42px;font-size:24px;color:#323232;font-weight:normal}
.f3Box2Con dd p{line-height:32px;font-size:18px;color:#323232;}
.f3Box2Con dl.w465{width:465px;}
.f3Box2Con dl.w465 dt,.f3Box2Con dl.w465 dt img{width:151px;}
.f3Box2Con dl.w465 dd{width:290px;}
.f3Box2Img{width:1089px;height:312px;background:url(../imgs/pic_14.jpg) no-repeat;margin:0 auto;position:relative;}
.f3Box2Img a.chat{width:148px;height:54px;text-align:center;line-height:54px;font-size:20px;color:#fff;background-color:#61b9cf;box-shadow:#ddd2c7 2px 8px 5px; display:block;position:absolute;right:189px;top:216px;}

.f3Box3{height:718px;border:#0275b5 solid 16px;border-radius:30px;background-color:#fff;}
.f3Box3 .tab{float:left;width:193px;padding:20px 0 34px 39px;position:relative;}
.f3Box3 .tab span{height:55px;line-height:55px;text-align:center;font-size:24px;color:#323232;border:#027ebf solid 2px;display:block;margin-bottom:17px;}
.f3Box3 .tab span.active{background-color:#027ebf;color:#fff;}
.f3Box3 .tab i{width:90px;height:86px;background-position:-290px -586px;position:absolute;left:240px;bottom:0;}



.f3Box3 .tabBox{float:right;width:862px;height:234px;overflow:hidden;}
.f3Box3 .tabBox dl{overflow:hidden;}
.f3Box3 .tabBox dt{float:left;padding-top:20px;}
.f3Box3 .tabBox dt,.f3Box3 .tabBox dt img{width:187px;height:211px;}
.f3Box3 .tabBox dd{float:right;width:650px;}
.f3Box3 .tabBox dd h4{line-height:42px;font-size:20px;color:#027ebf;}
.f3Box3 .tabBox dd p{line-height:32px;font-size:18px;color:#323232;}
.f3Box3 .tabBox dd p span{color:#ff7f00;}
.f3Box3 .tabBox dd li{line-height:32px;font-size:18px;color:#323232;}
.f3Box3 .tabBox dd li em{color:#027ebf;font-weight:bold;}
.f3Box3 .tabBox dd li b{font-weight:bold;padding-left:5px;}
.f3Box3 .img{width:1089px;height:312px;background:url(../imgs/pic_06.jpg) no-repeat;display:block;margin:0 auto;position: relative;}
.f3Box3 .img a.chat{width:81px;height:80px;background-position:-870px -54px;;position:absolute;left:168px;top:204px;}

.f4Bg{height:788px;background:url(../imgs/f4Bg.jpg) no-repeat;position:relative;}
.f4Box{padding:0 80px 0 65px;}
.f4Box dl{overflow:hidden;}
.f4Box dt{float:left;padding-top:5px;}
.f4Box dt,.f4Box dt img{width:446px;height:446px;}
.f4Box dd{float:right;width:555px;}
.f4Box dd h3{height:85px;font-size:42px;color:#323232;font-weight:normal;border-bottom:#00839f solid 1px;margin-bottom:20px;}
.f4Box dd h3 a{color:#323232;}
.f4Box dd h3 span{font-size:30px;padding-left:12px;}
.f4Box dd h3 small{font-size:24px;color:#ff7f00;padding-left:27px;}
.f4Box dd p{line-height:48px;font-size:24px;color:#323232;}
.f4Box dd span.btn{display:block;padding-top:35px;}
.f4Box dd span.btn a{width:185px;height:80px;text-align:center;line-height:80px;font-size:30px;color:#fff;display:inline-block;background-color:#027ebf;border-radius:20px;margin-right:39px;}
.f4Box dd span.btn a.chat{background-color:#ff9623;}
.f4Box .next-btn,.f4Box .prev-btn{width:29px;height:56px;background:url(../imgs/btn.png) no-repeat;top:50%;margin-top:-14px;position: absolute;}
.f4Box .prev-btn{background-position:0 0;left:15%;}
.f4Box .next-btn{background-position:-33px 0;right:15%;}


.f5Bg{background:url(../imgs/f5Bg.jpg) center bottom no-repeat #fff;padding-bottom:80px;}
.f5Box .img{padding-bottom:43px;}
.f5Box .img,.f5Box .img img{width:1200px;height:520px;}
.f5BoxCon{background-color:#f0f0f0;overflow:hidden;position:relative;padding:10px 12px 10px 210px;}
.f5BoxCon span{width:190px;height:183px;background-position:0 -422px;position:absolute;left:12px;top:10px;}
.f5BoxList{overflow:hidden;}
.f5BoxList li{float:left;overflow:hidden;margin-right:20px;}
.f5BoxList dl{width:230px;}
.f5BoxList dt,.f5BoxCon dt{width:230px;height:143px;}
.f5BoxList dd{height:40px;text-align:center;line-height:40px;font-size:16px;color:#fff;}
.f5BoxList dl.fl dd{background-color:#027ebf;}
.f5BoxList dl.fr dd{background-color:#ff9623;}


.f6Bg{background:url(../imgs/f6Bg.jpg) center bottom no-repeat #bbe2f7;padding-bottom:75px;}
.f6Box{overflow:hidden;}
.f6Box dl{float:left;margin-right:18px;}
.f6Box dl.w328{width:328px;}
.f6Box dl.w448{width:448px;}
.f6Box dl.w388{width:388px;margin-right:0;}
.f6Box dt{height:51px;line-height:51px;font-size:24px;color:#ffffff;background-color:#027ebf;position:relative;padding:0 32px;}
.f6Box dt a.more{font-size:16px;color:#fff;text-transform:uppercase;position:absolute;right:15px;top:0;}
.f6Box dd{height:310px;background-color:#fff;border:#46bdeb solid 1px;padding:13px 30px 0;}
.f6Box dd ul{height:293px;overflow:hidden;}
.f6Box dd li{height:48px;line-height:48px;font-size:16px;color:#020202;border-bottom:#020202 dashed 1px;overflow:hidden;position:relative;padding-left:22px;}
.f6Box dd li a{color:#020202;}
.f6Box dd li i{width:0;height:0;border-left:#177599 solid 8px;border-top:transparent solid 5px;border-bottom:transparent solid 5px;display:block;position:absolute;left:1px;top:50%;margin-top:-5px;}
/*f7Box*/
.f7Box{padding:10px 0;}
.f7Box .tab{height:54px;border-bottom:1px solid #ccc;}
.f7Box .tab span{float:left;position:relative;width:94px;height:54px;color:#333;font-size:18px;line-height:54px;text-align:center;}
.f7Box .tab span i{position:absolute;left:0;bottom:-1px;width:94px;height:1px;background-color:#0277bb;overflow:hidden;display:none;}
.f7Box .tab span.active i{display:block;}
.f7Box .tabBox {height:113px;overflow:hidden;padding-top:26px;}
.f7Box .tabCon {}
.f7Box .tabCon ul {overflow:hidden;height:125px;}
.f7Box .tabCon li{float:left;width:166px;}
.f7Box .tabCon li span{display:block;color:#333;font-size:16px;line-height:40px;text-align:center;}
.f7Box .tabCon .conA {}
.f7Box .tabCon .conA li {height:125px;}
.f7Box .conA li img{width:59px;height:59px;display:block;margin:0 auto;}
.f7Box .conB li.li1 {margin-right:64px;}
.f7Box .conB li.li2 {margin-right:43px;}
.f7Box .conB li.li3 {margin-right:70px;}
.f7Box .conB li.li4 {margin-right:39px;}
.f7Box .conB li.li1,.f7Box .conB li.li1 img {width:226px;}
.f7Box .conB li.li2,.f7Box .conB li.li2 img {width:248px;}
.f7Box .conB li.li3,.f7Box .conB li.li3 img {width:141px;}
.f7Box .conB li.li4,.f7Box .conB li.li4 img {width:166px;}
.f7Box .conB li.li5,.f7Box .conB li.li5 img {width:203px;}
.f7Box .conB li img {height:85px;display:block;margin:0 auto;}
.f7Box .conC a{padding-right:24px;color:#333;font-size:12px;line-height:22px;}
.f7Box .conC a:hover{color:#ff8a00;text-decoration: underline;}
/*f8Box*/
.f8Bg{background-color:#f2f2f2;}
.f8Box {overflow:hidden;height:239px;padding:17px 0 74px 0;font-size:14px;}
.f8Box .f8Left,.f8Box .f8Center {float:left;height:100%;}
.f8Box .f8Right {float:right;height:100%;}
.f8Box .f8Left {padding-left:29px;width:318px;border-right:1px solid #d9d9d9;}
.f8Box .f8Left dl {margin-top:36px;}
.f8Box .f8Left dt a {width:292px;height:84px;background:url(../imgs/logo.png) 0 -88px no-repeat;display: block;}
.f8Box .f8Left dd {margin-top:17px;}
.f8Box .f8Left em {display:block;line-height:24px;padding-left:30px;position:relative;}
.f8Box .f8Left em i {width:12px;height:16px;background:url(../imgs/logo.png) -250px -295px no-repeat;display:block;position:absolute;left:11px;top:5px;}
.f8Box .f8Left dd i.icon2 {width:14px;height:14px;background-position:-265px -295px;}
.f8Box .f8Center {width:509px;border-right:1px solid #d9d9d9;}
.f8Box .f8Center dl {float:left;padding-left:40px;text-align:center;width:84px;}
.f8Box .f8Center dl.dl2 {padding-left:39px;padding-right:52px;}
.f8Box .f8Center dt {line-height:24px;height:24px;font-size:16px;font-weight:bold;color:#000;padding:12px 0 6px 0;}
.f8Box .f8Center dd a {color:#000;display:block;line-height:24px;}
.f8Box .f8Center dd a:hover {color:#0277bb;}
.f8Box .f8Right {width:306px;}
.f8Box .f8Right p {margin:22px 0 10px 0;line-height:14px;}
.f8Box .f8Right .tel {width:246px;height:31px;display:block;background:url(../imgs/logo.png) 4px -290px no-repeat;}
.f8Box .f8Right dl {margin-top:26px;position:relative;height:99px;}
.f8Box .f8Right dt {width:103px;height:99px;position:absolute;left:0;top:0;}
.f8Box .f8Right dd {margin-left:115px;height:96px;padding-top:3px;}
.f8Box .f8Right dd span {display:block;line-height:26px;}