.banner {
	margin-top: 120px;
}

.red{
	color: #e60012;
}

.font-8{
	font-size: 0.8rem;
}

form font{
	width: 30%;
	background-color: #e0e0e0;
	font-size: .9rem;
	color: #000;
	text-align: center;
}
.active {
	background-color: #d10101 !important;
	color: #fff !important;
}


.submit-btn {
	font-size: 1.2rem;
	border-radius: 15px;
	background-color: #d10101;
}
.w-15{
	width: 15% !important;
}
.h-5{
	height: 1px;
	background: #000000;
}
.red{
	color: #bf232b;
}
.border-num{
	background-image:url(imgs/7.jpg) ;
	background-size:cover;
	font-family:"Impact";
    width: 5rem;
    height: 5rem;
    font-size: 4rem;
}

.bg-red{
	background-color: #e70012;
}
.fixed-btn2 {
    bottom: 15%;
    right: 10%;
    animation: btn 3s ease infinite;
}
.w-60{
	width: 60%;
}
@keyframes btn {
	0% {bottom: 15%;}
	50% {bottom: 25%;}
	100% {bottom: 15%;}
}