@charset "utf-8";
/* CSS Document */
.left{ float:left;}
.right{ float:right}
.cont{ width:1200px; margin:0 auto; }

.banner{ width:100%; height:733px; margin:112px auto 80px; background:url(../imgs/banner.jpg) no-repeat top center;margin-top: 200px;}
.banner a{ display:block;width:100%; height:733px; margin:0 auto;}
.main_01{ width:865px; margin:0 auto 50px; overflow:hidden;}
.main_01_l{ width:492px; float:left;}
.main_01_r{ width:320px; float:right; padding-top:30px;}
.main_01_r p{ color:#220101; font-size:22px; margin-bottom:15px;}
.main_01_a{ width:370px; line-height:56px; background:#fff31b; margin:0 auto 70px; text-align:center; font-size:22px; border-radius:30px;}
.main_01_a a{ color:#220101;}
.tlt{ text-align:center; color:#220101; font-size:36px; margin:0 auto 40px;}

.main_02{ margin:0 auto 30px; overflow:hidden;}
.main_02_bd{ width:990px; margin:0 auto 40px; overflow:hidden;}
.main_02_bd .main_02_li{ margin:0 auto; overflow:hidden;}
.main_02_bd .main_02_li .main_02_t{ width:410px; line-height:42px; border:1px solid #ddb974; margin:0 auto 30px; text-align:center; border-left:none; border-right:none; color:#ce911c; font-size:22px; overflow:hidden;}
.main_02_bd .main_02_li p{ width:848px; margin:0 auto 40px; text-indent:2em; color:#4a4946; font-size:18px; line-height:26px;}
.main_02_bd .main_02_li ul{ margin:0 auto; overflow:hidden;}
.main_02_bd .main_02_li ul li{ width:300px; height:184px; float:left; margin-left:15px; margin-right:15px; display:inline;}
.main_02_hd{ width:242px; margin:0 auto; overflow:hidden;}
.main_02_hd ul li{ width:47px; height:8px; float:left; background:#b6af97; margin-left:10px; display:inline; cursor:pointer;}
.main_02_hd ul li.on{ background:#b79213;}
.main_02_a{ width:280px; line-height:50px; margin:0 auto 70px; background:#fff31b; font-size:30px;}
.main_02_a a{ display:block; width:178px; margin:0 auto; color:#000; background:url(../imgs/icon_a.png) no-repeat right center;}

.main_03{ margin:0 auto 70px; overflow:hidden;}
.main_03_i{ width:1074px; height:238px; margin:0 auto 30px;}
.main_03_a{ width:430px; line-height:50px; font-size:30px; margin:0 auto; background:#fff31b; }
.main_03_a a{ display:block; width:348px; margin:0 auto; color:#000; background:url(../imgs/icon_a.png) no-repeat right center;}

.anli{ width:624px; height:162px; margin:0 auto 30px; overflow:hidden; position:relative;}
.prv{ display:block; width:38px; height:38px; position:absolute; left:0px; top:60px; cursor:pointer;}
.next{ display:block; width:38px; height:38px; position:absolute; right:0px; top:60px; cursor:pointer;}
.anli_bg{ width:495px;height:162px;  margin:0 auto; overflow:hidden;}
.anli_bg ul li{ width:495px;height:162px;  margin:0 auto; overflow:hidden;}
.anli_a{ width:278px; line-height:50px; text-align:center; margin:0 auto 70px; font-size:23px;  border:1px dashed #827f71; border-radius:30px;}
.anli_a a{color:#000;}

.main_04{ margin:0 auto 70px; overflow:hidden;}
.main_04_l{ width:370px; height:740px; float:left; background:#fff31b; text-align:center; padding-top:10px;}
.main_04_r{ width:750px; padding-top:10px; float:left; margin-left:22px; display:inline;}
.main_04_r ul{ margin:0 auto; overflow:hidden;}
.main_04_r ul li{ width:148px; margin-bottom:30px; text-align:center; color:#220101; font-size:20px; float:left; margin-left:18px; margin-right:21px; display:inline;}
.main_04_r ul li img{ display:block; margin:0 auto 20px;}
.main_04_r_t{ width:714px; margin:0 auto; border-top:1px solid #b1b0b0; color:#2c0202;}
.main_04_r_t span{ display:block; width:704px; margin:0 auto; font-size:20px; line-height:68px;}
.main_04_r_t p{ width:704px; margin:0 auto; font-size:17px; line-height:26px; margin-bottom:25px;}
.main_04_r_t p font{ color:#ff7800;}

.ban_gg{ width:100%; height:230px; margin:0 auto 70px; background:url(../imgs/ban_gg.jpg) no-repeat top center;}
.main_05_bg{ width:1150px; margin:0 auto 70px; position:relative; overflow:hidden;}
.zj_p{ display:block; width:39px; height:122px; position:absolute; left:0px; top:140px; cursor:pointer;}
.zj_n{ display:block; width:39px; height:122px; position:absolute; right:0px; top:140px; cursor:pointer;}
.zj_bd{ width:990px; height:455px; margin:0 auto; overflow:hidden;}
.zj_bd ul li{ width:990px; height:455px; margin:0 auto; overflow:hidden;}
.zj_i{ width:455px; float:left;}
.zj_t{ width:506px; float:right; padding-top:84px;}
.zj_t span{ display:block; font-size:20px; line-height:30px; color:#161505; margin-bottom:30px;}
.zj_t p{ font-size:18px; color:#161505; line-height:30px;}
.zj_t p a{ color:#ff7e00;}

.main_06{ margin:0 auto 70px; overflow:hidden;}
.main_06_l{ width:504px; float:left;}
.main_06_r{ width:525px; padding-top:126px; float:left; margin-left:70px; display:inline;}
.main_06_r p{ color:#595755; font-size:18px; line-height:28px; margin-bottom:25px;}


