
.w-45{
	width: 45% !important;
}

a {
	text-decoration: none !important;
}
.banner {
	margin-top: 205px;
}
.content-title {
	border-bottom: 1px solid #666;
}
.content-title:after {
	content: '';
	display: inline-block;
	position: absolute;
	height: 5px;
	width: 70px;
	background: #c11920;
	bottom: -3px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 2;
}
.content-title p {
	font-size: 28px;
}
.content-1-line-height {
	line-height: 1.5;
}
.text-indent {
	text-indent: 2rem;
}
.content1-text, .content-2-text {
	line-height: 2;
}
.city-right {
	width: 90.8%;
}
.city-tab {
	width: 18%;
	left: 0;
}
.sz, .sz-point {
	display: none;
}
.point {
	z-index: 5;
	bottom: 15px;
	right: 30px;
	background: #585858;
}
.point li {
	background: #fff;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	transition: all .2s ease;
	cursor: pointer;
}
.point .point-active {
    width: 40px;
    border-radius: 20px;
}
.city-tab li {
	font-size: 25px;
	background: #8B8B8B;
    padding: 26.8% 0;
    cursor: pointer;
}
.city-tab .tab-active {
	background: #CB0000;
}
.city-tab li:last-child {
	background: #C6C6C6;
	cursor: no-drop;
}
.city-tab li:after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	right: -18px;
    top: 36%;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent transparent #8B8B8B;
	z-index: 5;
}
.city-tab .tab-active:after {
	border-color: transparent transparent transparent #CB0000;
}
.city-tab li:last-child:after {
	border-color: transparent transparent transparent #C6C6C6;
}
.swt-btn a {
	border-radius: 20px;
	width: 30%;
	font-size: 20px;
}
.swt-btn a:first-child {
	background: #949494;
}
.swt-btn a:last-child {
	background: #C11920;
}
.content-3-bcg {
	background: url(../images/about/bcg.jpg);
}
.about-icon {
	background: url(../images/about/icon.png);
    width: 80px;
    background-size: cover;
    line-height: 2.6;
    z-index: 2;
}
.about-icon b {
	font-size: 30px;
}
.content-3-text {
	width: 85%;
	line-height: 1;
	z-index: 2;
}
.content-3-list {
	padding: 2% 0;
}
.content-3-list li {
	border: 2px solid #C11920;
    border-bottom-right-radius: 29px;
    border-top-left-radius: 29px;
    background: #fff;
    user-select: none;
}
.content-3-list li:nth-child(2) {
	margin: 5% 0;
}
.content-3-list .red {
	color: #c11920;
	font-size: 22px;
}
.content-3-list .content-3-list-bcg {
	position: absolute;
	top: 0;
	left: 4.5%;
    background: #c11920;
    border-bottom-right-radius: 29px;
    border-top-left-radius: 29px;
    padding: 40px 0;
}
.content-3-list .content-3-active .content-3-list-bcg {
    padding-right: 95.9%;
    transition: all .25s ease;
}
.content-3-list .content-3-active p {
    color: #fff;
    transition: all .25s ease;
}
.list-line-height {
    line-height: 2.4;
}
.content-4-tab li {
  	background-color: rgba(61, 61, 61, 0.502);
  	cursor: pointer;
}
.content-4-tab .content-4-active {
  	background-color: rgba(198, 198, 198, 0.502);
}
.content-5-tab-list li {
	font-size: 25px;
	background: #949494;
	cursor: pointer;
	width: 20%;
}
.content-5-tab-list .content-5-tab-active {
	background: #C11920;
}
.content-5-banner {
	overflow: hidden;
}
.content-5-banner ul {
	width: 1000%;
	transition: all .5s ease;
	right: 0;
    min-height: 343.27px;
}
.content-5-banner li {
    width: 1.6%;
    padding: 0 15px;
    height: 100%;
    top: 139px;
    transition: all .5s ease;
    opacity: .35;
}
.content-5-banner li div {
	left: 0;
	right: 0;
	bottom: 15px;
	margin: 0 15px;
  	background-color: rgba(0, 0, 0, 0.502);
}
.content-5-banner .doctor-active-prev, .content-5-banner .doctor-active-next {
    top: 62px;
    width: 2.1%;
    opacity: .7;
}
.content-5-banner .doctor-active {
	top: 0;
	width: 2.5%;
	opacity: 1;
}
.content-5-banner .doctor-active:after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: 0;
	height: 5px;
	right: 0;
	left: 0;
	background: #c11920;
	margin: 0 15px;
}
.arrow {
	position: absolute;
	width: 30px;
	height: 30px;
	display: inline-block;
	border-top: 3px solid #666;
	border-left: 3px solid #666;
	top: 48%;
}
.arrow-right {
	transform: rotate(135deg);
	right: -5%;
}
.arrow-left {
	transform: rotate(-45deg);
	left: -5%;
}
.inx-1, .inx-2, .inx-3 {
	display: none;
}
.inx-1-banner, .inx-2-banner, .inx-3-banner {
	overflow: hidden;
}
.inx-1-banner ul, .inx-2-banner ul, .inx-3-banner ul {
	width: 1000%;
	transition: all .5s ease;
	right: 0;
}
.inx-1-banner ul li, .inx-2-banner ul li, .inx-3-banner ul li {
	position: relative;
    transform: scale(.7);
    top: 32px;
    opacity: .35;
    transition: all .5s ease;
}
.inx-1-banner ul .inx-active, .inx-2-banner ul .inx-active, .inx-3-banner ul .inx-active {
    transform: scale(1);
    margin: 0 12px;
    top: 0;
    opacity: 1;
}
.ai {
	background: url(../images/about/ai.png);
	width: 89px;
	height: 71px;
	top: 5px;
}
.content-5 .swt-btn a:first-child, .content-4 .swt-btn a:first-child {
	background: #c11920;
}
.content-5 .swt-btn a:last-child, .content-4 .swt-btn a:last-child {
    background: #949494;
}
.unshow {
	display: none;
}
.content-4-tab {
	width: 200%;
	right: 0;
	transition: all .5s ease;
}
.content-4-tab-list {
	overflow: hidden;
	bottom: 0;
    z-index: 5;
}

.map-msg{
	width: 506px;
	border: 2px solid #c11920;
	text-align: left;
	font-weight: bold;
}
.border-red{
	border-bottom: 1px solid #c11920;
}