@charset "UTF-8";
 .extraction-container{position:relative;background-color:#fff;}
.item{width:1200px;margin:0 auto;}
.bgImg{background:url(../imgs/bgImg.png) no-repeat;display:inline-block;vertical-align:middle;}
.public-nav .nav{ padding-left: 0!important;}

.titleH2{font-size:40px;color:#333;text-align:center;}
.titleH2 em{font-weight:normal;color:#666;}
.titleH2 span{display:block;font-size:20px;color:#e5e5e5;font-weight:normal;text-transform:uppercase;margin-top:5px;}
.titleH2 span i{display:inline-block;width:45px;height:2px;background:#e5e5e5;margin:0 5px;vertical-align:middle;}
.chatBtn{display:block;width:254px;height:60px;background:#004379;color:#fff;font-size:24px;line-height:60px;border-radius:40px;text-align:center;}
/*banner*/
/*.banner a{height:598px; display:block;background:url(/images/kouqiang/baya/banner.jpg) top center no-repeat;}*/
/*.banner*/
.banner{width:100%;height:600px;overflow:hidden;position:relative;margin-top: 200px;}
.bannerList{width:1920px;height:600px;overflow:hidden;position:absolute;left:50%;margin-left:-960px;top:0;}
.bannerList li,.bannerList li img{width:1920px;height:600px;}
.bannerList .bajs-easy-slider-pagination{width:100%;text-align:center;line-height:0;font-size:0;position:absolute;left:0;bottom:22px;}
.bannerList .bajs-easy-slider-pagination a{width: 10px;height: 10px;background-color: #9a9a9a;border-radius:50%;display:inline-block;margin:0 3px;}
.bannerList .bajs-easy-slider-pagination a.active{background-color: #0277bb;}
.bannerList .bajs-easy-slider-nav{ background: url(../imgs/bgimg.png) no-repeat center; width: 60px; height: 60px; top:45%;}
.bannerList:hover  .prev-btn{left:200px;background-position: 0 -100px;}
.bannerList:hover  .next-btn{right: 200px;background-position: -62px -100px;}
.bannerList .prev-btn:hover{background-position: 0 -162px;}
.bannerList .next-btn:hover{background-position: -62px -162px;}

/*f1Box*/
.f1Box{padding:70px 0;}
.f1Con{margin:50px 0 40px;}
.f1Con ul{overflow:hidden;}
.f1Con li{width:400px;float:left;text-align:center;padding:20px 0 35px;}
.f1Con li dt img{width:190px;height:191px;border-radius:50%;margin:0 auto; border:1px solid #ddd;}
.f1Con li dd{margin-top:20px;}
.f1Con li dd h4{font-size:28px;color:#2a7fc4;position:relative;padding-top:5px;}
.f1Con li dd h4 i{width:30px;height:1px;background:#cce0f1;position:absolute;left:50%;margin-left:-15px;top:0;}
.f1Con li dd p{font-size:24px;color:#333;margin-top:5px;}
.f1Con .ul1{border-bottom:1px solid #f7f7f7;}
.f1Box .askBox{width:420px;height:58px;border:1px solid #7fa1bc;border-radius:40px;font-size:24px;color:#004379;line-height:58px;padding-left:20px;position:relative;margin:0 auto;}
.f1Box .askBox a{display:block;width:200px;height:60px;background:#004379;color:#fff;font-size:24px;line-height:60px;position:absolute;top:-1px;left:240px;border-radius:40px;text-align:center;}
/*f2Box*/
.f2Box{padding-bottom:80px;}
.f2Con{width:100%;height:228px;background:#2a7fc4; position:relative;}
.f2Con dl dt{position:absolute;left:226px;top:28px;}
.f2Con dl dt img{border:3px solid #fff;border-radius:14px;}
.f2Con dl dd{width:500px;position:absolute;left:605px;top:30px;}
.f2Con dl dd h3{font-size:36px;color:#fff;}
.f2Con dl dd a{display:block;width:285px;height:50px;background:#fff;color:#2a7fc4;text-align:center;line-height:50px;font-size:24px;border-radius:40px;margin-top:15px;}
.f2Con .shadow{display:block;width:659px;height:57px;background:url(../imgs/shadow.png) 0 -4px no-repeat;position:absolute;bottom:-57px;left:50%;margin-left:-330px;}
/*f3Box*/
.f3Box dl{overflow:hidden;margin-top:40px;}
.f3Box dl dt{width:50%;height:470px; float:left;position:relative;}
.f3Box dl dt img{position:absolute;top:97px;left:55px;}
.f3Box dl dt .circle{width:400px;height:470px;position:absolute;top:0;left:230px;overflow:hidden;}
.f3Box dl dt .circle span{display:block;width:468px;height:468px;border:1px solid #cadff0;border-radius:50%;margin-left:-300px;}
.f3Box dl dt .circle ul{position:absolute;top:0;left:77px;}
.f3Box dl dt .circle ul li{font-size:24px;color:#2a7fc4;font-weight:bold;margin:45px 0;}
.f3Box dl dt .circle ul li.li2{margin-left:51px;}
.f3Box dl dt .circle ul li.li3{margin-left:56px;}
.f3Box dl dt .circle ul li i{display:inline-block;width:60px;height:60px;border-radius:50%;background:#2a7fc4 url(../imgs/bgimg2.png) 6px 9px no-repeat;vertical-align:middle;margin-right:10px;}
.f3Box dl dt .circle ul li.li2 i{background-position:-43px 9px;}
.f3Box dl dt .circle ul li.li3 i{background-position:-88px 9px;}
.f3Box dl dt .circle ul li.li4 i{background-position:-141px 9px;}
.f3Box dl dd{width:437px; float:left;padding:110px 0 0 80px;}
.f3Box dl dd p{font-size:22px;color:#4c4c4c;line-height:44px;}
.f3Box dl dd .chatBtn{margin-top:70px;}
/*f4Box*/
.f4Box{padding:70px 0 80px;}
.f4Box table{border-collapse:collapse;margin-top:35px;}
.f4Box table th{border:1px solid #95bfe2;}
.f4Box table td{border:1px solid #fff;}
.f4Box table th{height:90px;background:#2a7fc4;color:#fff;font-size:30px;text-align:left;padding-left:50px;}
.f4Box table th span{display:block; font-size:14px;opacity:0.2;filter:alpha(opacity:20);text-transform:uppercase;font-weight:normal;}
.f4Box table td{width:390px;height:64px;font-size:24px;color:#545454;padding-left:50px;}
.f4Box table .td2{width:320px;padding-left:0; background:#88b8e3;color:#fff;font-weight:bold;text-align:center;}
.f4Box table th.td2{background:#2a7fc4;border-bottom:1px solid #fff;}
.f4Box table .trGrey{background:#f8f8f8;}
/*f5Box*/
.f5Box{padding-bottom:50px;}
.f5Box h3{font-size:26px;color:#2a7fc4;font-weight:normal;margin-bottom:20px;}
.f5Box h3 .bgImg{width:13px;height:23px;background-position:-13px -50px;margin-right:10px;}
.f5Before{margin-top:40px;}
.f5Slide ul{overflow:hidden;}
.f5Slide li{width:200px;height:270px;float:left;position:relative;overflow:hidden;}
.f5Slide li .pic{position:absolute;top:0;left:0;}
.f5Slide li .pic .layer{width:200px;height:270px;background:#000;opacity:0.3;filter:alpha(opacity:30);position:absolute;top:0;left:0;z-index:2;}
.f5Slide li .pic a{display:block; width:128px;height:128px;position:absolute;top:71px;left:36px;z-index:3;}
.f5Slide li .pic a span{width:128px;height:128px;display:block;background:#000;opacity:0.5;filter:alpha(opacity:50);border-radius:50%;cursor:pointer;}
/* .f5Slide li .pic a:hover span{opacity:1;filter:alpha(opacity:100);} */
.f5Slide li .pic a b{width:128px;font-size:28px;color:#fff;position:absolute;top:30px;left:0;text-align:center;line-height:32px;}
.f5Slide li .dsc{width:400px;height:270px;background:#f8f8f8;position:absolute;top:0;left:200px;}
.f5Slide li .dsc p{font-size:20px;color:#666;line-height:30px;padding:76px 30px 0;}
.f5Slide li .dsc p em{display:block;font-size:26px;color:#2a7fc4;margin-bottom:10px;}
.f5After{margin-top:75px;}
.f5AfterCon{margin-top:30px;overflow:hidden;}
.f5AfterL{width:50%;margin-top:10px;}
.f5AfterL ul{overflow:hidden;}
.f5AfterL li{margin-bottom:30px;}
.f5AfterL li dl{overflow:hidden;}
.f5AfterL li dt{width:50px;height:50px;background:#0070c0;border-radius:50%;position:relative;float:left;margin:10px 20px 0 0;}
.f5AfterL li dt i{display:block;width:42px;height:42px;border:1px solid #83d4f3;text-align:center;line-height:42px;color:#fff;font-size:28px; border-radius:50%;position:absolute;top:3px;left:3px;}
.f5AfterL li dd{font-size:22px;color:#262626;float:left;}
.f5AfterL li dd span{font-size:26px;color:#0070c0;font-weight:bold;display:block;}
.f5AfterL li.list2 dt{background:#10ace7;}
.f5AfterR{width:528px;}
.f5AfterR ul{overflow:hidden;}
.f5AfterR li{width:528px;height:70px;background:#e1f3fa;text-align:center;line-height:70px;margin-bottom:4px;float:left;}
.f5AfterR li a{font-size:20px;color:#4d9ebd;}
.f5AfterR li a:hover{color:#004379;}
.f5AfterR li.li2{width:241px;margin-right:4px;}
.f5AfterR li.li3{width:283px;}
.f5AfterR li.li2,.f5AfterR li.li3,.f5AfterR li.li5{background:#f7f7f7;}
.f5AfterR li.li2 a,.f5AfterR li.li3 a,.f5AfterR li.li5 a{color:#727272;}
.f5AfterR li.li2 a:hover,.f5AfterR li.li3 a:hover,.f5AfterR li.li5 a:hover{color:#004379;}
.f5AfterR .chatBtn{display:block;width:370px;margin:30px auto 0;}
/*f6Box*/
.f6Box{background:#4ca0e6;padding:60px 0 50px;}
.f6Box .titleH2{color:#004379;}
.f6Box .titleH2 em{color:#fff;}
.f6Box .titleH2 span{opacity:0.3;filter:alpha(opacity:30);}
.f6Con{overflow:hidden;padding-top:80px;}
.f6Con .line{width:1193px;height:1px;background:#80bbeb;position:relative;}
.f6Con .line .bgImg{width:7px;height:15px;background-position:-142px -56px;position:absolute;right:-7px;top:-6px;}
.f6Con ul{padding-top:20px;}
.f6Con ul li{width:240px;float:left;text-align:center;position:relative;}
.f6Con ul li span{display:block;width:34px;height:34px;background:#4ca0e6; position:absolute;top:-37px;left:50%;margin-left:-17px;}
.f6Con ul li span i{display:block;width:24px;height:24px;background:#fff;color:#4ca0e6;font-size:20px;text-align:center;line-height:24px;border-radius:50%;position:absolute;top:5px;left:5px;}
.f6Con ul li img{margin-top:10px;}
.f6Con ul li h4{font-size:22px;color:#fff;}
.f6Con ul li h4 i{display:block;width:42px;height:1px;background:#82bdee;margin:10px auto;}
.f6Con ul li p{font-size:18px;color:#fff;padding:0 30px;}
.f6Box .chatBtn{display:block; width:350px;margin:60px auto 0;}
/*expert*/
.expert{padding-top:50px; padding-bottom: 50px;}
.expertSlide{height:714px;overflow:hidden;}
.expertSlide li{width:1200px;height:714px;}
.expertSlide dl{height:714px;overflow:hidden;}
.expertSlide dt{width:479px;float:left;}
.expertSlide dd{width:700px;float:right;margin-top:110px;padding-right:21px;}
.expertSlide dd h4{font-size:26px;color:#1d1d1d;font-weight:normal;}
.expertSlide dd h4 a{font-size:40px;color:#00569e;font-weight:bold;margin-right:10px;}
.expertSlide dd h4 a:hover{color:#4f90c8;}
.expertSlide dd p{font-size:22px;color:#1d1d1d;margin-top:40px;line-height:40px;}
.expertSlide dd p span{font-size:28px;color:#272727;font-weight:bold;display:block;margin-bottom:10px;}
.expertSlide dd p span .bgImg{display:inline-block;width:30px;height:30px;background-position:-92px -47px;margin-right:5px;}
.expertSlide dd p span .i1{background-position:-47px -47px;}
.expertSlide dd .askBox{overflow:hidden;margin-top:70px;}
.expertSlide dd .askBox a{float:left;width:240px;margin:0 45px;}
.expertSlide dd .askBox .btn2{background:#4f90c8;}
.expertSlide .bajs-easy-slider-nav{display:block;width:21px;height:44px;background:url(../imgs/bgimg2.png) -217px -41px no-repeat;position:absolute;top:50%;margin-top:-22px;right:0;}
.expertSlide .prev-btn{background-position:-182px -41px;left:0;}
/*news*/
.news ul{overflow:hidden;margin:50px 0 70px;}
.news ul li{width:520px;height:50px;line-height:50px; border-bottom:1px dashed #ddd; float:left;margin:0 40px;overflow:hidden;}
.news ul li a{font-size:18px;color:#333;width:400px;overflow:hidden;display:block;float:left;}
.news ul li a i{display:inline-block;width:4px;height:4px;background:#333;border-radius:50%;margin-right:8px;vertical-align:middle;}
.news ul li a:hover{color:#4f90c8;}
.news ul li span{font-size:16px;color:#000;opacity:0.5;filter:alpha(opacity:50);float:right;}
/*f7Box*/
.f7Box {overflow:hidden;height:239px;padding:17px 0 74px 0;font-size:14px;background:#f2f2f2;}
.f7Box .f7Left,.f7Box .f7Center {float:left;height:100%;}
.f7Box .f7Right {float:right;height:100%;}
.f7Box .f7Left {padding-left:29px;width:318px;border-right:1px solid #d9d9d9;}
.f7Box .f7Left dl {margin-top:36px;}
.f7Box .f7Left dt a {width:292px;height:84px;background:url(/images/kouqiang/baya/logo.png) 0 -88px no-repeat;display: block;}
.f7Box .f7Left dd {margin-top:17px;}
.f7Box .f7Left em {display:block;line-height:24px;padding-left:30px;position:relative;}
.f7Box .f7Left em i {width:12px;height:16px;background:url(/images/kouqiang/baya/logo.png) -250px -295px no-repeat;display:block;position:absolute;left:11px;top:5px;}
.f7Box .f7Left dd i.icon2 {width:14px;height:14px;background-position:-265px -295px;}

.f7Box .f7Center {width:509px;border-right:1px solid #d9d9d9;}
.f7Box .f7Center dl {float:left;padding-left:40px;text-align:center;width:84px;}
.f7Box .f7Center dl.dl2 {padding-left:39px;padding-right:52px;}
.f7Box .f7Center dt {line-height:24px;height:24px;font-size:16px;font-weight:bold;color:#000;padding:12px 0 6px 0;}
.f7Box .f7Center dd a {color:#000;display:block;line-height:24px;}
.f7Box .f7Center dd a:hover {color:#0277bb;}

.f7Box .f7Right {width:306px;}
.f7Box .f7Right p {margin:22px 0 10px 0;line-height:14px;}
.f7Box .f7Right .tel {width:246px;height:31px;display:block;background:url(/images/kouqiang/baya/logo.png) 4px -290px no-repeat;}
.f7Box .f7Right dl {margin-top:26px;position:relative;height:99px;}
.f7Box .f7Right dt {width:103px;height:99px;position:absolute;left:0;top:0;}
.f7Box .f7Right dd {margin-left:115px;height:96px;padding-top:3px;}
.f7Box .f7Right dd span {display:block;line-height:26px;}


@-webkit-keyframes orangeIn {
	0% {-webkit-transform:scale(0.8);opacity:0}
	100% {-webkit-transform:scale(1);opacity:1}
}

@keyframes orangeIn {
	0% {transform:scale(0.8);opacity:0}
	100% {transform:scale(1);opacity:1}
}


@-webkit-keyframes orangeOut {
	0% {-webkit-transform:scale(1);opacity:1}
	100% {-webkit-transform:scale(0.8);opacity:0}
}

@keyframes orangeOut {
	0% {transform:scale(1);opacity:1}
	100% {transform:scale(0.8);opacity:0}
}

.slideBox{position: relative;}