a {
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #fff;
}
ul {
	margin: 0;
}
input{
	-webkit-appearance: none;
}
.unshow {
	display: none;
}
.w-47 {
	width: 47%;
}
.w-90 {
	width: 90%;
}
.bcg-fff {
	background: #fff;
}
.content-box-1{
	margin-top: 120px;
}
.content-box-2 {
	background: url(imgs/content-box-2-bcg.jpg);
}
.content-box-3 {
	background: url(imgs/content-box-3-bcg.jpg);
}
.content-box-4 {
	background: url(imgs/content-box-4-bcg.jpg);
}
.content-box-6 {
	background: url(imgs/content-box-6-bcg.jpg);
}
.content-box-7 {
	background: url(imgs/content-box-7-bcg.jpg);
}
.content-box-2, .content-box-3, .content-box-4, .content-box-6, .content-box-7 {
    background-size: cover;
}
.content-box-2 .right-text {
	background: rgba(0, 0, 0, 0);
}
.content-box-2 .symbol {
    border: 7px solid #1E6BB8;
    position: absolute;
}
.content-box-2 .symbol-left {
    width: 2.8125rem;
    height: 4.6875rem;
	top: 0;
	left: 0;
    border-right: transparent;
    border-bottom: transparent;
}
.content-box-2 .symbol-right {
    width: 4.6875rem;
    height: 2.8125rem;
	bottom: 0;
	right: 0;
    border-left: transparent;
    border-top: transparent;
}
.content-box-2 .symbol-2 {
	background: url(imgs/”.png);
	width: 2.5rem;
	height: 2.3125rem;
	position: absolute;
	top: 10%;
	right: 10%;
}
.title span {
	color: #ffff00;
}
.title:after {
	content: '';
    display: block;
    background: url(imgs/index-icon.png);
    width: 19.5rem;
    height: .8125rem;
    background-position: 0 -84px;
    margin: 10px auto;
}
.title {
  	font-size: 1.8rem;
  	font-family: "Adobe Heiti Std";
  	text-shadow: 0px .625rem 1.25rem rgba(0, 0, 0, 0.2),0px 5px 10px rgba(0, 0, 0, 0.2);
}
.title-text {
	font-size: 1.25rem;
    opacity: .7;
}
.index-icon {
	background: url(imgs/index-icon.png);
	display: inline-block;
	vertical-align: middle;
}
.content-box-3 .row {
	background: #fff;
}
.content-box-3 .index-icon {
    width: 4.375rem;
    height: 4.375rem;
}
.content-box-3 li {
	width: 25%;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-color: #EFEFEF;
	position: relative;
}
.content-box-3 li a {
	display: block;
	font-size: 1.125rem;
}
.content-box-3 li a.active-list p {
	color: #c11920;
}
.content-box-3 li:first-child .index-icon {
	background-position: -83px 0;
}
.content-box-3 li:nth-child(2) .index-icon {
	background-position: -166px 0;
}
.content-box-3 li:nth-child(3) .index-icon {
	background-position: -248px 0;
}
.content-box-3 li:nth-child(4) .index-icon {
	background-position: -332px 0;
}
.content-box-3 li:nth-child(5) .index-icon {
	background-position: -415px 0;
}
.content-box-3 li:nth-child(6) .index-icon {
	background-position: -497px 0;
}
.content-box-3 li:nth-child(7) .index-icon {
	background-position: -580px 0;
}
.content-box-3 li:last-child .index-icon {
	background-position: -664px 0;
}
.white-block {
    width: 1.875rem;
    height: 1.875rem;
    background: #fff;
    right: -1rem;
    bottom: -1rem;
    z-index: 2;
}
.active {
	background-position: 0 0 !important;
	left: 0;
    opacity: .9;
    right: 0;
    margin: auto;
    display: none;
    top: 0;
}
.active-list .active {
	display: block;
}
.content-box-3 .content-box-3-right-title {
  	font-size: 1.25rem;
  	font-family: "Microsoft YaHei";
  	background: #c11920;
    border-bottom-right-radius: 1.875rem;
    border-bottom-left-radius: 1.875rem;
    width: 90%;
  	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2),0px 3px 6px rgba(0, 0, 0, 0.3);
}
.content-box-3 input {
	border: 1px solid #E9E9E9;
	outline: none;
	margin: auto;
	border-radius: 1.75rem;
	font-size: 1.125rem;
	padding: .5rem 0;
}
.content-box-3 form p {
	margin: auto;
}
.content-box-3 form .index-icon {
	width: 1.25rem;
	height: 1.25rem;
	top: .75rem;
    left: 1rem;
}
.content-box-3 .name-icon {
	background-position: -29px 96px;
}
.content-box-3 .phone-icon {
	background-position: 0 96px;
}
.content-box-3 .submit-btn a {
    background-image: -moz-linear-gradient( 0deg, rgb(219,30,38) 0%, rgb(194,25,32) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(219,30,38) 0%, rgb(194,25,32) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(219,30,38) 0%, rgb(194,25,32) 100%);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1),0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
	border-radius: 1.75rem;
	font-size: 1.125rem;
	padding: .65rem 0;
	display: block;
	margin: auto;
}
.content-box-3 .content-box-3-text {
	color: #3156a4;
	font-size: 1.125rem;
	background: #E9F0F8;
	line-height: 1.4rem;
    width: 90%;
    margin: auto;
}
.content-box-3 .content-box-3-text:after {
    content: '';
    position: absolute;
    border-bottom: 2.375rem solid #E9F0F8;
    border-right: 1.1875rem solid transparent;
    border-left: 0 solid transparent;
    left: 100%;
    top: 0;
}
.content-box-3 .content-box-3-text:before {
    content: '';
    position: absolute;
    border-bottom: 2.375rem solid #E9F0F8;
    border-left: 1.1875rem solid transparent;
    border-right: 0 solid transparent;
    right: 100%;
    top: 0;
}
.content-box-3 .content-box-3-text i {
    bottom: -3.4375rem;
    border-top: 3.4375rem solid #E9F0F8;
    border-left: 3.3125rem solid transparent;
    border-right: 0px solid transparent;
}
.content-box-3 ul {
	border-bottom: 2px solid #C11920;
}
.content-box-3 ul a p {
	font-size: .9rem;
}
.content-box-4 .title{
	background: linear-gradient(to right, #2598C5, #1C5DB4);
    -webkit-background-clip: text;
    text-shadow: none;
}
.content-box-4 .title:after {
	width: 16.625rem;
	height: .625rem;
    background-position: 0 -112px;
}
.content-box-4 .content-box-4-text {
	font-size: 1.1rem;
	line-height: 1.7;
}
.content-box-4 .content-box-4-bottom-list .index-icon {
	width: 1.875rem;
    height: 1.875rem;
}
.content-box-4 .content-box-4-bottom-list p {
	color: #217dbd;
}
.content-box-4 .content-box-4-bottom-list li:first-child .index-icon {
    background-position: 0 -174px;
}
.content-box-4 .content-box-4-bottom-list li:nth-child(2) .index-icon {
    background-position: -47px -174px;
}
.content-box-4 .content-box-4-bottom-list li:last-child .index-icon {
    background-position: -95px -174px;
}
.content-box-5 .tab-list li {
	background: #217DBD;
	font-size: 1.5rem;
	cursor: pointer;
	color: #fff;
	padding: .5rem;
	width: 25%;
}
.content-box-5 .tab-list p {
	font-size: .9rem;
	margin-bottom: 0;
}
.content-box-5 .tab-list .index-icon {
    width: 32px;
    height: 32px;
}
.content-box-5 .tab-list li:first-child .index-icon {
    background-position: -161px -176px;
}
.content-box-5 .tab-list li:nth-child(2) .index-icon {
    background-position: -213px -172px;
}
.content-box-5 .tab-list li:nth-child(3) .index-icon {
    background-position: -265px -174px;
}
.content-box-5 .tab-list li:nth-child(4) .index-icon {
    background-position: -317px -176px;
}
.content-box-5 .tab-list li:last-child .index-icon {
    background-position: -369px -172px;
}
.content-box-5 .tab-list li.tab-active {
	background: #eee;
	color: #1c5cb4;
}
.content-box-5 .tab-list li.tab-active:first-child .index-icon {
	background-position: -421px -176px;
}
.content-box-5 .tab-list li.tab-active:nth-child(2) .index-icon {
    background-position: -473px -172px;
}
.content-box-5 .tab-list li.tab-active:nth-child(3) .index-icon {
    background-position: -525px -174px;
}
.content-box-5 .tab-list li.tab-active:nth-child(4) .index-icon {
    background-position: -577px -176px;
}
.content-box-5 .tab-list li.tab-active:last-child .index-icon {
    background-position: -629px -172px;
}
.content-box-5 .list-content p {
	font-size: 1.125rem;
	line-height: 1.6;
}
.content-box-6 .doctor-bcg {
	background: #fff;
	border-radius: 20px;
    padding-top: 500px;
    top: 10%;
    z-index: 0;
}
.content-box-6 .row>div:not(:last-child) {
	z-index: 2;
}
.content-box-6 .doctor-img-box {
	width: 55%;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
  	box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05),0px 10px 20px 0px rgba(0, 0, 0, 0.05);
}
.content-box-6 .doctor-detail h2 {
	color: #1c5cb4;
}
.content-box-6 .doctor-detail p {
	margin-bottom: .5rem;
	color: #777;
}
.content-box-6 .doctor-detail h4 {
	line-height: 2.5;
}
.content-box-6 .doctor-detail .index-icon {
    width: 43px;
    height: 43px;
    background-position: 0 66px;
}
.content-box-6 .content-box-6-btn a {
    background: url(imgs/index-icon.png);
    width: 157px;
    height: 52px;
    line-height: 3.2;
    font-size: 1.125rem;
    background-size: 40rem;
    display: inline-block;
}
.content-box-6 .content-box-6-btn a span {
	color: #fff;
	padding-left: 2.5rem;
}
.content-box-6 .content-box-6-btn a span.check-detail {
	color: #1c5cb4;
}
.content-box-6 .content-box-6-btn a span {
    position: relative;
    bottom: 2px;
}
.content-box-6 .content-box-6-btn a:first-child {
    background-position: -65px -215px;
}
.content-box-6 .content-box-6-btn a:last-child {
    background-position: -253px -497px;
}
.banner-tab p {
	font-size: .7rem;
	margin-bottom: 0;
}
.doctor-tab li {
	background: #144E9C;
	width: 38%;
	border-radius: 90px;
	cursor: pointer;
}
.doctor-tab li.doctor-tab-active {
	background: #1C80E3;
}
.doctor-bcg-arrow {
    border-width: 1.25rem;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: -7%;
    left: 20%;
}
.doctor-banner {
	padding-bottom: 2.1875rem;
	margin-top: 2.5rem;
}
.swt-btn a {
	background-image: -moz-linear-gradient( 0deg, rgb(36,150,197) 0%, rgb(28,95,181) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(36,150,197) 0%, rgb(28,95,181) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(36,150,197) 0%, rgb(28,95,181) 100%);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1),0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
	border-radius: 4.375rem;
	font-size: 1.125rem;
}
.content-box-4-img-box {
	padding: 0 15px;
}


.content-footer {
	background: #333;
}
.content-footer .footer-logo, .content-footer .footer-qr-code {
	border-bottom: 1px solid #404040;
}
.content-footer .footer-qr-code {
	border-top: 1px solid #404040;
}
.content-footer .qr-code-box {
	border-radius: 10px;
    margin: auto;
    overflow: hidden;
}
.footer-icon {
	background: url(../jkz/imgs/sz-index-icon.png);
    background-size: 367px;
    display: inline-block;
}
.content-footer .phone .footer-icon {
    width: 21px;
    height: 20px;
    background-position: -60px -162px;
    vertical-align: middle;
    bottom: 3px;
}
.content-footer .phone {
    font-size: 1.5rem;
    font-family: '微软雅黑';
    color: #fff;
}
.content-footer .footer-text {
	color: #ccc;
}
.content-footer .footer-list-line {
	border-left: 1px solid #939393;
	border-right: 1px solid #939393;
	width: 35%;
}
.copy {
	display: none;
}