.content .right-content .brand_qs_nav {margin-top: 25px;}
.content .right-content .barnd_qs_nav1 i {background-image: url(../images/qs1.png);}  
.content .right-content .barnd_qs_nav1 {margin-bottom: 20px;}
.content .right-content .barnd_qs_nav3 i {background-image: url(../images/qs3.png);}
.content .right-content .brand_qs_nav i {display: block; width: 100px; height: 100px; margin: 0 auto 10px; transition: all linear .3s;    background-size: cover;}
.content .right-content .brand_qs_nav h3 {width: 4em; height: 50px; margin: 0 auto; line-height: 50px; font-size: 1.1rem; font-weight: normal;    border-bottom: 2px solid #C0272D;}
.content .right-content .brand_qs_nav p {margin: 10px 0 0 0; text-align: center !important;}
.content .right-content section {margin-bottom: 25px;}
.content .right-content section p {font-size: .8rem;}
.content .right-content section h1 {font-size: 1.4rem;text-align: center;color: #c11920;margin-top: 20px;}
.content .content-img {margin-top: 30px;}
.content .content-img li {text-align: center;}
.content .content-img2 {margin-top: 20px;}
.content .content-img2 li p{text-align: left;border: 1px solid #d4d3d3;padding: 1rem;    min-height: 12rem;display: flex;align-items: center;}
.content .btn {text-align: center;}
.content .btn a {color: #595757;padding: 5px 1rem;border: 1px solid #595757;display: inline-block;}
.content .content-banner {position: relative;}
.content .content-banner .left-btn, .content .content-banner .right-btn {width: 30px;height: 70px;position: absolute;top: 40%;cursor: pointer;z-index: 9;outline: none;}
.content .content-banner .arrow {border-left: 2px solid #bfbfbf;border-bottom: 2px solid #bfbfbf;display: inline-block;width: 20px;height: 20px; position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0;}
.content .content-banner .left-btn {left: 0;}
.content .content-banner .right-btn {right: 0;}
.content .content-banner .left-btn .arrow {transform: rotate(45deg);left: 10px;}
.content .content-banner .right-btn .arrow {transform: rotate(225deg);right: 10px;}
.content .tab {justify-content: center;}
.content .tab li {padding: 10px;background-color: #EEECED;margin: 0 5px;text-align: center;cursor: pointer;position: relative;transition: none;text-align: center;font-size: .9rem;}
.content .tab .on {background-color: #c11920; color: #fff;}
.content .tab .on .tab-arrow {border-color: #c11920 transparent transparent transparent; width: 30px;height: 30px;display: inline-block;position: absolute;bottom: -25px;left: 0;right: 0;margin: auto;border-style: solid;border-width: 15px;transition: none;}

.img-box {display: block;text-align: center;}