ul {
	margin: 0;
}
.banner {
	margin-top: 111px;
}
.content-title {
	border-bottom: 1px solid #D3D2D2;
}
.content-title:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 10rem;
	height: 2px;
	background-color: #CC0002;
}
.content-title p {
	font-size: 1.1rem;
}
.text-indent {
	text-indent: 2rem;
}
.swt-btn {
	background: url(imgs/swt-btn.png);
	background-size: cover;
    width: 19rem;
    line-height: 2.3rem;
    display: inline-block;
    padding-bottom: .3rem;
    padding-top: .17rem;
}
.content-box-2 {
	background: url(imgs/content-2-bcg.jpg);
	background-size: cover;
}
.content-box-3 .swt-btn {
	bottom: 1rem;
	left: 0;
	right: 0;
	margin: auto;
	width: 17rem;
    line-height: 1.95rem;
}
.content-box-4 .content-list h5 {
	color: #cc0002;
}
.content-box-4 .content-list h5:after {
	content: '';
	width: 4rem;
	height: 1px;
	background: #cc0002;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -.4rem;
	margin: auto;
}
.content-box-5 {
	background: #E7EDF2;
}