a {
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #fff;
}
ul {
	margin: 0;
}
p {
	font-size: .9rem;
}
.banner {
	margin-top: 120px;
}
.content-box-1 .content-title {
	background: url(imgs/title.png);
	background-size: cover;
	color: #f13038;
	bottom: 1.5rem;
}
.submit-btn a {
	background-color: #FF0000;
	font-size: 1.1rem;
}
.content-title {
	background: url(imgs/title02.png);
	background-size: cover;
	line-height: 2.15;
}
.content-box-2 p {
	text-indent: 2rem;
}