<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<title>体验中心_深圳牙科医院_口腔医生在线咨询_深圳德道口腔医院</title>
		<link rel="stylesheet" href="/static/css/bootstrap4.min.css">
		<link rel="stylesheet" href="/static/css/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/mobile/base.css">
		<link rel="stylesheet" href="/static/css/swiper.min.css">
		<link rel="stylesheet" href="/static/css/mobile/experience.css">
		<script src="/static/js/jquery-2.1.1.min.js"></script>
		<script src="/static/js/swiper.min.js"></script>
		<script src="/static/js/mobile-main.js"></script>
		<script src="http://swt.szddkqyy.com/JS/LsJS.aspx?siteid=MTI57225838&lng=cn"></script>
	</head>
	<body>
		<header class="pt-3 pb-2 border-bottom"></header>
		
		<section class="content-1">
			<div class="position-relative text-center">
					<img class="mt-2" src="/static/imgs/mobile/experience/content-1-bg.png"/>
					<a href="/swt/" class="content-2-btn position-absolute"><img src="/static/imgs/mobile/experience/content-1-btn.png" alt=""></a>
				</div>
		</section>
		
		<section class="content-2 pb-5">
			<div class="pt-2"><img src="/static/imgs/mobile/experience/content-2-title.png"/></div>
			<div class="mt-0 container pl-5 pr-5">
				<img src="/static/imgs/mobile/experience/content-2-img1.png"/>
				<img class="mt-4" src="/static/imgs/mobile/experience/content-2-img2.png"/>
				<img class="mt-4" src="/static/imgs/mobile/experience/content-2-img3.png"/>
				<img class="mt-4" src="/static/imgs/mobile/experience/content-2-img4.png"/>
				<img class="mt-4" src="/static/imgs/mobile/experience/content-2-img5.png"/>
			</div>
			<div class="w-50 mx-auto mt-2 zindex"><a href="/swt/"><img class="" src="/static/imgs/mobile/experience/content-2-btn.png"/></a></div>
		</section>
		
		<section class="content-3">
			<div class="content-3-title text-white text-center font-weight-bold">他们都在德道 体验了数字化高科技种牙</div>
			<h3 class="blue mt-2 font-weight-bold text-center">- 实现当天种牙 当天用 -</h3>
			<div class="position-relative container text-center pb-4">
			<div class="swiper-container">
    		<div class="swiper-wrapper">
      		<div class="swiper-slide"><img class="" src="/static/imgs/mobile/experience/content-3-img1.png"/></div>
      		<div class="swiper-slide"><img class="" src="/static/imgs/mobile/experience/content-3-img2.png"/></div>
      		<div class="swiper-slide"><img class="" src="/static/imgs/mobile/experience/content-3-img3.png"/></div>
      		<div class="swiper-slide"><img class="" src="/static/imgs/mobile/experience/content-3-img4.png"/></div>
    	</div>
    <!-- Add Pagination -->
  </div> 
    <div class="swiper-pagination l-4"></div>
  </div>
	</section>
	<footer></footer>
	</body>
	<script type="text/javascript">
		$('footer').load("/static/mobile-footer.html");
		
		$(function(){
	  var swiper = new Swiper('.swiper-container', {
      autoplay:true,
     pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
		})
	</script>
</html>
