<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<title>医院介绍_深圳牙科医院_口腔医生在线咨询_深圳德道口腔医院</title>
		<link rel="stylesheet" href="/static/css/bootstrap4.min.css">
		<link rel="stylesheet" href="/static/css/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/mobile/base.css">
		<link rel="stylesheet" href="/static/css/swiper.min.css">
		<link rel="stylesheet" href="/static/css/mobile/team.css">
		<script src="/static/js/jquery-2.1.1.min.js"></script>
		<script src="/static/js/swiper.min.js"></script>
		<script src="/static/js/mobile-main.js"></script>
		<script src="http://swt.szddkqyy.com/JS/LsJS.aspx?siteid=MTI57225838&lng=cn"></script>
	</head>
	<body>
		<header class="pt-3 pb-2 border-bottom"></header>
		
		<section class="content-1">
			<div class="position-relative text-center">
					<img class="mt-2" src="/static/imgs/mobile/team/banner.jpg"/>
					<a href="/swt/" class="content-2-btn position-absolute"><img src="/static/imgs/mobile/team/content-1-btn.png" alt=""></a>
				</div>
		</section>
		
		<section class="content-2">
			<div class="position-relative">
					<img src="/static/imgs/mobile/team/content-2-doctor.png"/>
				<div class="position-absolute absolute-bottom">
					<img src="/static/imgs/mobile/team/content-2-img1.png"/>
				</div>
			</div>
		</section>
		
		<section class="content-3">
			<div class="mt-4 container"><img src="/static/imgs/mobile/team/content-3-title.png"/></div>
			<div class="content-3-bg pt-4 mt-3 pb-4">
				<div class="">
					<img src="/static/imgs/mobile/team/content-3-img1.png"/>
                    <div class="container"><img class="mt-4" src="/static/imgs/mobile/team/content-3-img2.png"/></div>
                    <img class="mt-4" src="/static/imgs/mobile/team/content-3-img3.png"/>
                    <div class="container"><img class="mt-4" src="/static/imgs/mobile/team/content-3-img4.png"/></div>
				</div>
				<div class="text-center">
					<a class="text-white pl-3 pr-3 pt-2 pb-2 w-75 f-8 mt-4 mx-auto red" href="/swt/">预约院长定制即刻用种牙方案</a>
				</div>
			</div>
		</section>
		
		<section class="content-4">
			<div class="mt-4 container"><img src="/static/imgs/mobile/team/content-4-title.png"/></div>
			<div class="content-4-bg">
				<div class="container mt-3 pt-3 text-center pb-5">
					<p class="f-5 mb-0">数万缺牙市民当天恢复满口咀嚼 </p>
					<p class="f-5">克服身体条件差，牙槽骨薄、高龄等疑难病例</p>
					<img src="/static/imgs/mobile/team/content-4-img1.png"/>
				</div>
			</div>
		</section>
		
		<section class="content-5">
			<div class="container">
			<div class="mt-4 container"><img src="/static/imgs/mobile/team/content-5-title.png"/></div>
			<p class="f-5 mt-2 text-indent text-left">从李建君的专访了解到，像李建君为代表的种植牙医生，他们在其他大型口腔机构都是“院长”级别的专家，但是在德道他可能只是纯粹的种植牙医生，而这就是德道医疗的专家团队。</p>
			</div>
			<div class="content-5-bg">
				
				<div class="content-4-bcg position-relative mt-4">
			<div class="position-relative justify-content-between">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="position-relative pr-6"><img class="w-70" src="/static/imgs/mobile/team/content-5-doctor1.png" /></div>
						</div>
						<div class="swiper-slide">
							<div class="position-relative pr-6"><img class="w-75" src="/static/imgs/mobile/team/content-5-doctor2.png" /></div>
						</div>
						<div class="swiper-slide">
							<div class="position-relative pr-6"><img class="w-75" src="/static/imgs/mobile/team/content-5-doctor3.png" /></div>
						</div>
					</div>
				</div>
				<div class="right-text">
					<div class="position-absolute text-left pr-4">
						<div class="mt-3 ">
							<h3 class="">李建君</h3>
							<h6 class="">深圳德道口腔院长</h6>
						</div>
						<p class="mt-3 f-8">华南地区“AI+即刻用3.0”<br/>研发团队带头人北京、成都、<br/>深圳三城“即刻用”推广者</p>
						<div class="content-4-btn mt-4">
							<a class="text-white btn1 pl-3 w-60 text-center ml-5 pr-3 pt-1 pb-1" href="/swt/" target="_blank">在线咨询</a>
							<a class="text-white btn2 pl-3 mt-4 w-60 text-center ml-5 pr-3 pt-1 pb-1" href="/swt/" target="_blank">在线预约</a>
						</div>
					</div>
					<div class="position-absolute pr-5 text-left opacity-0">
						<div class="mt-3 " >
							<h3 class="">蔡明河</h3>
							<h6 class="">成都德道口腔院长 </h6>
						</div>
						<p class="mt-3 f-8">“即刻用”<br/>高难种植牙领域领军人物<br/>荣获口腔科十强好医生称号</p>
						<div class="content-4-btn mt-4">
							<a class="text-white btn1 pl-3 w-65 text-center ml-5 pr-3 pt-1 pb-1" href="/swt/" target="_blank">在线咨询</a>
							<a class=" text-white btn2 pl-3 mt-4 w-65 text-center ml-5 pr-3 pt-1 pb-1" href="/swt/" target="_blank">在线预约</a>
						</div>
					</div>
					<div class="position-absolute text-left pr-5 opacity-0">
						<div class="mt-3 ">
							<h3 class="">罗君</h3>
							<h6 class="">成都德道口腔技术总监 </h6>
						</div>
						<p class="mt-3 f-8">“AI+即刻用”<br/>种植牙西南研发组组长<br/>榜样中国五官科十大名医</p>
						<div class="content-4-btn mt-4">
							<a class="text-white btn1 pl-3 w-75 text-center pr-3 pt-1 pb-1 ml-5" href="/swt/" target="_blank">在线咨询</a>
							<a class="text-white btn2 pl-3 mt-4 w-75 text-center  pr-3 pt-1 pb-1 ml-5" href="/swt/" target="_blank">在线预约</a>
						</div>
					</div>
				</div>
			</div>
			<div class="doctor-tab d-flex position-absolute absolute-bottom justify-content-between">
				<div class=" mr-3 p-2 active-doctor ">
					<img src="/static/imgs/mobile/team/content-5-doctor-s1.jpg" alt="">
				</div>
				<div class="mr-3 p-2">
					<img src="/static/imgs/mobile/team/content-5-doctor-s2.jpg" alt="">
				</div>
				<div class="mr-3 p-2">
					<img src="/static/imgs/mobile/team/content-5-doctor-s3.jpg" alt="">
				</div>
			</div>
		</div>
			</div>
		</section>
		
		<section class="content-6">
			<img src="/static/imgs/mobile/team/content-6.jpg"/>
		</section>
		<footer></footer>
	</body>
	<script type="text/javascript">
		$('footer').load("/static/mobile-footer.html");
		$(function(){
			var clickTime = 0;
			var mySwiper = new Swiper('.content-5 .swiper-container', {
				 on: {
        slideChange: function () {
      var inx = this.activeIndex;
				mySwiper.slideTo(inx, 500, false);
				$('.doctor-tab>div').eq(inx).addClass('active-doctor').siblings('div').removeClass('active-doctor');
				clickTime = inx;
				move(inx);
    },
  },
			})
			$('.doctor-tab').on('click','div',function() {
				console.log(1)
				var inx = $(this).index();
				mySwiper.slideTo(inx, 500, false);
				$(this).addClass('active-doctor').siblings('div').removeClass('active-doctor');
				clickTime = inx;
				move(inx);
			})
		  
			function move(clickTime) {
				if(clickTime == 1) {
					$('.right-text>div').eq(0).css({'opacity': 0});
		
					$('.right-text>div').eq(1).css({'opacity': 1});
		
					$('.right-text>div').eq(2).css({'opacity': 0});
				}
				else if(clickTime == 0) {
					$('.right-text>div').eq(0).css({'opacity': 1});
		
					$('.right-text>div').eq(1).css({'opacity': 0});
		
					$('.right-text>div').eq(2).css({'opacity': 0});
				}
				else if(clickTime == 2) {
					$('.right-text>div').eq(0).css({'opacity': 0});
		
					$('.right-text>div').eq(1).css({'opacity': 0});
		
					$('.right-text>div').eq(2).css({'opacity': 1});
				}
			}
		})
	</script>
</html>
