.main_img{ width:100%; overflow:hidden; position:relative;}
.main_img .bd img{ width:100%;  display:block;  }

.brand_path{font-size: 0.8rem;text-align: right;line-height: 1rem; margin: 0.5rem;}
.brand_right_hd{display: inline-block;line-height: 2rem; font-size: 1.2rem;color: #000;font-weight: normal; border-bottom: 1px solid #C0272D; margin:0 0 0.8rem 1rem; }



/*品牌诠释*/
.brnad_qs_box{width:95%; font-size: 0.8rem;line-height: 1.2rem; color: #666; border: 1px solid #d6b375; border-bottom: 0; position: relative; margin: 3rem auto 1rem auto;}
.brnad_qs_box h2{width:90%;line-height:1.8rem;font-size: 1rem;padding: 0.8rem; font-weight: normal;color: #fff;text-align: center; background: #d6b375; border: 10px solid #fff;  position: absolute; top: -3rem; left: 50%; margin-left: -45%;}
.brnad_qs_box p{margin: 0.8rem 0 0 0; text-indent: 2em;}
.brnad_qs_box:before{content: ""; width: 3px; height: 108px; background: #d6b375; border-top: 5px solid #fff; border-bottom: 5px solid #fff; position: absolute; left: -2px; top: 130px;}
.brnad_qs_box:after{content: ""; width: 3px; height: 235px; background: #d6b375; border-top: 5px solid #fff; border-bottom: 5px solid #fff; position: absolute; right: -2px; top: 130px;}

.brnad_qs_bd{padding: 3rem 1rem 1rem 1rem;overflow: hidden; zoom: 1;}

.brand_qs_nav{width: 95%; margin: 0 auto;}
.brand_qs_nav li{border: 0;}
.brand_qs_nav h3{line-height: 2rem; font-size: 1.2rem;font-weight: normal; border-bottom: 2px solid #C0272D; text-align: center;}
.brand_qs_nav p{margin-top:0.5rem;font-size: 0.8rem;text-align: center;line-height: 1rem;}

.brand_qs_list,.brand_qs_list2{width: 100%; color: #2D2D2D; text-align: center; margin: 2rem 0;}
.brand_qs_list h2,.brand_qs_list2 h2{font-size: 1.8rem;color: #333333;font-weight: bold;text-align: center;border-bottom: 1px #000000 solid;position: relative; padding-bottom: 0.4rem;}
.brand_qs_list h2:after,.brand_qs_list2 h2:after{width: 7.5rem;border-bottom: 3px solid #C0272D;position: absolute;bottom: -2px;left: 50%;margin-left: -3.75rem;content: ' ';}
.brand_qs_list h2 p,.brand_qs_list2 h2 p{font-size: 1rem; font-weight: 100;line-height: 2rem;}

.brand_qs_list li{background: #f5f5f5; box-shadow:0px 3px 5px #d8d8d8; margin-top: 1rem; padding: 1rem 0.2rem; min-height: 12.5rem;}
.brand_qs_list .title{border-bottom: 1px solid #c4c4c4; margin-bottom: 1rem; padding-bottom: 0.5rem;}
.brand_qs_list li .title h3{font-size: 1.6rem; color: #c0272d;}
.brand_qs_list li .title p{font-size: 0.8rem; color: #2d2d2d;}
.brand_qs_list li p{color: #666666; font-size: 0.6rem;}

.brand_qs_list2 ul{width: 90%; margin: 1rem auto;}
.brand_qs_list2 li{text-align: left; font-size: 0.8rem; color: #666666; line-height: 2rem;}
.brand_qs_list2 li i{width: 5px; height: 12px; background: #C0272D; float: left; margin: 10px 10px 0 0;}
.brand_qs_list2 li:nth-child(odd){background: #f5f5f5;}

/*品牌荣誉*/
.brand_rongyu_info{width: 90%; padding:0.8rem; margin: 0 auto 1rem auto; font-size:0.8rem; text-indent: 2em; line-height:1.2rem;border: 1px solid #d6b375; border-bottom: 0; position: relative;}
.brand_rongyu_info:before{content: ""; width: 3px; height: 4rem; background: #d6b375; border-top: 5px solid #fff; border-bottom: 5px solid #fff; position: absolute; left: -2px; top: 2rem;}
.brand_rongyu_info:after{content: ""; width: 3px; height: 5rem; background: #d6b375; border-top: 5px solid #fff; border-bottom: 5px solid #fff; position: absolute; right: -2px; top: 1rem;}


.brand_rongyu_list{margin:0 0 40px 0;}
.brand_rongyu_list li{position:relative;padding: 0; margin-bottom: 1rem;}
.brand_rongyu_list li.big{}
.brand_rongyu_list li.nomr{margin-right: 0;}
.brand_rongyu_list li img{display: block;}

.brand_btns{width: 855px;margin: 60px auto;}
.brand_btns ul li{float: left;width: 240px;height: 240px;margin: 0 55px 0 0;;}
.brand_btns ul li.last{margin: 0;}
.brand_btns a{display: block;position: relative;width: 240px;height: 240px;overflow: hidden;transform-style: preserve-3d;}
.brand_btns i{display: block;margin: 0 auto 5px;padding:48px 0 0 0; font-size: 80px; color: #333;}
.brand_btns .brand_statu1{position: relative; z-index: 1; width: 240px;height: 240px;text-align: center;border: 1px solid #ccc; border-radius: 240px; transition: all linear .3s;}
.brand_btns .brand_statu1 b{display: block;font-size: 24px;color: #666;font-weight: normal;line-height: 35px;}
.brand_btns .brand_statu1 span{display: block;font-size: 16px;color: #666; font-family: Arial, Helvetica, sans-serif;}
.brand_btns .brand_statu2{opacity: 0; position: absolute;z-index: 2; left: 0;top: 0;width: 240px;height: 240px;border: 1px solid #ccc; border-radius: 240px; transform: rotate3d(0,1,0,180deg); transition: all linear .3s;display: none\9;}
.brand_btns .brand_statu2 p{width: 180px;margin:0 auto; padding: 55px 0 0 0;font-size: 16px;color: #666;line-height: 24px;}
.brand_btns .brand_statu2 span{position: absolute;left: 0;bottom: 0; width: 100%;height: 65px;font-size: 18px;line-height: 55px;text-align: center;color: #ccc;}
.brand_btns a:hover .brand_statu1{opacity: 0; transition: all linear .1s;}
.brand_btns a:hover .brand_statu2{opacity: 1; transform: rotate3d(0,1,0,0deg);display: block\9;}

/*品牌活动*/
.brand_zixun .hd{margin: 0 0 20px 0;}
.brand_zixun .hd a{float: left; position: relative; width: 205px;height: 60px;margin: 0 4px;text-align: center;line-height: 60px;font-size: 24px;color: #fff;background: #bbb;}
.brand_zixun .hd a i{ display: none; position: absolute;left: 50%;bottom: -9px;margin: 0 0 0 -8px;font-size: 0;width: 17px;height: 9px;background: url("../images/brand/tab_cur.png") no-repeat;}
.brand_zixun .hd a:hover,
.brand_zixun .hd a.on{background: #d2ab66;}
.brand_zixun .hd a.on i{display: block;}

.brand_zixun .bd{margin-top: 40px;}
.brand_zixun .bd li {overflow: hidden;margin-bottom: 20px;}
.brand_zixun .bd li img{width: 300px;}
.brand_zixun .bd li .time {margin-right: 30px;text-align:center;border: 2px solid #d2ab66;width:90px;padding: 0;}
.brand_zixun .bd li .time p{margin-bottom: 10px;text-align: center;}
.brand_zixun .bd li .time p.day {font-size: 48px;color:#707070;line-height: 68px;font-style: italic;}
.brand_zixun .bd li .time .date-m {background-color: #d2ab66;padding: 7px 0;margin-top: 3px;color:#fff;}

.brand_zixun .bd li .info{line-height: 1.5;width:620px; padding-left: 30px;}
.brand_zixun .bd li .info h3 {margin-bottom: 5px;}
.brand_zixun .bd li .info p.main {line-height: 1.8;}


/*尖端设备*/
.brand_sb{width: 855px;}
.brand_sb .bd{position: relative;width: 855px;height: 470px;margin:0 0 30px 0;overflow: hidden;}
.brand_sb .bd li{position: relative;height: 470px;}
.brand_sb .bd li img{display: block;width: 555px;height: 470px;}
.brand_sb .bd li .sb_intro{position: absolute;top:0;right:0;width: 360px;height: 100%;background: #222a2c;}
.brand_sb .bd li .sb_intro_inner{padding: 50px 20px;font-size: 16px;color: #777;line-height: 24px;}
.brand_sb .bd li h3{font-size: 26px;color: #e1e1e1; font-weight: normal; line-height: 45px;}
.brand_sb .bd li h4{margin:10px 0 0 0;font-size: 20px;font-weight: normal; line-height: 35px; color: #d1d1d1;}
.brand_sb .hd{position: relative;}
.brand_sb .hd .prev,.brand_sb .hd .next{position: absolute;top:50%;left:0;width: 30px;height: 66px;margin: -33px 0 0 0;background: url("../images/equipment/prev.png") no-repeat;}
.brand_sb .hd .next{left: auto;right: 0;background: url("../images/equipment/next.png") no-repeat;}
.brand_sb .hd_box{position: relative; width: 780px; height: 208px; overflow: hidden; margin: 0 auto;}
.brand_sb .hd ul{width: 500%; position: absolute;}
.brand_sb .hd li{float: left; position: relative; width: 190px;height: 208px;margin: 0 7px 0 0; cursor: pointer;}
.brand_sb .hd img{display: block;width: 190px;height: 212px;}
.brand_sb .hd li i{position: absolute;left: 0px; top: 0px; width: 190px; height: 208px;border: 2px solid #cecece; opacity: 0; display: none\9; transition: all linear .3s;}
.brand_sb .hd li.on i{border: 2px solid #cecece; opacity: 1; display: block\9;}


/*院内环境*/
.brand_hj_info{width: 90%; padding:1.2rem; margin: 1rem auto; font-size:0.8rem;line-height:1.6rem;border: 1px solid #d6b375; border-bottom: 0; position: relative;}
.brand_hj_info:before{content: ""; width: 3px; height: 93px; background: #d6b375; border-top: 5px solid #fff; border-bottom: 5px solid #fff; position: absolute; left: -2px; top: 54px;}
.brand_hj_info:after{content: ""; width: 3px; height: 93px; background: #d6b375; border-top: 5px solid #fff; border-bottom: 5px solid #fff; position: absolute; right: -2px; top: 100px;}
.slideBox{ position:relative; width:90%; overflow:hidden; margin:0.8rem auto; }
.slideBox .hd{ position:absolute; height:2.5rem; line-height:2.5rem; bottom:0; right:0; z-index:1; }
.slideBox .hd li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#fff; text-indent:-9999px; overflow:hidden; margin:0 6px;   }
.slideBox .hd li.on{ background:#C0272D;  }
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative;  }
.slideBox .bd li img{ width:100%;display:block;   }
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }
.slideBox .bd li .tit{ display:block; width:100%;  position:absolute; bottom:0; height:2.5rem; line-height:2.5rem; color:#fff; background: rgba(0,0,0,0.6);padding-left: 1rem;   }


/*交通指南*/
.traffic_box{margin-bottom: 20px;}



/*联系我们*/
.contacts_main {width: 90%; margin: 0 auto 2rem auto; color: #fff;}
.contacts_main a{ color:#fff; text-decoration:inherit; display:block;}
.contacts_main i{font-size: 5rem; margin-right: 1rem;}
.contacts_main p{font-size: 0.8rem;}
.contacts_main p.title{font-size: 1rem; font-weight: bold; margin-bottom: 0.6rem;}

.contacts_main .box_01{width: 100%; display: block; margin:1rem 1rem 1rem 0; padding: 2rem;}
.contacts_main .tel{ background:#C0272D;}
.contacts_main .liaotian{ background:#d9c6af;}

















