.foot-swt{max-width: 640px;margin: 0 auto;padding-top: 13.9%;}
.foot-swt .foot-swt-fixed{position: fixed;z-index: 999999;bottom: 0; width: 100%; max-width: 640px; /*background: url("http://swt.maiya120.com/yd/swt/swt_bg.png") left bottom no-repeat; background-size: 100% auto;*/}
.foot-swt ul{max-width:640px;margin: 0 auto;}
.foot-swt li{position: relative; float: left; width: 20%;}
.foot-swt li a{display: block;width: 100%;}
.foot-swt li i{position: absolute; right: 40%; top: 50%; width: 12px;height: 12px; text-align: center; line-height: 12px; color: #f4d62f; font-size: 10px; font-style: normal; background: #e3202b; border-radius: 50%;animation:hongdian 3s infinite linear;}
@keyframes hongdian{
    0%,80%,84%,90%,96%,100%{transform:translateY(0)}
    88%{transform:translateY(-5px)}
    92%{transform:translateY(-2px)}
}
/*.foot-swt li.fswt-3{width: 25%}*/
.foot-swt li a img{display:block; width: 100%;}
.swtLeftBtn{position: fixed;z-index:100;right: 10px;bottom: 200px;width: 50px; max-width: 102px; /*-moz-transition:transform .3s ease 0s;-webkit-transition:transform .3s ease 0s; transition:transform .3s ease 0s; -moz-transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-animation: pulse 30s infinite ease-out ; animation:pulse 30s infinite ease-out;*/}
.swtLeftBtn img{display: block;width: 100%;}