/*@media screen and (min-width:1440px) and (max-width:1600px){}*/
@media screen and (min-width:1440px){ /*大于等于1440*/
  .js_top a{ font-size:4rem;}
  .js_yyjs span{font-size:4.5rem; padding: 6px 23px 10px 23px; line-height:2.7rem;}
  .js_yyjs span font{ font-size:4.5rem;}
  .js_yyjs p{ font-size:3rem; padding-top:2%;}
  .js_yyjs p font{ font-size:2.1rem;}
  .js_tit{ font-size:6rem;}
  .js_tit i{ font-size:3rem;}
  .js_part1left p{ font-size:2rem; line-height:3.5rem;}
  .js_part1right li span a{ font-size:2.3rem;}
  .js_part2 p{ font-size:2rem;}  
  .js_part5 li p{ font-size:3.5rem;line-height:4rem;}
  .js_part6 .qbpj li{ font-size:3em;}
  .js_part6 .flpj li{font-size:3em;}
  .js_part7 li .top p{font-size:3.5rem;}
  .js_part7 li .bot{font-size:4rem;}
  .js_part8 .t span{font-size:5.5rem;}
  .js_part8 .c li{font-size:4rem;}
  .js_part8 .c li p{font-size:4.5rem;}
  .js_part8 .b li .xg{font-size:4.5rem;}
  .js_part8 .fb .text{font-size:4rem;}
  .js_bot a{font-size:5rem;}
  .js_part7s{ height:584px;}
  .jz_part3{ font-size:5rem; line-height:5rem;}
  .jz_part7 .top h2{font-size:5rem; line-height:5rem;}
  .jz_part7 .top span a{font-size:4rem;}
  .jz_part7 ul li p a{ font-size:4rem;line-height:6rem;}
  .jz_part5s{ height:1549px;}


}
@media screen and (min-width:1366px){ /*大于等于1366*/
  .js_top a{ font-size:3rem;}
  .js_yyjs span{font-size:3.5rem; padding: 6px 23px 10px 23px; line-height:2.7rem;}
  .js_yyjs span font{ font-size:3.5rem;}
  .js_yyjs p{ font-size:2rem; padding-top:2%;}
  .js_yyjs p font{ font-size:2.1rem;}
  .js_tit{ font-size:5rem;}
  .js_tit i{ font-size:2rem;}
  .js_part1left p{ font-size:2rem; line-height:2.5rem;}
  .js_part1right li span a{ font-size:2.3rem;}
  .js_part2 p{ font-size:2rem;}  
  .js_part5 li p{ font-size:2.5rem;line-height:4rem;}
  .js_part6 .qbpj li{ font-size:2em;}
  .js_part6 .flpj li{font-size:2em;}
   .js_part7 li .top p{font-size:2.5rem;}
  .js_part7 li .bot{font-size:2rem;}
  .js_part8 .t span{font-size:2.5rem;}
  .js_part8 .c li{font-size:2rem;}
  .js_part8 .c li p{font-size:2.5rem;}
  .js_part8 .b li .xg{font-size:2.5rem;}
  .js_part8 .fb .text{font-size:2rem;}
  .js_bot a{font-size:4rem;}
  .js_part7s{ height:584px;}
  .jz_part3{ font-size:5rem; line-height:5rem;}
  .jz_part7 .top h2{font-size:4rem; line-height:4rem;}
  .jz_part7 .top span a{font-size:3rem;}
  .jz_part7 ul li p a{ font-size:3rem;line-height:5rem;}
  .jz_part5s{ height:1549px;}

}
@media screen and (max-width:1280px){/*ipad mini*/
  .js_top a{ font-size:4rem;}
  .js_yyjs span{font-size:4.5rem; padding: 6px 23px 10px 23px; line-height:2.7rem;}
  .js_yyjs span font{ font-size:4.5rem;}
  .js_yyjs p{ font-size:2rem; padding-top:2%;}
  .js_yyjs p font{ font-size:2.1rem;}
  .js_tit{ font-size:5rem;}
  .js_tit i{ font-size:3rem;}
  .js_part1left p{ font-size:2rem; line-height:3.5rem;}
  .js_part1right li span a{ font-size:2.3rem;}
  .js_part2 p{ font-size:2rem;}  
  .js_part5 li p{ font-size:2.7rem;line-height:4rem;}
  .js_part5 li p a{ font-size:4rem;line-height:8rem;}
  .js_part6 .qbpj li{ font-size:2em;}
  .js_part6 .flpj li{font-size:2em;}
  .js_part7 li .top p{font-size:2.5rem;}
  .js_part7 li .bot{font-size:3rem;}
  .js_part8 .t span{font-size:3.5rem;}
  .js_part8 .c li{font-size:2rem;}
  .js_part8 .c li p{font-size:2.5rem;}
  .js_part8 .b li .xg{font-size:2.5rem;}
  .js_part8 .fb .text{font-size:2rem;}
  .js_bot a{font-size:4rem;}
  .js_part7s{ height:444px;}
  .jz_part3{ font-size:3.5rem; line-height:4rem;}
  .jz_part7 .top h2{font-size:4.5rem; line-height:4rem;}
  .jz_part7 .top span a{font-size:3rem;}
  .jz_part7 ul li p a{ font-size:3rem;line-height:4.5rem;}
  .jz_part5s{ height:1176px;}
    
}


@media screen and (max-width:1024px){/*ipad mini*/
  .js_top a{ font-size:4rem;}
  .js_yyjs span{font-size:4.5rem; padding: 6px 23px 10px 23px; line-height:2.7rem;}
  .js_yyjs span font{ font-size:4.5rem;}
  .js_yyjs p{ font-size:3rem; padding-top:2%;}
  .js_yyjs p font{ font-size:2.1rem;}
  .js_tit{ font-size:5rem;}
  .js_tit i{ font-size:3rem;}
  .js_part1left p{ font-size:2rem; line-height:3.5rem;}
  .js_part1right li span a{ font-size:2.3rem;}
  .js_part2 p{ font-size:2rem;}  
  .js_part5 li p{ font-size:2.7rem;line-height:4rem;}
  .js_part5 li p a{ font-size:4rem;line-height:8rem;}
  .js_part6 .qbpj li{ font-size:2em;}
  .js_part6 .flpj li{font-size:2em;}
  .js_part7 li .top p{font-size:2.5rem;}
  .js_part7 li .bot{font-size:3rem;}
  .js_part8 .t span{font-size:3rem;}
  .js_part8 .c li{font-size:2rem;}
  .js_part8 .c li p{font-size:2.5rem;}
  .js_part8 .b li .xg{font-size:2.5rem;}
  .js_part8 .fb .text{font-size:2rem;}
  .js_bot a{font-size:4rem;}
  .js_part7s{ height:444px;}
  .jz_part3{ font-size:3.5rem; line-height:4rem;}
  .jz_part7 .top h2{font-size:4.5rem; line-height:4rem;}
  .jz_part7 .top span a{font-size:3rem;}
  .jz_part7 ul li p a{ font-size:2.5rem;line-height:4.5rem;}
  .jz_part5s{ height:1176px;}
    
}
@media screen and (max-width:640px){ /*大于等于640*/
  .js_top a{ font-size:3.3rem;}
  .js_yyjs span{font-size:4rem; padding: 3px 15px 8px 15px; line-height:2.7rem;}
  .js_yyjs span font{ font-size:2.5rem;}
  .js_yyjs p{ font-size:3rem; padding-top:2%;}
  .js_yyjs p font{ font-size:2.1rem;}
  .js_tit{ font-size:3rem;}
  .js_tit i{ font-size:2rem;}
  .js_part1left p{ font-size:2rem; line-height:2.9rem;}
  .js_part1right li span a{ font-size:2.3rem;}
  .js_part2 p{ font-size:2rem;}
  .js_part5 li p{ font-size:1.7rem;line-height:2.5rem;}
  .js_part5 li p a{ font-size:2.5rem;}
  .js_part6 .qbpj li{ font-size:1.8rem;}
  .js_part6 .flpj li{font-size:1.7rem;}
  .js_part7 li .top p{font-size:1.7rem;}
  .js_part7 li .bot{font-size:1.8rem;}
  .js_part8 .t span{font-size:2.5rem;}
  .js_part8 .c li{font-size:1.5rem;}
  .js_part8 .c li p{font-size:2.2rem;}
  .js_part8 .b li .xg{font-size:2.2rem;}
  .js_part8 .fb .text{font-size:1.8rem;}
  .js_bot a{font-size:2.5rem;}
  .js_part7s{ height:276px;}
  .jz_part3{ font-size:2.3rem; line-height:2.5rem;}
  .jz_part7 .top h2{font-size:3rem;}
  .jz_part7 .top span a{font-size:2.2rem;}
  .jz_part7 ul li p a{ font-size:2rem;line-height:2.8rem;}
  .jz_part5s{ height:735px;}
  .qwzj_list li .cen .center .nr .zjn a{ font-size:3rem;}
  .qwzj_list li .cen .center .nr .zjn i{font-size:2rem;}
  .qwzj_list li .cen .center .nr p{font-size:2.2rem;}
  .qwzj_list{ height:978px;}
  .jishu11 li .js h4{font-size:2.2rem;}

  
}
@media screen and (max-width:480px){/*iphone6 plus*/
  .js_top a{ font-size:2.1rem;}
  .js_yyjs span{font-size:2.7rem; padding: 2px 12px 6px 12px; line-height:2rem;}
  .js_yyjs span font{ font-size:1.7rem;}
  .js_yyjs p{ font-size:2rem; padding-top:3%;}
  .js_yyjs p font{ font-size:1.7rem;}
  .js_tit{ font-size:2rem;}
  .js_tit i{ font-size:1.5rem;}
  .js_part1left p{ font-size:1.4rem; line-height:1.9rem;}
  .js_part1right li span a{ font-size:1.5rem;}
  .js_part2 p{ font-size:1.4rem;}
  .js_part5 li p{ font-size:1.5rem;line-height:2rem;}
  .js_part5 li p a{ font-size:1.6rem;line-height:4rem;} 
  .js_part6 .qbpj li{ font-size:1em;}
  .js_part6 .flpj li{font-size:1em;}
  .js_part7 li .top p{font-size:1.2rem;}
  .js_part7 li .bot{font-size:1.3rem;}
  .js_part8 .t span{font-size:2.2rem;}
  .js_part8 .c li{font-size:1.3rem;}
  .js_part8 .c li p{font-size:1.3rem;}
  .js_part8 .b li .xg{font-size:1.5rem;}
  .js_part8 .fb .text{font-size:1.3rem;}
  .js_bot a{font-size:1.8rem;}
  .js_part7s{ height:182px;}
  .jz_part3{ font-size:1.6rem; line-height:1.8rem;}
  .jz_part7 .top h2{font-size:2rem;}
  .jz_part7 .top span a{font-size:1.7rem;}
  .jz_part7 ul li p a{ font-size:1.4rem;line-height:1.5rem;}
  .jz_part5s{ height:475px;}
  .qwzj_list li .cen .center .nr .zjn a{ font-size:2.5rem;}
  .qwzj_list li .cen .center .nr .zjn i{font-size:1.7rem;}
  .qwzj_list li .cen .center .nr p{font-size:1.6rem;}
  .qwzj_list{ height:650px;}
  .jishu11 li .js h4{font-size:1.6rem;}
    
}
@media screen and (max-width:414px){/*iphone6 plus*/
  .js_top a{ font-size:2.1rem;}
  .js_yyjs span{font-size:2.7rem; padding: 2px 12px 6px 12px; line-height:2rem;}
  .js_yyjs span font{ font-size:1.7rem;}
  .js_yyjs p{ font-size:2rem; padding-top:3%;}
  .js_yyjs p font{ font-size:1.7rem;}
  .js_tit{ font-size:2rem;}
  .js_tit i{ font-size:1.5rem;}
  .js_part1left p{ font-size:1.4rem; line-height:1.9rem;}
  .js_part1right li span a{ font-size:1.5rem;}
  .js_part2 p{ font-size:1.4rem;}
  .js_part5 li p{ font-size:1.5rem;line-height:2rem;}
  .js_part5 li p a{ font-size:1.6rem;line-height:4rem;} 
  .js_part6 .qbpj li{ font-size:1em;}
  .js_part6 .flpj li{font-size:1em;}
  .js_part7 li .top p{font-size:1.2rem;}
  .js_part7 li .bot{font-size:1.3rem;}
  .js_part8 .t span{font-size:2rem;}
  .js_part8 .c li{font-size:1.3rem;}
  .js_part8 .c li p{font-size:1.3rem;}
  .js_part8 .b li .xg{font-size:1.5rem;}
  .js_part8 .fb .text{font-size:1.3rem;}
  .js_bot a{font-size:1.8rem;}
  .js_part7s{ height:182px;}
  .jz_part3{ font-size:1.6rem; line-height:1.8rem;}
  .jz_part7 .top h2{font-size:2rem;}
  .jz_part7 .top span a{font-size:1.7rem;}
  .jz_part7 ul li p a{ font-size:1.4rem;line-height:1.5rem;}
  .jz_part5s{ height:475px;}
  .qwzj_list li .cen .center .nr .zjn a{ font-size:2.2rem;}
  .qwzj_list li .cen .center .nr .zjn i{font-size:1.5rem;}
  .qwzj_list li .cen .center .nr p{font-size:1.4rem;}
  .qwzj_list{ height:596px;}
  .jishu11 li .js h4{font-size:1.4rem;}
    
}
@media screen and (max-width:400px){/**/
  .js_top a{ font-size:2.1rem;}
  .js_yyjs span{font-size:3rem; padding: 2px 12px 6px 12px; line-height:2rem;}
  .js_yyjs span font{ font-size:2rem;}
  .js_yyjs p{ font-size:2rem; padding-top:3%;}
  .js_yyjs p font{ font-size:1.7rem;}
  .js_tit{ font-size:2rem;}
  .js_tit i{ font-size:1.5rem;}
  .js_part1left p{ font-size:1.4rem; line-height:1.9rem;}
  .js_part1right li span a{ font-size:1.5rem;}
  .js_part2 p{ font-size:1.4rem;}
  .js_part5 li p{ font-size:1.5rem;line-height:2rem;}
  .js_part5 li p a{ font-size:1.5rem;line-height:4rem;} 
  .js_part6 .qbpj li{ font-size:1em;}
  .js_part6 .flpj li{font-size:1em;}
  .js_part7 li .top p{font-size:1.2rem;}
  .js_part7 li .bot{font-size:1.3rem;}
  .js_part8 .t span{font-size:2rem;}
  .js_part8 .c li{font-size:1.3rem;}
  .js_part8 .c li p{font-size:1.3rem;}
  .js_part8 .b li .xg{font-size:1.5rem;}
  .js_part8 .fb .text{font-size:1.3rem;}
  .js_bot a{font-size:1.8rem;}
  .js_part7s{ height:182px;}
  .jz_part3{ font-size:1.5rem; line-height:1.8rem;}
  .jz_part7 .top h2{font-size:2rem;}
  .jz_part7 .top span a{font-size:1.7rem;}
  .jz_part7 ul li p a{ font-size:1.3rem;line-height:1.5rem;}
  .jz_part5s{ height:459px;}
  .qwzj_list li .cen .center .nr .zjn a{ font-size:2.2rem;}
  .qwzj_list li .cen .center .nr .zjn i{font-size:1.5rem;}
  .qwzj_list li .cen .center .nr p{font-size:1.4rem;}
  .qwzj_list{ height:574px;}
  .jishu11 li .js h4{font-size:1.4rem;}
    
}
@media screen and (max-width:384px){/*iphone6*/
  .js_top a{ font-size:2rem;}
  .js_yyjs span{font-size:2.5rem; padding: 4px 10px 8px 10px; line-height:1.7rem;}
  .js_yyjs span font{ font-size:1.6rem;}
  .js_yyjs p{ font-size:1.7rem; padding-top:3%;}
  .js_yyjs p font{ font-size:1.4rem;}
  .js_tit{ font-size:1.8rem;}
  .js_tit i{ font-size:1.5rem;}
  .js_part1left p{ font-size:1.3rem; line-height:1.8rem;}
  .js_part1right li span a{ font-size:1.4rem;}
  .js_part2 p{ font-size:1.3rem;}
  .js_part5 li p{ font-size:1.4rem;line-height:1.8rem;} 
  .js_part5 li p a{ font-size:1.4rem; line-height:3.7rem;}
  .js_part6 .qbpj li{ font-size:1em;}
  .js_part6 .flpj li{font-size:1em;}
  .js_part7 li .top p{font-size:1rem;}
  .js_part7 li .bot{font-size:1.2rem;}
  .js_part8 .t span{font-size:1.9rem;}
  .js_part8 .c li{font-size:1.2rem;}
  .js_part8 .c li p{font-size:1.2rem;}
  .js_part8 .b li .xg{font-size:1.4rem;}
  .js_part8 .fb .text{font-size:1.2rem;}
  .js_bot a{font-size:1.7rem;}
  .js_part7s{ height:168px;}
  .jz_part3{ font-size:1.4rem; line-height:1.8rem;}
  .jz_part7 .top h2{font-size:1.9rem;}
  .jz_part7 .top span a{font-size:1.5rem;}
  .jz_part7 ul li p a{ font-size:1.2rem;line-height:1.5rem;}
  .jz_part5s{ height:431px;}
  .qwzj_list li .cen .center .nr .zjn a{ font-size:2.2rem;}
  .qwzj_list li .cen .center .nr .zjn i{font-size:1.5rem;}
  .qwzj_list li .cen .center .nr p{font-size:1.4rem;}
  .qwzj_list{ height:548px;}
  .jishu11 li .js h4{font-size:1.4rem;}
    
}

@media screen and (max-width:375px){/*iphone6*/
  .js_top a{ font-size:2rem;}
  .js_yyjs span{font-size:2.6rem; padding: 4px 10px 8px 10px; line-height:1.7rem;}
  .js_yyjs span font{ font-size:1.6rem;}
  .js_yyjs p{ font-size:1.7rem; padding-top:3%;}
  .js_yyjs p font{ font-size:1.4rem;}
  .js_tit{ font-size:1.8rem;}
  .js_tit i{ font-size:1.5rem;}
  .js_part1left p{ font-size:1.3rem; line-height:1.8rem;}
  .js_part1right li span a{ font-size:1.4rem;}
  .js_part2 p{ font-size:1.3rem;}
  .js_part5 li p{ font-size:1.4rem;line-height:1.8rem;} 
  .js_part5 li p a{ font-size:1.4rem; line-height:3.7rem;}
  .js_part6 .qbpj li{ font-size:1em;}
  .js_part6 .flpj li{font-size:1em;}
  .js_part7 li .top p{font-size:1rem;}
  .js_part7 li .bot{font-size:1.2rem;}
  .js_part8 .t span{font-size:1.8rem;}
  .js_part8 .c li{font-size:1.2rem;}
  .js_part8 .c li p{font-size:1.2rem;}
  .js_part8 .b li .xg{font-size:1.4rem;}
  .js_part8 .fb .text{font-size:1.2rem;}
  .js_bot a{font-size:1.7rem;}
  .js_part7s{ height:168px;}
  .jz_part3{ font-size:1.4rem; line-height:1.8rem;}
  .jz_part7 .top h2{font-size:1.9rem;}
  .jz_part7 .top span a{font-size:1.5rem;}
  .jz_part7 ul li p a{ font-size:1.2rem;line-height:1.5rem;}
  .jz_part5s{ height:431px;}
  .qwzj_list li .cen .center .nr .zjn a{ font-size:2.2rem;}
  .qwzj_list li .cen .center .nr .zjn i{font-size:1.5rem;}
  .qwzj_list li .cen .center .nr p{font-size:1.4rem;}
  .qwzj_list{ height:531px;}
  .jishu11 li .js h4{font-size:1.4rem;}
    
}
@media screen and (max-width:360px){/**/
  .js_top a{ font-size:2.1rem;}
  .js_yyjs span{font-size:2.5rem; padding: 2px 12px 2px 12px; line-height:2.2rem;}
  .js_yyjs span font{ font-size:1.6rem;}
  .js_yyjs p{ font-size:1.8rem; padding-top:3%;}
  .js_yyjs p font{ font-size:1.7rem;}
  .js_tit{ font-size:2rem;}
  .js_tit i{ font-size:1.3rem;}
  .js_part1left p{ font-size:1.3rem; line-height:2rem;}
  .js_part1right li span a{ font-size:1.3rem;}
  .js_part2 p{ font-size:1.4rem;}
  .js_part5 li p{ font-size:1.4rem;line-height:2rem;}
  .js_part5 li p a{ font-size:1.5rem;line-height:4rem;} 
  .js_part6 .qbpj li{ font-size:1em;}
  .js_part6 .flpj li{font-size:1em;}
  .js_part7 li .top p{font-size:1.2rem;}
  .js_part7 li .bot{font-size:1.3rem;}
  .js_part8 .t span{font-size:1.8rem;}
  .js_part8 .c li{font-size:1.3rem;}
  .js_part8 .c li p{font-size:1.3rem;}
  .js_part8 .b li .xg{font-size:1.5rem;}
  .js_part8 .fb .text{font-size:1.3rem;}
  .js_bot a{font-size:1.8rem;}
  .js_part7s{ height:182px;}
  .jz_part3{ font-size:1.6rem; line-height:1.8rem;}
  .jz_part7 .top h2{font-size:2rem;}
  .jz_part7 .top span a{font-size:1.7rem;}
  .jz_part7 ul li p a{ font-size:1.1rem;line-height:1.8rem;}
  .jz_part5s{ height:413px;}
  .qwzj_list li .cen .center .nr .zjn a{ font-size:2rem;}
  .qwzj_list li .cen .center .nr .zjn i{font-size:1.3rem;}
  .qwzj_list li .cen .center .nr p{font-size:1.2rem;}
  .qwzj_list{ height:505px;}
  .jishu11 li .js h4{font-size:1.2rem;}
    
}

@media screen and (max-width:320px){/*iphone4,iphone5*/
  .js_top a{ font-size:1.7rem;}
  .js_yyjs span{font-size:2.5rem; padding: 4px 10px 6px 10px; line-height:1.7rem;}
  .js_yyjs span font{ font-size:1.6rem;}
  .js_yyjs p{ font-size:1.5rem; padding-top:4%;}
  .js_yyjs p font{ font-size:1.3rem;}
  .js_tit{ font-size:1.5rem;}
  .js_tit i{ font-size:1rem;}
  .js_part1left p{ font-size:1rem; line-height:1.8rem;}
  .js_part1right li span a{ font-size:1.2rem;}
  .js_part2 p{ font-size:1rem;}
  .js_part5 li p{ font-size:1rem;line-height:1.5rem;} 
  .js_part5 li p a{ font-size:1.2rem; line-height:3rem;}
  .js_part6 .qbpj li{ font-size:1em;}
  .js_part6 .flpj li{font-size:1em;}
  .js_part7 li .top p{font-size:1rem;}
  .js_part7 li .bot{font-size:1.2rem;}
  .js_part8 .t span{font-size:1.6rem;}
  .js_part8 .c li{font-size:1rem;}
  .js_part8 .c li p{font-size:1rem;}
  .js_part8 .b li .xg{font-size:1.2rem;}
  .js_part8 .fb .text{font-size:1rem;}
  .js_bot a{font-size:1.5rem;}
  .js_part7s{ height:158px;}
  .jz_part3{ font-size:1.2rem; line-height:1.8rem;}
  .jz_part7 .top h2{font-size:1.6rem;}
  .jz_part7 .top span a{font-size:1.2rem;}
  .jz_part7 ul li p a{ font-size:1.1rem;line-height:1.5rem;}
  .jz_part5s{ height:367px;}
  .qwzj_list li .cen .center .nr .zjn a{ font-size:2rem;}
  .qwzj_list li .cen .center .nr .zjn i{font-size:1.3rem;}
  .qwzj_list li .cen .center .nr p{font-size:1.2rem;}
  .qwzj_list{ height:441px;}
  .jishu11 li .js h4{font-size:1.2rem;}
}


