*{
	margin: 0;
	text-decoration: none;
    font-family: '微软雅黑';
}
ol, ul {
	list-style: none;
	padding: 0;
}
a {
	display: block;
}
img {
	max-width: 100%;
    vertical-align: middle;
}
section {
	position: relative;
	color: #fff;
}
body {
	background-color: #08257C;
}
.center {
	text-align: center;
}
.flex {
	display: flex;
}



.activity-bcg {
	padding: 10%;
}
.activity-bcg h1 {
	font-size: 1.6rem;
	color: #f2d527;
}
.activity-bcg h1 span {
	font-weight: 100;
}
.activity-msg {
	color: #f2d527;
	line-height: 1;
	text-transform: uppercase;
	font-family: '宋体';
}
.activity-text {
	margin-top: 1rem;
    font-size: .8rem;
    line-height: 2;
}
.doctor-title-text, .media-title-text {
    line-height: 1;
    font-size: .8rem;
}
.doctor-title, .media-title {
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #27408B;
    position: relative;
    margin-top: 2rem;
    font-size: .9rem;
}

.doctor-title h1, .media-title h1 {
	font-size: 1.6rem;
}
.doctor-title h1 span, .media-title h1 span {
	font-weight: 100;
	font-family: 'Adobe 黑体 Std';
	line-height: 0;
}
.doctor-title:after, .media-title:after {
	content: '';
	width: 20%;
	margin: auto;
	background-color: #5466A4;
	height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.doctor-text, .media-text {
    width: 80%;
    text-align: left;
    margin: auto;
    font-size: .9rem;
}
.doctor-detail, .doctor-msg {
    position: absolute;
    bottom: 0;
    background: rgba(49, 54, 66, .7);
    left: 0;
    right: 0;
    transition: all .5s ease;
}
.doctor-msg {
    text-align: center;
    padding-bottom: 6%;
}
.doctor-msg .doctor-position {
    color: #fff;
    margin-bottom: 5px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .8rem;
}
.doctor-detail {
    color: #fff;
    top: 100%;
    z-index: 9;
    opacity: 0;
    padding-left: 5%;
    padding-right: 5%;
}
.doctor-name span {
    font-size: .9rem;
    margin-left: .6rem;
}
.doctor-msg .doctor-name:after {
    content: '';
    width: 20%;
    height: 3px;
    background: #fff;
    margin: auto;
    display: block;
    top: 5px;
    position: relative;
}
.doctor-name {
    color: #fff;
    font-size: 1.25rem;
    margin: 6% 0;
    font-weight: 600;
    margin-bottom: 5%;
    text-align: center;
}
.doctor-detail div {
    margin: 10% 0;
    font-size: .8rem;
}
.doctor-detail .be-good-porject {
    margin-top: 15%;
}
.doctor-detail .doctor-btn {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    display: none;
}
.doctor-detail .doctor-btn a {
    color: #fff;
    border: 1px solid #fff;
    padding: .3rem 1rem;
    display: inline-block;
    font-size: .8rem;
}
.doctor-list li>div {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.doctor-list {
	justify-content: space-around;
	flex-wrap: wrap;
    margin-bottom: 1rem;
}
.doctor-list li {
    width: 45%;
    margin-top: 2rem;
}
.local {
	margin: 15px 0;
}
.media-text {
    width: 90%;
    font-size: .9rem;
}
.media-logo {
    padding-bottom: 2rem;
}
.media-logo li {
	width: 90%;
	background: #fff;
    margin: auto;
	margin-top: 5%;
}

.section6{
	background-color: #09247c;
}
.section6-content{
	background-color: #071038 ;
	align-items: center;
	position: relative;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.section6-content-right{
    width: 80%;
    margin: auto;
    padding: 1rem 0;
}


.section6-input-text{
	justify-content: space-between;
    margin-top: 1rem;
}
.section6-input-text .must {
    color: #fff;
    margin: 5px 0;
}
.section6-input-text .section6-input-text-small:first-child {
    padding-right: 2.5%;
}
.section6-input-text .section6-input-text-small:last-child {
    padding-left: 2.5%;
}
.section6-input-text .section6-input-text-small {
	padding: 5px 0 0 0;
}

.section6-input-text input[type="text"] {
    height: 2rem;
    width: 100%;
    color: #555;
    border: 0;
    background-color: #fff;
    padding: .6rem;
    display: block;
    outline: none;
    box-sizing: border-box;
}

.section6-input-text .checkbox-box .checkbox-item span {
	color: #fff;
}

.section6-btn a {
    background: #2956b4;
    color: #fff;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 4% 0;
}

.doctor-detail>div>p {
	margin: 5px 0;
}
.media-title {
    margin-top: 0;
    padding: 1rem;
}
.media-title-text {
    color: #9b9b9b;
}

#form1 {
    display: block;
}