*{
	margin: 0;
	text-decoration: none;
    font-family: 'Adobe 黑体 Std';
	color: #333;
    text-align: center;
}
ol, ul {
	list-style: none;
	padding: 0;
}
a {
	display: inline-block;
}
i {
	display: inline-block;
	font-family: normal;
}
img {
	max-width: 100%;
    vertical-align: middle;
}
section {
	position: relative;
}
body {
    overflow: hidden;
}
.flex {
    display: flex;
}
.unshow{
	display: none;
}
.copy{
	position: fixed;
    bottom: 1%;
    width: 100%;
    font-size: 0.4rem;
    color: #fff;
}

.next {
    position: absolute;
    margin: auto;
    bottom: 17%;
    left: 0;
    right: 0;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    background: url(imgs/next-btn.png);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 16rem;
    line-height: 3.5rem;
}

.banner .next {
    background: url(imgs/btn.png);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 15rem;
    line-height: 3.5rem;
}
.banner-box {
    border-radius: 5px;
    font-size: 1rem;
    border: 2px dotted #1d63a4;
    color: #1d63a4;
    width: 72%;
    margin: auto;
    line-height: 1.25;
    text-align: left;
    text-indent: 2rem;
    padding: 4%;
}
.banner, .content2, .content3, .content4 {
    position: relative;
    padding: 50% 0 70% 0;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    -o-background-size: cover !important;
}
.banner {
    background: url(imgs/content1.jpg);
    padding: 87% 0 53% 0;
}
.banner-bcg-color {
    background-color: #F1ECE8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.content2 {
    background: url(imgs/content2.jpg);
    padding: 60% 0 61% 0;
}
.content-bcg-color {
    background-color: #0d7deb;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.content3 {
    background: url(imgs/content3.jpg);
    padding: 70% 0 50% 0;
}
.content4 {
    background: url(imgs/content4.jpg);
    padding: 49% 0 45% 0;
}
.content2-list {
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 3%;
}
.content2-list li {
    width: 25%;
    margin: 3% 0%;
}
.content2-list li div {
    position: relative;
    border-radius: 50%;
    border: 3px solid transparent;
}
.content2-list li div.content2-active {
    border-color: #ff9400;
}
.content2-list li div .checked {
    width: 100%;
    background: url(imgs/checked.png);
    padding: 50% 0px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    transform: scale(0.5);
    bottom: 15%;
}
.content2-list li p, .content3-box li p {
    color: #fff;
    font-size: .7rem;
    margin-top: .5rem;
    line-height: 1;
    text-shadow: 0 1px black, 1px 0 black, -1px 0 black, 0 -1px black;
}
.content2 .next {
    bottom: 14%;
}

.content3-box {
    padding: 0 5%;
}
.content3-box h4 {
    text-align: left;
    margin: 3% 0;
    color: #E85657;
    font-size: 1.2rem;
}
.content3-box li div {
    box-shadow: 3.392px 2.12px 0px 0px rgba(108, 55, 55, 0.71);
    background: #fff;
    width: 2rem;
    height: 2rem;
    margin: auto;
    position: relative;
}
.content3-box .age {
    justify-content: space-around;
}
.content3-box .sex li:first-child {
    margin: 0 10%;
}
.content3-age-check, .content3-sex-check {
    background: url(imgs/checked2.png);
    width: 100%;
    position: absolute;
    padding: 50% 0;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    left: 0;
}
.content3 .next {
    bottom: 14%;
}

.content4 .result {
    width: 80%;
    margin: auto;
}
.content4 .result:before {
    content: '';
    width: 103%;
    display: block;
    border-radius: 20px;
    background-color: #165FA4;
    height: 10px;
    position: relative;
    right: 5px;
}

.content4 .content4-txt{
	font-size: 0.8rem;
    width: 90%;
    margin: 2% auto;
    color: #fff;
    text-align: justify;
}

.content4 .content4-input {
	width: 88%;
	margin: 0 auto;
	margin-top: 5%;
    background: url(imgs/content4-input.gif) no-repeat center top;
    background-size: 90%;
    padding-top: 4%;
}
.content4 .content4-input h2{
	color: #ffef40;
	font-weight: bold;
	font-size: 0.6rem;
    margin-bottom: 5%;
}
.content4 .content4-input input, .popup-input input {
    width: 75%;
    border-radius: 3px;
    margin-bottom: 15px;
    outline: none;
    border: none;
    font-size: 0.8rem;
    padding: 4px 0;
    box-shadow: 3.392px 2.12px 2px 0px rgba(150, 102, 102, 0.57);
    background-color: rgb(232, 244, 255);
}
.content4-next {
    bottom: 13%;
}

.content4 .content4-satisfaction {
	width: 88%;
	margin: 0 auto;
	margin-top: 5%;
}

.content4 .content4-satisfaction p{
	color: #c72550;
	font-weight: bold;
}
.content4 .content4-satisfaction ul{
	padding: 5%;
    justify-content: space-around;
}


.popup {
    background: url(imgs/popup.png);
    width: 90%;
    margin: auto;
    position: absolute;
    padding: 8% 0 19%;
    left: 0;
    right: 0;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    top: 20%;
    z-index: 2;
    min-height: 165px;
}
.popup-input {
    margin-top: 43%;
}
.popup input {
    width: 83%;
    padding: 5px 0;
}
.bcg-000 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}
.close {
    background: url(imgs/close.png);
    position: absolute;
    right: -15px;
    top: 8%;
    width: 2.15rem;
    height: 2.15rem;
}
.popup .next {
    bottom: 4%;
    width: 16rem;
}